{% load i18n %}
<footer class="footer" {% if theme %}style='--theme-color: {{theme.theme_color}};'{% endif %}>
    <div class="footer-container">
        <div>2025 The {{site_title}}</div>
        <div>
            <a href="{% url 'keep-about' %}">{% trans 'About' %}</a> |
            {% if theme %}
                {% for artist in theme.theme_artists.all %}
                    {% if artist.credit_link %}
                        <a href='{{ artist.credit_link }}'>{% trans 'Original Art by' %} {{ artist.name }}</a> |
                    {% else %}
                        <a href='{{ artist.get_absolute_url }}'>{% trans 'Original Art by' %} {{ artist.name }}</a> |
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if user.profile.player %}
                <a href="{{rdb_feedback_invite}}">Discord</a> |
            {% endif %}
            <a href="{% url 'general-feedback' %}">{% trans 'Feedback' %}</a>
        </div>
    </div>
</footer>