{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}

<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1><a class="navbar-brand mr-4 root-title" href="{% url 'keep-home' %}">Root Database</a></h1>
                  <!-- Middle: Search Bar -->
          
                  {% include 'the_keep/partials/universal_search.html' %}

      
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav align-items-center mr-auto">
            <a class="nav-item nav-link" href="{% url 'keep-home' %}">Archive</a>
            <a class="nav-item nav-link" href="{% url 'games-home' %}">War Room</a>
            <a class="nav-item nav-link" href="{% url 'asset-list' %}">Workshop</a>
          </div>



          


          <!-- Navbar Right Side -->
          <div class="navbar-nav ms-auto align-items-center"> 
              {% comment %} {% if user.profile.designer %}

                  <!-- Dropdownn for new content -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        New
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'faction-create' %}">Faction</a></li>
                        <li><a class="dropdown-item" href="{% url 'vagabond-create' %}">Vagabond</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'map-create' %}">Map</a></li>
                        <li><a class="dropdown-item" href="{% url 'deck-create' %}">Deck</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'landmark-create' %}">Landmark</a></li>
                        <li><a class="dropdown-item" href="{% url 'hireling-create' %}">Hireling</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'expansion-create' %}">Expansion</a></li>
                        <li><a class="dropdown-item" href="{% url 'tweak-create' %}">Tweak</a></li>
                      </ul>
                    </li>
              {% endif %} {% endcomment %}

              {% if user.is_authenticated %}



                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="user-icon img-fluid mr-1" src="{{ user.profile.image.url }}">
                      {{ user.profile.name }}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'player-detail' user.profile.slug %}"><i class="bi bi-person-circle"></i> Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'user-bookmarks' %}"><i class="bi bi-bookmark-check-fill"></i> My Bookmarks ({{ user_bookmarks_count }})</a></li>
                      {% if user_games_count %}
                      <li><a class="dropdown-item" href="{% url 'player-games' user.profile.slug %}"><i class="bi bi-collection-play-fill"></i> My Games ({{ user_games_count }})</a></li>
                      {% endif %}
                      {% if user_posts_count %}
                      <li><a class="dropdown-item" href="{% url 'player-detail' user.profile.slug %}"><i class="bi bi-collection-fill"></i> My Posts ({{ user_posts_count }})</a></li>
                      {% endif %}

                      
                      {% if user_recent_posts or user.profile.designer %}
                      <li><hr class="dropdown-divider"></li>
                      {% endif %}

                      <li><a class="dropdown-item" href="{% url 'new-components' %}"><i class="bi bi-plus-square"></i> New Post</a></li>

                      {% if user_recent_posts %}
                      <h6 class="dropdown-header">My Recent Posts</h6>
                        {% for user_post in user_recent_posts %}
                            <li><a class="dropdown-item" href="{{ user_post.get_absolute_url }}">{% if user_post.small_icon %}<img class="faction-icon" src="{{ user_post.small_icon.url }}">{% endif %}{{ user_post.title }} - {{ user_post.component }}</a></li>
                        {% endfor %}
                        
                      {% endif %}
                      <li><hr class="dropdown-divider"></li>

                      {% if user.is_superuser %}
                          <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-shield-lock-fill"></i> Admin Site</a></li>
                      {% endif %}
                      {% if user.profile.admin %}
                          <li><a class="dropdown-item" href="{% url 'players-list' %}"><i class="bi bi-people-fill"></i> Users</a></li>
                      {% endif %}

                      <li><a class="dropdown-item" href="{% url 'user-settings' %}"><i class="bi bi-gear-wide-connected"></i> Settings</a></li>
                      <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i class="bi bi-door-open"></i> Sign Out</a></li>
                    </ul>
                  </li>




              {% else %}
                  <a class="nav-item nav-link" href="{% provider_login_url 'discord' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'general-feedback' %}">Feedback</a>
              {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'keep-about' %}">About</a>
                </li>
          </div>
        </div>
      </div>
    </nav>
  </header>