
{% load allauth socialaccount i18n %}
{% get_providers as socialaccount_providers %}

<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top" {% if theme %}style='--theme-color: {{theme.theme_color}};'{% endif %}>
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1><a class="navbar-brand mr-4 root-title" href="{% url 'site-home' %}">{{site_title}}</a></h1>
                  <!-- Middle: Search Bar -->
          
                  {% include 'the_keep/partials/universal_search.html' %}

      
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav align-items-center mr-auto">
            <a class="nav-item nav-link" href="{% url 'archive-home' %}">
              {% trans 'Archive' %}
            </a>
            <a class="nav-item nav-link position-relative" href="{% url 'games-home' %}">
              {% trans 'Battlefield' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'asset-list' %}">
              {% trans 'Workshop' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'law-home' %}">
              {% trans 'Laws' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'faq-home' %}">
              {% trans 'FAQ' %}
            </a>
          </div>



          


          <!-- Navbar Right Side -->
          <div class="navbar-nav ms-auto align-items-center"> 

              {% if user.is_authenticated %}

                {{ django_language }}

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="user-icon img-fluid mr-1" src="{{ user.profile.image.url }}">
                      {{ user.profile.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a class="dropdown-item" href="{% url 'player-detail' user.profile.slug %}"><i class="bi bi-person-circle mr-1"></i> {% trans 'Profile' %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'user-bookmarks' %}"><i class="bi bi-bookmark-check-fill mr-1"></i> {% trans 'My Bookmarks' %} ({{ user_bookmarks_count }})</a></li>
                      {% if user_games_count or user_active_games_count %}
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="{% url 'player-games' user.profile.slug %}">
                            <span class="position-relative">
                              <i class="bi bi-collection-play-fill mr-1"></i>
                              {% if user_active_games_count %}
                                <span class="notification-badge">
                                  {{ user_active_games_count }}
                                </span>
                              {% endif %}
                            </span>
                            <span class='ml-1'>
                            {% trans 'My Games' %} ({{ user_games_count }})
                            </span>
                          </a>
                        </li>
                      {% endif %}
                      {% if user_scorecard_count or user_active_scorecards_count %}
                        
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="{% url 'scorecard-home' %}">
                            <span class="position-relative">
                              <i class="bi bi-graph-up mr-1"></i>
                              {% if user_active_scorecards_count %}
                                <span class="notification-badge">
                                  {{ user_active_scorecards_count }}
                                </span>
                              {% endif %}
                            </span>
                            <span class='ml-1'>
                            {% trans 'My Scorecards' %} ({{ user_scorecard_count }})
                            </span>
                          </a>
                        </li>
                      
                      {% endif %}

                      
                      {% if user_recent_posts or user.profile.designer %}
                      <li><hr class="dropdown-divider"></li>
                      {% endif %}

                      {% comment %} {% if user_recent_posts %}
                      <li><a class="dropdown-item" href="{% url 'player-detail' user.profile.slug %}"><i class="bi bi-collection"></i> {% trans 'My Posts' %}</a></li>
                      {% endif %} {% endcomment %}

                      {% if user.profile.designer %}
                      <li><a class="dropdown-item" href="{% url 'post-request' %}"><i class="bi bi-plus-square mr-1"></i> {% trans 'New Post' %}</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="{% url 'post-request' %}"><i class="bi bi-plus-square mr-1"></i> {% trans 'Request Post' %}</a></li>
                      {% endif %}

                      {% if user_recent_posts %}
                      {% comment %} <h6 class="dropdown-header">{% trans 'My Recent Posts' %}</h6> {% endcomment %}
                        {% for user_post in user_recent_posts %}
                            <li><a class="dropdown-item" href="{{ user_post.get_absolute_url }}">{% if user_post.small_icon %}<img class="faction-icon mr-1" src="{{ user_post.small_icon.url }}">{% endif %}{{ user_post.title }} - {{ user_post.component }}</a></li>
                        {% endfor %}
                        
                      {% endif %}
                      <li><hr class="dropdown-divider"></li>

                      {% if user.profile.admin %}
                          <li><a class="dropdown-item" href="{% url 'admin-dashboard' %}"><i class="bi bi-shield-lock-fill mr-1"></i> {% trans 'Admin Dashboard' %}</a></li>
                      {% endif %}

                      <li><a class="dropdown-item" href="{% url 'user-settings' %}"><i class="bi bi-gear-wide-connected mr-1"></i> {% trans 'Settings' %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i class="bi bi-door-open mr-1"></i> {% trans 'Sign Out' %}</a></li>
                    </ul>
                  </li>




              {% else %}

  


                  <a class="nav-item nav-link" href="{% provider_login_url 'discord' %}">{% trans 'Login' %}</a>
                  <a class="nav-item nav-link" href="{% url 'general-feedback' %}">{% trans 'Feedback' %}</a>


                  
                  <a class="nav-item nav-link" href="{% url 'keep-about' %}">{% trans 'About' %}</a>
                  
                  
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-translate"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <form action="{% url 'set_language_custom' %}" method="post" id="language-form">
                    {% csrf_token %}
                    {% for code, name in LANGUAGES %}
                      {% get_language_info for code as lang %}
                      <li>
                        <button type="submit" name="language" value="{{ code }}" class="dropdown-item {% if code == LANGUAGE_CODE %}active{% endif %}">
                          {{ lang.name_local|capfirst }}
                        </button>
                      </li>
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  </form>
                </ul>
              </li>


              {% endif %}
   

          </div>
        </div>
      </div>
    </nav>
  </header>