
{% load allauth socialaccount i18n custom_filters static %}
{% get_providers as socialaccount_providers %}

<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top" {% if theme %}style='--theme-color: {{theme.theme_color}};'{% endif %}>
      <div class="container">
        <h1><a class="navbar-brand me-4 root-title" href="{% url 'site-home' %}"><img class="brand-icon" src="{% static 'images/favicon.png' %}" alt="">{{site_title}}</a></h1>
                  <!-- Middle: Search Bar -->

                  {% include 'the_keep/partials/universal_search.html' %}


        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarMain" aria-labelledby="navbarMainLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title root-title" id="navbarMainLabel"><img class="brand-icon" src="{% static 'images/favicon.png' %}" alt="">{{ site_title }}</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          <div class="navbar-nav align-items-lg-center me-auto">
            <a class="nav-item nav-link" href="{% url 'archive-home' %}">
              {% trans 'Archive' %}
            </a>
            <a class="nav-item nav-link position-relative" href="{% url 'games-home' %}">
              {% trans 'Battlefield' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'asset-list' %}">
              {% trans 'Workshop' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'law-home' %}">
              {% trans 'Laws' %}
            </a>
            <a class="nav-item nav-link" href="{% url 'faq-home' %}">
              {% trans 'FAQ' %}
            </a>
          </div>


          <!-- Navbar Right Side -->
          <div class="navbar-nav ms-auto align-items-lg-center">

              {% if user.is_authenticated %}

                {{ django_language }}

                  <!-- Desktop: avatar dropdown (lg and up) -->
                  <li class="nav-item dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="md-avatar-icon img-fluid me-1" src="{{ user.profile.image.url }}">
                      {{ user.profile.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      {% include 'includes/_user_menu_items.html' %}
                    </ul>
                  </li>

                  <!-- Mobile: flat user list inside the offcanvas (below lg) -->
                  <div class="d-lg-none w-100 mobile-user-menu">
                    <hr class="mobile-section-divider">
                    <div class="mobile-user-header d-flex align-items-center">
                      <img class="lg-avatar-icon img-fluid me-2" src="{{ user.profile.image.url }}">
                      <span class="fw-bold">{{ user.profile.name }}</span>
                    </div>
                    <ul class="navbar-nav">
                      {% include 'includes/_user_menu_items.html' %}
                    </ul>
                  </div>

              {% else %}

                  <a class="nav-item nav-link" href="{% provider_login_url 'discord' %}">{% trans 'Login' %}</a>
                  <a class="nav-item nav-link" href="{% url 'general-feedback' %}">{% trans 'Feedback' %}</a>
                  <a class="nav-item nav-link" href="{% url 'keep-about' %}">{% trans 'About' %}</a>

              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-translate"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <form action="{% url 'set_language_custom' %}" method="post" id="language-form">
                    {% csrf_token %}
                    {% for code, name in LANGUAGES %}
                      {% get_language_info for code as lang %}
                      <li>
                        <button type="submit" name="language" value="{{ code }}" class="dropdown-item {% if code == LANGUAGE_CODE %}active{% endif %}">
                          {{ lang.name_local|capfirst }}
                        </button>
                      </li>
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  </form>
                </ul>
              </li>


              {% endif %}


          </div>
          </div>
        </div>
        <button class="navbar-toggler ms-auto order-last" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
