{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<article class="media content-section">
    <div class="media-body">

    <h1 class='root-title'>
        {% blocktrans with provider.name as provider %}Sign In{% endblocktrans %}
    </h1>
    {% element p %}
        {% blocktrans with provider.name as provider %}You are about to sign in using your existing {{ provider }} Account. You will be redirected to Discord to review these permissions.{% endblocktrans %}
    {% endelement %}

    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
        <!-- Login with Discord Form -->
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-external-link"></i> 
            {% blocktrans with provider.name as provider %}
            Continue to {{ provider }}
            {% endblocktrans %}
        </button>
        {% endslot %}
    {% endelement %}

    </div>
</article>
{% endblock content %}
