{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags static i18n %}
{% block title %}{% trans "Sign In" %} | {% endblock %}


{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="Sign In - The Root Database">
<meta property="og:description" content="Log in to the Root Database to record games and update your profile.">
<meta name="description" content="Log in to the Root Database to record games and update your profile.">
{% endblock meta%}

{% block content %}
<div class="discord-login-page">
    <div class="login-card">

        <h1 class="root-title">{% trans "Sign In" %}</h1>

        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button class="custom-btn w-100 mt-2" style="--button-color: var(--theme-color);" type="submit">{% trans "Sign In" %}</button>
        </form>

        {% if SOCIALACCOUNT_ENABLED %}
        <a href="{% url 'discord_login' %}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value|urlencode }}{% endif %}"
           class="btn btn-discord w-100 mt-3">
            <i class="bi bi-discord"></i> {% trans "Login with Discord" %}
        </a>
        {% endif %}

    </div>
</div>
{% endblock content %}
