{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
    <h1 class='root-title'>
        {% trans "Sign Out" %}
    </h1>
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-sign-out-alt"></i> {% trans 'Sign Out' %}
        </button>
        {% endslot %}
    {% endelement %}
    </div>
</article>
{% endblock content %}
