{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags static i18n %}
{% block title %}{% trans "Password Reset" %} | {% endblock %}


{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="Password Reset - The Root Database">
<meta property="og:description" content="Reset your Root Database password.">
<meta name="description" content="Reset your Root Database password.">
{% endblock meta%}

{% block content %}
<div class="discord-login-page">
    <div class="login-card">

        <h1 class="root-title">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-muted">
            {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="custom-btn w-100 mt-2" style="--button-color: var(--theme-color);" type="submit">{% trans "Reset My Password" %}</button>
        </form>

        <p class="text-muted mt-3 mb-0">
            <small>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</small>
        </p>

    </div>
</div>
{% endblock content %}
