{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags static i18n %}
{% block title %}{% trans "Set Password" %} | {% endblock %}

{% block content %}
<div class="discord-login-page">
    <div class="login-card">

        <h1 class="root-title">{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form | crispy }}
            <button class="custom-btn w-100 mt-2" style="--button-color: var(--theme-color);" type="submit">{% trans "Set Password" %}</button>
        </form>

    </div>
</div>
{% endblock content %}
