{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags static i18n %}
{% block title %}{% trans "Change Password" %} | {% endblock %}

{% block content %}
<div class="discord-login-page">
    <div class="login-card">

        <h1 class="root-title">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form | crispy }}
            <button class="custom-btn w-100 mt-2" style="--button-color: var(--theme-color);" type="submit">{% trans "Change Password" %}</button>
        </form>

        <div class="mt-2">
            <small class="text-muted">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </small>
        </div>

    </div>
</div>
{% endblock content %}
