<article class="media content-section">
    <img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.designer.discord %}">{{ object.designer.discord }}</a>

            <small class="text-muted">{{ object.date_updated | date:"Y-m-d" }}</small>
        </div>
            <h2>{{ object.title }}</h2>
            <p class="article-content">{{ object.expansion.title }}</p>
            {% if object.component == 'Faction' or object.component == 'Hireling' or object.component == 'Vagabond' %}
                <p class="article-content">Animal: {{ object.animal }}</p>
            {% endif %}


        <p class="article-content">{{ object.description }}</p>

        {% if object.component == 'Deck' %}
            <p class="article-content">{{ object.card_total }} Cards</p>
        {% endif %}

        <p class="article-content">{{ object.status }}</p>
        <p class="article-content">{{ object.plays }} Recorded Plays</p>


        {% if object.component == 'Map' %}
        <p class="article-content">{{ object.clearings }} Clearings</p>
        {% endif %}

        {% if object.component == 'Landmark' %}
            <p class="article-content">{{ object.card_text }}</p>
        {% endif %}

        {% if object.component == 'Faction' or object.component == 'Vagabond' %}
            <p class="article-content">{{ object.wins }} Recorded Wins</p>
            <p class="article-content">{{ object.winrate|floatformat:2 }}% Winrate</p>
        {% endif %}

        {% if object.component == 'Faction' or object.component == 'Hireling' %}
            <p class="article-content">Type: {{ object.type }}</p>  
            {% if object.based_on %}
                Based on: <a class="mr-2" href="{% url object.component|lower|add:'-detail' object.based_on.slug %}">{{ object.based_on }}</a><br>
                by <a class="mr-2" href="{% url 'user-posts' object.based_on.designer.discord %}">{{ object.based_on.designer.discord }}</a>
            {% endif %}
        {% endif %}

        
        {% if object.artist %}
        <div class="article-metadata">
            Art by 
            <a class="mr-2" href="{% url 'artist-posts' object.artist.discord %}">{{ object.artist }}</a>
        </div>
        {% endif %}

        <div class="border p-2">Links:
        {% if object.bgg_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.bgg_link }}">Board Game Geek Post</a>
        </p>
        {% endif %}
        {% if object.tts_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.tts_link }}">Tabletop Simulator</a>
        </p>
        {% endif %}
        {% if object.ww_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.ww_link }}">Woodland Warriors Thread</a>
        </p>
        {% endif %}
        {% if object.wr_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.wr_link }}">{% if object.official %}Find at Leder Games{% else %}Weird Root Thread{% endif %}</a>
        </p>
        {% endif %}
        {% if object.pnp_link  %}
                <p class="article-content">
                    <a class="mr-2" href="{{ object.pnp_link }}">Print & Play Files</a>
                </p>
        {% endif %}
        </div>


    </div>
</article>
{% if object.designer == user.profile %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url object.component|lower|add:'-update' object.slug %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
</div>
{% endif %}