
<img class="rounded-square article-img" src="{{ faction.designer.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' faction.designer.username %}">{{ faction.designer }}</a>
        <small class="text-muted">{{ faction.date_updated | date:"Y-m-d" }}</small>
    </div>
        <h2>{{ faction.title }}</h2>
    <p class="article-content">{{ faction.description }}</p>
    <p class="article-content">{{ faction.status }}</p>
    <p class="article-content">{{ faction.wins }} Total Wins</p>
    <p class="article-content">{{ faction.plays }} Total Plays</p>
    <p class="article-content">{{ faction.winrate }} Winrate</p>
    {% if faction.based_on %}
        Based on: <a class="mr-2" href="{% url 'faction-detail' faction.based_on.slug %}">{{ faction.based_on }}</a><br>
        by <a class="mr-2" href="{% url 'user-posts' faction.based_on.designer.username %}">{{ faction.based_on.designer }}</a>
    {% endif %}
     {% if faction.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' faction.artist.username %}">{{ faction.artist }}</a>
    </div>
    {% endif %}
</div>