
<img class="rounded-square article-img" src="{{ hireling.designer.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' hireling.designer.username %}">{{ hireling.designer }}</a>
        <small class="text-muted">{{ hireling.date_updated | date:"Y-m-d" }}</small>
    </div>
        <h2>{{ hireling.title }}</h2>
    <p class="article-content">{{ hireling.type }}</p>
    <p class="article-content">{{ hireling.animal }}</p>
    <p class="article-content">{{ hireling.description }}</p>
    <p class="article-content">Status: {{ hireling.status }}</p>
    <p class="article-content">Stable: {{ hireling.stable_ready }}</p>
    <p class="article-content">{{ hireling.plays }} Total Plays</p>
    <p class="article-content">{{ hireling.plays_since_update }} Recent Plays</p>
    <p class="article-content">{{ hireling.expansion.name }}</p>
     {% if hireling.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' hireling.artist.username %}">{{ hireling.artist }}</a>
    </div>
    {% endif %}
</div>