
<img class="rounded-square article-img" src="{{ landmark.designer.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' landmark.designer.username %}">{{ landmark.designer }}</a>
        <small class="text-muted">{{ landmark.date_updated | date:"Y-m-d" }}</small>
    </div>
        <h2>{{ landmark.title }}</h2>
    <p class="article-content">{{ landmark.description }}</p>
    <p class="article-content">{{ landmark.card_text }}</p>
    <p class="article-content">{{ landmark.status }}</p>
    <p class="article-content">{{ landmark.expansion.name }}</p>
     {% if landmark.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' landmark.artist.username %}">{{ landmark.artist }}</a>
    </div>
    {% endif %}
</div>