
<img class="rounded-square article-img" src="{{ map.designer.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' map.designer.username %}">{{ map.designer }}</a>
        <small class="text-muted">{{ map.date_updated | date:"Y-m-d" }}</small>
    </div>
        <h2>{{ map.title }}</h2>
    <p class="article-content">{{ map.description }}</p>
    <p class="article-content">{{ map.clearings }}</p>
    <p class="article-content">{{ map.status }}</p>
    <p class="article-content">{{ map.plays }} Total Plays</p>
    <p class="article-content">{{ map.expansion.name }}</p>
     {% if map.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' map.artist.username %}">{{ map.artist }}</a>
    </div>
    {% endif %}
</div>