

<img class="rounded-square article-img" src="{{ post.designer.profile.image.url }}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.designer.username %}">{{ post.designer.profile }}</a>
        <small class="text-muted">{{ post.date_updated | date:"Y-m-d" }}</small>
    </div>
        {% if post.official %}Official {% else %}Fan Made {% endif %}{{ post.component }}
        <h2><a class="article-title" href="{% url post.component|lower|add:'-detail' post.slug %}">{{ post.title }}</a></h2>
<!-- Compnent specific Info -->




<!-- End component specific Info -->
    <p class="article-content">{{ post.description }}</p>
     {% if post.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' post.artist.username %}">{{ post.artist }}</a>
    </div>
    {% endif %}
</div>