# Mac
.DS_Store

project_env/
profiles.csv
game_test.csv
blog/migrations/
blog/__pycache__/
the_gatehouse/migrations/
the_gatehouse/__pycache__/
the_keep/migrations/
the_keep/__pycache__/
the_tavern/migrations/
the_tavern/__pycache__/
the_warroom/migrations/
the_warroom/__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/