# Mac
.DS_Store

project_env/
blog/migrations/
blog/__pycache__/
the_gatehouse/migrations/
the_gatehouse/__pycache__/
the_keep/migrations/
the_keep/__pycache__/
the_tavern/migrations/
the_tavern/__pycache__/
the_warroom/migrations/
the_warroom/__pycache__/

media/boards/
media/component_pictures/
media/deck_images/
media/faction_boards/
media/faction_icons/
media/profile_pics/
media/small_component_icons/
media/cards/
media/background_images/
media/foreground_images/
media/small_images/
media/rules/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
datadump.json
dumpdata.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/