<article class="content-section">
    <div class="d-flex justify-content-between align-items-top">
    <div class="d-flex">
        <img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
        <h1 {% if object.color %} style="text-decoration: underline; text-decoration-thickness: 7px; text-decoration-color: {{ object.color }};"{% endif %}>{{ object.title }}</h1>
    </div>
    <div class="d-flex flex-nowrap">


            {% if object.designer == user.profile and user.profile.designer %}
                    <div>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-2" href="{% url object.component|lower|add:'-update' object.slug %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        
                    </div>
            {% endif %}
            
            {% if stable_ready %}
                {% if stable_ready|first %}
                <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1 mr-2" href="{% url 'confirm-stable' object.slug %}"><i class="bi bi-check"></i> Stable</a>
                </div>
                {% endif %}
            {% endif %}
            {% if testing_ready %}
                <div>
                    <a class="btn btn-primary btn-sm mt-1 mb-1 mr-2" href="{% url 'confirm-testing' object.slug %}"><i class="bi bi-play-fill"></i> Testing</a>
                </div>
            {% endif %}
            <!-- Bookmarks -->
            {% if user.is_authenticated %}
                {% include 'the_keep/partials/bookmarks.html' %}
            {% endif %}
        </div>
</div>
<div>
            <div>
                {% if object.component == 'Faction' or object.component == 'Hireling' or object.component == 'Vagabond' %}
                    {{ object.animal }}
                {% endif %}
                {{ object.component }} by 
                {% if user.profile.player %}
                    <a class="mr-2" href="{% url 'player-detail' object.designer.slug %}">{{ object.designer.name }}</a>
                {% else %}
                    {{ object.designer.name }}
                {% endif %}
            </div>
                <small class="text-muted">{{ object.date_updated |date:"F j, Y" }}</small>
</div>
<div>
                {% if object.expansion %}
                    <div>
                        <a class="mr-2" href="{% url 'expansion-detail' object.expansion.slug %}">{{ object.expansion.title }}</a>
                    </div>
                {% endif %}

    
                {% if object.artist %}
                <div>
                    Art by 
                    <a class="mr-2" href="{% url 'player-detail' object.artist.slug %}">{{ object.artist.name }}</a>
                </div>
                {% endif %}
                {% if object.based_on %}
                    Based on: <a href="{% url object.based_on.component|lower|add:'-detail' object.based_on.slug %}">{{ object.based_on }}</a>
                    by <a class="mr-2" href="{% url 'player-detail' object.based_on.designer.slug %}">{{ object.based_on.designer.name }}</a>
                {% endif %}


            
            </div>

            {% if object.lore %}
                <p class="lore-content mt-2">{{ object.lore }}</p>
            {% endif %}


            <p>Status: 
                {% if object.status == '1' %}
                    <span class="text-success">{{ object.get_status_display }}</span>
                    <i class="bi bi-check-circle-fill text-success"></i>
                {% elif object.status == '2' %}
                    <span class="text-primary">{{ object.get_status_display }}</span>
                    <i class="bi bi-play-circle-fill text-primary"></i>
                {% elif object.status == '3' %}
                    <span class="text-warning">{{ object.get_status_display }}</span>
                    <i class="bi bi-wrench-adjustable-circle-fill text-warning"></i>
                {% elif object.status == '4' %}
                    <span class="text-secondary">{{ object.get_status_display }}</span>
                    <i class="bi bi-pause-circle-fill text-secondary"></i>
                {% else %}
                    <span class="text-dark">{{ object.get_status_display }}</span>
                    <i class="bi bi-x-circle-fill text-dark"></i>
                {% endif %}
            </p>




</article>