{% load static i18n %}

{% if available_law or available_faq %}
<article class="d-flex content-section">
    <div class="w-100">

    <div class='d-flex justify-content-center align-items-center'>
      {% if available_law %}
        <div class="d-flex justify-content-center align-items-center {{ col_class }}">
            <a href="{{ available_law.get_absolute_url }}"
              class="d-flex flex-column align-items-center text-center soft-clickable-segment">
            <span><i class="bi bi-book"></i> {% trans 'View Law of Root' %}</span>
          </a>
        </div>
      {% endif %}
  
      {% if available_faq %}
        <div class="d-flex justify-content-center align-items-center {{ col_class }}">
          <a href="{% url 'faq-view' slug=object.slug language_code=language_code %}"
             class="d-flex flex-column align-items-center text-center soft-clickable-segment">
            <span><i class="bi bi-info-circle"></i> {% trans 'View FAQ' %}</span>
          </a>
        </div>
      {% endif %}
  

    </div>
</div>
  </article>
  {% endif %}