<article class="content-section">
<div class="d-flex flex-wrap justify-content-between">
    <div class="d-flex">
        <img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
        <h1>{{ object.title }}</h1>
    </div>
    <div class="d-flex">
            {% if stable_ready %}
                {{ stable_ready }}
            {% else %}
                Not Ready
            {% endif %}
            <!-- Bookmarks -->
            {% if user.is_authenticated %}
                {% include 'the_keep/partials/bookmarks.html' %}
            {% endif %}
            {% if object.designer == user.profile and user.profile.designer %}
                    <div>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 ml-2" href="{% url object.component|lower|add:'-update' object.slug %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        
                    </div>
            {% endif %}
        </div>
</div>
<div>
            <div>
                {{ object.component }} by 
                {% if user.profile.player %}
                    <a class="mr-2" href="{% url 'player-detail' object.designer.slug %}">{{ object.designer.name }}</a>
                {% else %}
                    {{ object.designer.name }}
                {% endif %}
            </div>
                <small class="text-muted">{{ object.date_updated |date:"F j, Y" }}</small>
</div>
<div>
                {% if object.expansion %}
                    <div>
                        <a class="mr-2" href="{% url 'expansion-detail' object.expansion.slug %}">{{ object.expansion.title }}</a>
                    </div>
                {% endif %}
                {% if object.component == 'Faction' or object.component == 'Hireling' or object.component == 'Vagabond' %}
                    <div>Animal: {{ object.animal }}</div>
                {% endif %}
    
                {% if object.artist %}
                <div>
                    Art by 
                    <a class="mr-2" href="{% url 'player-detail' object.artist.slug %}">{{ object.artist.name }}</a>
                </div>
                {% endif %}
                {% if object.based_on %}
                    Based on: <a href="{% url object.based_on.component|lower|add:'-detail' object.based_on.slug %}">{{ object.based_on }}</a>
                    by <a class="mr-2" href="{% url 'player-detail' object.based_on.designer.slug %}">{{ object.based_on.designer.name }}</a>
                {% endif %}


            
            </div>

            {% if object.lore %}
                <p class="lore-content mt-2">{{ object.lore }}</p>
            {% endif %}


            <p>Status: {{ object.status }}</p>




</article>