{% load static i18n %}

{% if available_law or available_faq %}
<article class="media content-section">
    <div class="media-body">

    <div class='d-flex justify-content-center align-items-center'>
      {% if available_law %}
        <div class="d-flex justify-content-center align-items-center {{ col_class }}">
          <a href="{% url 'law-view' slug=available_law.group.slug lang_code=language_code %}"
             class="d-flex flex-column align-items-center text-center soft-clickable-segment">
            <img class="wide-icon mb-1" src="{% static 'images/link_icons/law2.webp' %}" alt="Law of Root">
            {% comment %}<span>{% trans 'Law of Root' %}</span>{% endcomment %}
          </a>
        </div>
      {% endif %}
  
      {% if available_faq %}
        <div class="d-flex justify-content-center align-items-center {{ col_class }}">
          <a href="{% url 'faq-view' slug=object.slug lang_code=language_code %}"
             class="d-flex flex-column align-items-center text-center soft-clickable-segment">
            
            <span><i class="bi bi-info-circle"></i> {% trans 'FAQ' %}</span>
          </a>
        </div>
      {% endif %}
  

    </div>
</div>
  </article>
  {% endif %}