<!-- Component Images-->
{% if object_card_image_url or object_card_2_image_url %}
<div class='d-flex flex-wrap justify-content-around align-items-center gap-3'>
    {% if object_card_image_url and component != "Captain" %}
    <div>
        {% comment %} <img class="mb-1 adset-img" src="{{ object_card_image_url }}"> {% endcomment %}
        <picture>
            <img 
                class="mb-1 adset-img zoomable"
                src="{{ object_card_image_url }}"
                data-full="{{ object_card_image_url }}"
                onclick="openLightbox(this)"
                alt="Card image"
                loading="lazy"
            >
        </picture>

    </div>
    {% endif %}
    {% if object_card_2_image_url and component != "Vagabond"  %}
    <div>
        {% comment %} <img class="mb-1 adset-img" src="{{ object_card_2_image_url }}"> {% endcomment %}
        <picture>
            <img 
                class="mb-1 adset-img zoomable"
                src="{{ object_card_2_image_url }}"
                data-full="{{ object_card_2_image_url }}"
                onclick="openLightbox(this)"
                alt="Other Card Image"
                loading="lazy"
            >
        </picture>
    </div>
    {% endif %}
</div>
{% endif %}


{% if object_board_image_url %}
<div class="text-center">
    <picture>
        {% if small_board_image_url %}
            <source media="(max-width: 500px)" srcset="{{ small_board_image_url }}">
        {% endif %}
        <img
            class="mb-1 rounded-corner-img responsive-img zoomable"
            src="{{ object_board_image_url }}"
            data-full="{{ object_board_image_url }}"
            onclick="openLightbox(this)"
            alt="Board image"
            loading="lazy"
        >
    </picture>
</div>
{% endif %}

{% if object_board_2_image_url %}
<div class="text-center">
    <picture>
        {% if small_board_2_image_url %}
            <source media="(max-width: 500px)" srcset="{{ small_board_2_image_url }}">
        {% endif %}
        <img
            class="mb-1 rounded-corner-img responsive-img zoomable"
            src="{{ object_board_2_image_url }}"
            data-full="{{ object_board_2_image_url }}"
            onclick="openLightbox(this)"
            alt="Board image"
            loading="lazy"
        >
    </picture>
</div>
{% endif %}