{% load i18n %}
<div class="accordion" id="faq-accordion">
    {% for faq in faqs %}
      <div class="accordion-item">
        <div class="accordion-header" onclick="toggleAccordion(this)">
          {{ faq.question }}
        </div>
        <div class="accordion-body">
            <div class='d-flex justify-content-between align-items-center'>
                <div>
                  <div style="white-space: pre-line;">
                      {{ faq.answer }}
                  </div>
                  <div>
                      {% for reference in faq.reference_laws.all %}
                        {% include 'the_keep/partials/law_reference.html' %}
                      {% endfor %}
                  </div>
                </div>
                {% if faq_editable %}
                    <div>
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'faq-edit' pk=faq.id %}"><i class="bi bi-pencil-square"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
      </div>
    {% empty %}
      {% if available_languages %}
        <div class="alert alert-warning text-center my-1">
          {% blocktrans %}
          No {{selected_language}} FAQs available.
          {% endblocktrans%}
        </div>
      {% else %}
        <div class="alert alert-warning text-center my-1">{% trans 'No FAQs available.' %}</div>
      {% endif %}
    {% endfor %}
  </div>