{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if object.board_image %}{{object.board_image.url}}{% elif object.card_image %}{{object.card_image.url}}{% else %}{{ object.picture.url }}{% endif %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ object.title }}">
<meta property="og:description" content="{{ object.get_type_display }} {% if not object.official %}Fan {% endif %}Hireling by {{ object.designer.name }}{% if object.based_on %} for {{ object.based_on.title }} by {{ object.based_on.designer.name }}{% endif %}{% if object.lore %} - {{ object.lore }}{% elif object.description %} - {{ object.description }}{% endif %}">
<meta name="description" content="{{ object.get_type_display }} {% if not object.official %}Fan {% endif %}Hireling by {{ object.designer.name }}{% if object.based_on %} for {{ object.based_on.title }} by {{ object.based_on.designer.name }}{% endif %}{% if object.lore %} - {{ object.lore }}{% elif object.description %} - {{ object.description }}{% endif %}">
{% endblock meta%}

<article class="media content-section">
    <div class="media-body">
        
    <h2>{{ object.get_type_display }} Hireling Details</h2>


        {% if object.board_image %}
            <img class="rounded-corner-img responsive-img" src="{{ object.board_image.url }}">
        {% endif %}

        {% include 'the_keep/partials/pieces.html' %}

        {% if object.other_side %}
        <a href="{{ object.other_side.get_absolute_url }}">
            <div>
            <h3>{{ object.other_side.get_type_display }} Hireling</h3>
            <img class="lg-faction-icon mr-2" src="{{ object.other_side.picture.url }}">
            {{ object.other_side }}
        </div>
        <div>
            {% if object.other_side.board_image %}
                <img class="rounded-corner-img responsive-img" src="{{ object.other_side.board_image.url }}">
            {% endif %}
        </div>
        </a>
        {% endif %}
    </div>
</article>