{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if object.card_image %}{{object.card_image.url}}{% else %}{{ object.picture.url }}{% endif %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ object.title }}">
<meta property="og:description" content="{% if not object.official %}Fan {% endif %}Landmark by {{ object.designer.name }}{% if object.card_text %} - {{ object.card_text }}{% elif object.lore %} - {{ object.lore }}{% elif object.description %} - {{ object.description }}{% endif %}">
{% endblock meta%}

<article class="media content-section">
    <div class="media-body">
        
    <h2>Landmark Details</h2>


    {% if object.description %}
        <h3>Description</h3>
        <p class="article-content">{{ object.description }}</p>
    {% endif %}
    <p class="article-content">{{ object.card_text }}</p>
    {% if object.card_image %}
        <img class="adset-img" src="{{ object.card_image.url }}">
    {% endif %}
    {% if object.card_2_image %}
        <img class="adset-img" src="{{ object.card_2_image.url }}">
    {% endif %}
    </div>
</article>