{% load i18n %}
{% if not query %}
    <div class='box-with-bar mb-2'>
        <h2 class='root-title'>{% trans 'Table of Contents' %}</h2>
    </div>
{% endif %}

{% if official_laws or bot_laws or fan_laws%}
    {% if official_laws %}
        <h3 class='root-title' style='text-decoration: underline;'>Law of Root</h3>
        {% for law in official_laws %}
            {% include 'the_keep/partials/law_category.html' %}
        {% endfor %}
    {% endif %}
    {% if bot_laws %}
        <h3 class='root-title' style='text-decoration: underline;'>Law of Rootbotics</h3>
        {% for law in bot_laws %}
            {% include 'the_keep/partials/law_category.html' %}
        {% endfor %}
    {% endif %}
    {% if fan_laws %}
        <h3 class='root-title' style='text-decoration: underline;'>Fan Content</h3>
        {% for law in fan_laws %}
            {% include 'the_keep/partials/law_category.html' %}
        {% endfor %}
    {% endif %}

{% else %}

    {% if not query %}
        <article class="media content-section">
            {% blocktrans %}
                No {{ selected_language }} laws available.
            {% endblocktrans %}
        </article>
    {% else %}
        <article class="media content-section">
            {% blocktrans %}
                No laws matching "{{query}}".
            {% endblocktrans %}
        </article>
    {% endif %}

{% endif %}
