{% load i18n %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>{% trans 'Faction' %}</th>
            <th>{% trans 'Winrate' %}</th>
            <th>{% trans 'Points' %}</th>
            <th>{% trans 'Games' %}</th>
        </tr>
    </thead>
    <tbody class="effort-rows">
        {% for faction in leaderboard_factions %}
        <tr data-href="{% url 'faction-detail' faction.slug %}" class="clickable-row{% if forloop.counter > 10 %} extra-rows {% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>
           
                    <img class="faction-icon" src="{{ faction.small_icon.url }}">
                    
                    {% if faction.selected_title %}
                        {{ faction.selected_title }}
                    {% else %}
                        {{ faction.title }}
                    {% endif %}
             
            </td>
            <td>
                {{ faction.win_rate|floatformat:2 }}%
            </td>
            <td>
                {{ faction.tourney_points }}
            </td>
            <td>
                {{ faction.total_efforts }}
            </td>
        </tr>


        {% endfor %}
    </tbody>
</table>