
<article class="media content-section">
    
    <div class="media-body">
    <h2>Links</h2>
    <div class="d-flex flex-wrap justify-content-between">
    {% if object.leder_games_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.leder_games_link }}" target="blank">Find at Leder Games</a>
        </p>
    {% endif %}
    {% if object.bgg_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.bgg_link }}" target="blank">Board Game Geek Post</a>
        </p>
    {% endif %}
    {% if object.tts_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.tts_link }}" target="blank">Tabletop Simulator</a>
        </p>
    {% endif %}
    {% if object.ww_link %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.ww_link }}" target="blank">Woodland Warriors Thread</a>
        </p>
    {% endif %}
    {% if object.wr_link %}
        {% if user.profile.in_weird_root %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.wr_link }}" target="blank">Weird Root Thread</a>
        </p>
        {% else %}
            <p class="article-content">
                <span class="mr-2">Join Weird Root Discord for more</span>
            </p>
        {% endif %}
    {% endif %}
    {% if object.pnp_link  %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.pnp_link }}" target="blank">Print & Play Files</a>
        </p>
    {% endif %}
    {% if object.stl_link  %}
        <p class="article-content">
            <a class="mr-2" href="{{ object.stl_link }}" target="blank">3D Object Files</a>
        </p>
    {% endif %}
    </div>
    </div>
</article>