{% load static i18n %}
{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}

<article class="media content-section">
    <div class="media-body">
    <h2 class='root-title'>{% if links_count != 1 %}{% trans 'Links' %}{% else %}{% trans 'Link' %}{% endif %}</h2>
    <div class="d-flex flex-wrap justify-content-between">
    {% if object.leder_games_link %}
        <a class="mr-2 mt-1" href="{{ object.leder_games_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/LG.webp' %}" alt="Leder Games">
            {% trans 'Find at Leder Games' %}
        </a>
    {% endif %}
    {% if object.bgg_link %}
        <a class="mr-2 mt-1" href="{{ object.bgg_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/BGG.webp' %}" alt="Board Game Geek">
            {% trans 'Board Game Geek Post' %}
        </a>
    {% endif %}
    {% if object.tts_link %}
        <a class="mr-2 mt-1" href="{{ object.tts_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/TTS.webp' %}" alt="Tabletop Simulator">
            {% trans 'Tabletop Simulator' %}
        </a>
    {% endif %}
    {% if object.ww_link %}
        <a class="mr-2 mt-1" href="{{ object.ww_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WW.webp' %}" alt="Woodland Warriors">
            {% trans 'Woodland Warriors Thread' %}
        </a>
    {% endif %}

    {% if object.wr_link %}
        {% if user.is_authenticated %}
            {% if user.profile.in_weird_root %}
            <a class="mr-2 mt-1" href="{{ object.wr_link }}" style="display: inline-flex; align-items: center;">
                <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.webp' %}" alt="Weird Root">
                {% trans 'Weird Root Thread' %}
            </a>
            {% elif user.profile.player %}
                <a class="mr-2 mt-1" href="{% url 'weird-root-invite' object.slug %}" style="display: inline-flex; align-items: center;">
                    <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.webp' %}" alt="Weird Root">
                    {% trans 'Request Invite to WR' %}
                </a>
            {% else %}
                <span class="mr-2 mt-1" style="display: inline-flex; align-items: center;">
                    <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.webp' %}" alt="Weird Root">
                    {% trans 'Join on Discord for Link' %}
                </span>
            {% endif %}
        {% else %}
            <a class="mr-2 mt-1" href="{% provider_login_url 'discord' %}?next={{ request.path }}" style="display: inline-flex; align-items: center;">
                <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.webp' %}" alt="Weird Root">
                {% trans 'Log In for Link' %}
            </a>
        {% endif %}
    {% endif %}


    {% if object.fr_link %}
        <a class="mr-2 mt-1" href="{{ object.fr_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/FR.webp' %}" alt="French Root">
            {% trans 'French Root Thread' %}
        </a>
    {% endif %}

    {% if object.pnp_link  %}
        <a class="mr-2 mt-1" href="{{ object.pnp_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/PNP.webp' %}" alt="Print & Play">
            {% trans 'Print & Play Files' %}
        </a>
    {% endif %}
    {% if object.stl_link  %}
        <a class="mr-2 mt-1" href="{{ object.stl_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/STL.webp' %}" alt="STL Files">
            {% trans 'STL Files' %}
        </a>
    {% endif %}
    {% if object.rootjam_link  %}
        <a class="mr-2 mt-1" href="{{ object.rootjam_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/RootJam.webp' %}" alt="RootJam Link">
            {% trans 'RootJam Entry' %}
        </a>
    {% endif %}
    </div>
    </div>
</article>