{% load static %}

<article class="media content-section">
    
    <div class="media-body">
    <h2>Link{% if links_count != 1 %}s{% endif %}</h2>
    <div class="d-flex flex-wrap justify-content-between">
    {% if object.leder_games_link %}
        <a class="mr-2 mt-1" href="{{ object.leder_games_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/LG.jpg' %}" alt="Leder Games">
            Find at Leder Games
        </a>
    {% endif %}
    {% if object.bgg_link %}
        <a class="mr-2 mt-1" href="{{ object.bgg_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/BGG.jpg' %}" alt="Board Game Geek">
            Board Game Geek Post
        </a>
    {% endif %}
    {% if object.tts_link %}
        <a class="mr-2 mt-1" href="{{ object.tts_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/TTS.jpg' %}" alt="Tabletop Simulator">
            Tabletop Simulator
        </a>
    {% endif %}
    {% if object.ww_link %}
        <a class="mr-2 mt-1" href="{{ object.ww_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WW.jpg' %}" alt="Woodland Warriors">
            Woodland Warriors Thread
        </a>
    {% endif %}
    {% if user.profile.in_weird_root %}
        {% if object.wr_link %}
            {% if user.profile.in_weird_root %}
            <a class="mr-2 mt-1" href="{{ object.wr_link }}" style="display: inline-flex; align-items: center;">
                <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.jpg' %}" alt="Weird Root">
                Weird Root Thread
            </a>
            {% else %}
                <span class="mr-2 mt-1" style="display: inline-flex; align-items: center;">
                    <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/WR.jpg' %}" alt="Weird Root">
                    Join Weird Root Discord for more
                </span>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if object.pnp_link  %}
        <a class="mr-2 mt-1" href="{{ object.pnp_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/PNP.jpg' %}" alt="Print & Play">
            Print & Play Files
        </a>
    {% endif %}
    {% if object.stl_link  %}
        <a class="mr-2 mt-1" href="{{ object.stl_link }}" style="display: inline-flex; align-items: center;">
            <img class="user-icon mr-2 mt-1" src="{% static 'images/link_icons/STL.jpg' %}" alt="STL Files">
            STL Files
        </a>
    {% endif %}
    </div>
    </div>
</article>