<div id="piece-{{ piece.id }}" class="piece-form-container">
    <form hx-post="{% url 'update-piece' piece.id %}?piece={{ piece_type }}&slug={{ object.slug }}"
            hx-target="#piece-{{ piece.id }}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-on="htmx:afterRequest: this.remove()"
            hx-trigger="click from:#save-all"
            enctype="multipart/form-data">
        <div class="hidden">{{ form.id }}</div>
        <div>
            <label class="file-input-button">
                Choose Icon
                <input type="file" class="compact-file-input" name="small_icon" onchange="updateFileName(event)">
            </label>
            <div class="image-preview-container" style="display:none;">
                <img class="image-preview" src="" alt="Image Preview" style="max-width: 20px; max-height: 20px; margin-left: 10px;">
            </div>
        </div>
        <div>
            {{ form.quantity }}
            {{ form.name }}
        </div>
        {% if form.quantity.errors %}
                {% for error in form.quantity.errors %}
                    <div class="alert alert-danger mt-1" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        {% endif %}

        <div>
            Suited:{{ form.suited }}
        </div>
    </form>
</div>