<div class="piece-form-container">
    <form hx-post="{% url 'add-piece' %}?piece={{ piece_type }}&slug={{ object.slug }}"
            hx-target="#{{ piece_type }}-pieces"
            hx-swap="beforeend"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-on="htmx:afterRequest: this.remove()"
            hx-trigger="click from:#save-all"
            method="post"
            enctype="multipart/form-data">
        <div class="hidden">{{ form.id }}</div>
        <div>
            <label class="file-input-button">
                Choose Icon
                <input type="file" class="compact-file-input" name="small_icon">
            </label>
        </div>
        <div>
            {{ form.quantity }}
            {{ form.name }}
        </div>
        {% if form.quantity.errors %}
                {% for error in form.quantity.errors %}
                    <div class="alert alert-danger mt-1" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        {% endif %}

        <div>
            Suited:{{ form.suited }}
            
            <button class="btn btn-outline-danger btn-sm" type="button"
                hx-on="click: this.closest('form').remove()">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </form>
</div>