<!-- Component Manifest -->
{% load static i18n %}
{% if object.pieces.count or object.component == 'Vagabond' or object.component == 'Deck' or object.designer == user.profile and user.profile.editor_onboard or user.profile.admin and not object.designer.designer %}
<div class='mt-2 mb-2'>

    {% if object.designer == user.profile and user.profile.editor_onboard and user.profile.editor or user.profile.admin %}
        <div class="d-flex justify-content-end">
            <button id="edit-button" class="btn btn-warning btn-sm mt-1 mb-1 ml-2">
                {% trans 'Edit Components' %} <i class="bi bi-pencil-square"></i>
            </button>
        </div>    
    {% endif %}
    <div class="manifest-box
        {% if not object.warriors.all and not object.buildings.all and not object.tokens.all and not object.cards.all and object.component != 'Deck' and not object.otherpieces.all and object.component != "Vagabond" %}
         hidden
         {% endif %}
    ">

    <div class="d-flex flex-wrap justify-content-between align-items-center">
            <h3 class='root-title manifest-title mx-auto'>{% trans 'Component Manifest' %}</h3>
    </div>

    <div class="d-flex flex-wrap justify-content-evenly">
        {% if object.component == "Vagabond" %}
            {% include 'the_keep/partials/vagabond_items.html' %}
        {% endif %}
        {% if object.component != "Vagabond" or object.warriors.all %}
            {% if user.profile.admin or object.warriors.all or object.designer == user.profile and user.profile.editor_onboard  %}
                <div class="p-2 flex-fill text-center piece-box{% if not object.warriors.all %} hidden-pieces{% endif %}">
                    <h5 class='root-title'>{% trans 'Warriors' %}</h5>
                    <div id="W-pieces" class="d-flex flex-column align-items-center">
                        {% for piece in object.warriors.all %}
                            {% include 'the_keep/partials/piece_line.html' %}
                        {% endfor %}
                    </div>
                    {% if user.profile.admin or object.designer == user.profile and object.warriors.count < 6 and user.profile.editor_onboard %}
                        <div>
                            <button type="button" class="btn btn-primary me-2 hidden-buttons"
                                hx-get="{% url 'add-piece' %}?piece=W&slug={{ object.slug }}"
                                hx-target="#W-pieces"
                                hx-swap="beforeend"
                            >Add+</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if user.profile.admin or object.buildings.all or object.designer == user.profile and user.profile.editor_onboard %}
                <div class="p-2 flex-fill text-center piece-box{% if not object.buildings.all %} hidden-pieces{% endif %}">
                    <h5 class='root-title'>{% trans 'Buildings' %}</h5>
                    <div id="B-pieces" class="d-flex flex-column align-items-center">
                        {% for piece in object.buildings.all %}
                            {% include 'the_keep/partials/piece_line.html' %}
                        {% endfor %}
                    </div>
                    {% if user.profile.admin or object.designer == user.profile and object.buildings.count < 6 and user.profile.editor_onboard %}
                        <div>
                            <button type="button" class="btn btn-primary me-2 hidden-buttons"
                                hx-get="{% url 'add-piece' %}?piece=B&slug={{ object.slug }}"
                                hx-target="#B-pieces"
                                hx-swap="beforeend"
                            >Add+</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if user.profile.admin or object.tokens.all or object.designer == user.profile and user.profile.editor_onboard %}
                <div class="p-2 flex-fill text-center piece-box{% if not object.tokens.all %} hidden-pieces{% endif %}">
                    <h5 class='root-title'>{% trans 'Tokens' %}</h5>
                    <div id="T-pieces" class="d-flex flex-column align-items-center">
                        {% for piece in object.tokens.all %}
                            {% include 'the_keep/partials/piece_line.html' %}
                        {% endfor %}
                    </div>
                    {% if user.profile.admin or object.designer == user.profile and object.tokens.count < 6 and user.profile.editor_onboard %}
                        <div>
                            <button type="button" class="btn btn-primary me-2 hidden-buttons"
                                hx-get="{% url 'add-piece' %}?piece=T&slug={{ object.slug }}"
                                hx-target="#T-pieces"
                                hx-swap="beforeend"
                            >Add+</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if user.profile.admin or object.cards.all or object.component == 'Deck' or object.designer == user.profile and user.profile.editor_onboard %}
                <div class="p-2 flex-fill text-center piece-box{% if not object.cards.all and object.component != 'Deck' %} hidden-pieces{% endif %}">
                    <h5 class='root-title'>{% trans 'Cards' %}</h5>
                    <div id="C-pieces" class="d-flex flex-column align-items-center">
                        {% if object.component == 'Deck' %}

                            <div class="d-flex justify-content-between align-items-center" id="piece-{{ piece.id }}">
                                <div class="d-flex align-items-center">
                                    {% if object.card_image %}
                                        <img class="lg-faction-icon mr-2" src="{{ object.card_image.url }}">x
                                    {% endif %}
                                    {{ object.card_total }} {% trans 'Cards' %}
                                </div>

                            </div>
                            {% if user.profile.admin or object.designer == user.profile and user.profile.editor_onboard %}
                            <div class="d-flex">
                                <button class="btn btn-outline-warning btn-sm ml-1 mb-1 hidden-buttons" id="saveAndGo-button">
                                    {% trans 'Edit Cards' %} <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>
                        {% endif %}
                        {% endif %}
                        {% for piece in object.cards.all %}
                            {% include 'the_keep/partials/piece_line.html' %}
                        {% endfor %}
                    </div>
                    {% if user.profile.admin or object.designer == user.profile and object.cards.count < 6 and user.profile.editor_onboard %}
                        <div>
                            <button type="button" class="btn btn-primary me-2 hidden-buttons"
                                hx-get="{% url 'add-piece' %}?piece=C&slug={{ object.slug }}"
                                hx-target="#C-pieces"
                                hx-swap="beforeend"
                            >Add+</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}            
        {% endif %}

        {% if user.profile.admin or object.component == "Vagabond" or object.otherpieces.all or object.designer == user.profile and user.profile.editor_onboard %}
            <div class="p-2 flex-fill text-center piece-box{% if not object.otherpieces.all and object.component != "Vagabond" %} hidden-pieces{% endif %}">
                <h5 class='root-title'>{% trans 'Other Pieces' %}</h5>
                <div id="O-pieces" class="d-flex flex-column align-items-center">
                    {% if object.component == "Vagabond" %}
                    <div class="d-flex justify-content-between align-items-center" id="piece-{{ piece.id }}">
                        <div class="d-flex align-items-center">
                            <img class="lg-faction-icon mr-2" src="{% static 'items/Relationship Markers.png' %}" alt="Relationship Markers">
                            {% trans 'Relationship Markers' %}
                        </div>
                    </div>
                    {% endif %}
                    {% for piece in object.otherpieces.all %}
                        {% include 'the_keep/partials/piece_line.html' %}
                    {% endfor %}
                </div>
                {% if user.profile.admin or object.designer == user.profile and object.otherpieces.count < 6 and user.profile.editor_onboard %}
                    <div>
                        <button type="button" class="btn btn-primary me-2 hidden-buttons"
                            hx-get="{% url 'add-piece' %}?piece=O&slug={{ object.slug }}"
                            hx-target="#O-pieces"
                            hx-swap="beforeend"
                        >Add+</button>
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>
    {% if user.profile.admin or object.designer == user.profile and user.profile.editor_onboard %}
        <button type="button" id="save-all" class="btn btn-success ml-2 mb-2 hidden-buttons">{% trans 'Save All' %}</button>
    {% endif %}

    <!-- end of manifest -->
        </div>


    </div>
{% endif %}
{% if user.profile.admin or object.designer == user.profile and user.profile.editor_onboard %}
{% block scripts %}
<script>

    function updateFileName(event) {
    var input = event.target;  // Get the file input element that triggered the event
    var file = input.files[0];  // Get the selected file

    // Find the closest form or container to the file input
    var formContainer = input.closest('.piece-form-container');

    // Find the image preview container inside the current form/container
    var imagePreviewContainer = formContainer.querySelector('.image-preview-container');
    var imagePreview = formContainer.querySelector('.image-preview');  // The image element to display the preview

    // Check if a file was selected
    if (file) {
        // Create an object URL for the selected file (used to show a preview)
        var reader = new FileReader();
        
        reader.onload = function(e) {
            // Set the preview image's source to the selected file's object URL
            imagePreview.src = e.target.result;

            // Show the image preview container
            imagePreviewContainer.style.display = "inline-block";
        };

        // Read the file as a data URL (base64 representation)
        reader.readAsDataURL(file);
    }
    else {
        // Hide the image preview if no file is selected
        imagePreviewContainer.style.display = "none";
    }
}



        // Function to attach event listeners to all file input fields
        function attachFileInputListeners() {
            var fileInputs = document.querySelectorAll('.compact-file-input');  // Select all file input elements with the class '.compact-file-input'
            
            // Attach the change event to each file input
            fileInputs.forEach(function(input) {
                input.removeEventListener('change', updateFileName);  // Remove any existing listeners to prevent duplicates
                input.addEventListener('change', updateFileName);  // Add the change event listener
                console.log('add listener')
            });
        }

        // Initial attachment of listeners when the page loads
        attachFileInputListeners();

        // Listen for HTMX after content has been loaded into the DOM
        document.body.addEventListener('htmx:afterOnLoad', function () {
            console.log("HTMX")
            attachFileInputListeners();  // Re-attach the event listeners to any newly added file inputs
        });




        var editButton = document.getElementById('edit-button');
        var isVisible = false; 
        if (editButton) {
            document.getElementById('edit-button').addEventListener('click', function() {
            var buttons = document.querySelectorAll('.hidden-buttons'); // Select all buttons with class 'hidden-buttons'
            var pieces = document.querySelectorAll('.hidden-pieces'); // Select all categories with class 'hidden-pieces'
            var boxes = document.querySelectorAll('.manifest-box');
            if (boxes.length > 0) {
                boxes.forEach(function(box) {
                    box.classList.remove('hidden');
                });
            }
            isVisible = !isVisible;
            // Loop through the buttons and toggle their visibility
            buttons.forEach(function(button) {

                if (isVisible) {
                    button.style.display = "inline-block";  // Show the button
                } else {
                    button.style.display = "none";  // Hide the button
                }
            });
            // Loop through the piece categories and toggle their visibility
            pieces.forEach(function(piece) {

                if (isVisible) {
                    piece.style.display = "inline-block";  // Show the piece
                } else {
                    const componentPiece = piece.querySelector('div.component-piece');
                    if (!componentPiece){
                        piece.style.display = "none";  // Hide the piece
                    }
                }
            });
            
        });
        }
        var saveAndGoButton = document.getElementById('saveAndGo-button');
        if (saveAndGoButton){
            document.getElementById('saveAndGo-button').addEventListener('click', function() {
                // Trigger the 'save-all' button's click event
                document.getElementById('save-all').click();
            
                // Redirect to a new link
                window.location.href = "{{ object.get_edit_url }}";
            });
        }

</script>

{% endblock scripts %}

{% endif %}