

<img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
<a href="{{ object.get_absolute_url }}" class="media-body">
   
    <div class="article-metadata">
        {{ object.designer.name }}
        <small class="text-muted">{{ object.date_posted |date:"F j, Y" }}</small>
    </div>
        {% if object.official %}Official {% else %}Fan Made {% endif %}{{ object.component }}
        <h2>{{ object.title }}</h2>

     {% if object.artist %}
    <div class="article-metadata">
        Art by {{ object.artist.name }}
    </div>
    {% endif %}
</a>



