
<img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'player-detail' object.designer.slug %}">{{ object.designer.name }}</a>
        <small class="text-muted">{{ object.date_updated | date:"Y-m-d" }}</small>
    </div>
        {% if object.official %}Official {% else %}Fan Made {% endif %}{{ object.component }}
        <h2><a class="article-title" href="{% url object.component|lower|add:'-detail' object.slug %}">{{ object.title }}</a></h2>
<!-- Compnent specific Info -->




<!-- End component specific Info -->
    <p class="article-content">{{ object.description }}</p>
     {% if object.artist %}
    <div class="article-metadata">
        Art by 
        <a class="mr-2" href="{% url 'artist-posts' object.artist.slug %}">{{ object.artist }}</a>
    </div>
    {% endif %}

</div>
    <!-- Bookmarks -->
    {% if user.is_authenticated %}
        {% include 'the_keep/partials/bookmarks.html' %}
    {% endif %}