{% if related_posts %}
<article class="media content-section">
    <div class="media-body">
        <h2>Related</h2>
{% for related in related_posts %}
<div class="d-flex align-items-center mb-2">
    <a href="{{ related.get_absolute_url }}" class="d-flex w-100">
        <div class="d-flex align-items-center mr-1">
            <img class="lg-faction-icon" src="{{ related.picture.url }}" alt="{{ related.title }}">
        </div>
        <div>
            <div>
                {{ related.title }}
                <i class="bi 
                {% if related.status == '1' %}bi-check-circle-fill text-success
                {% elif related.status == '2' %}bi-play-circle-fill text-primary
                {% elif related.status == '3' %}bi-wrench-adjustable-circle-fill text-warning
                {% elif related.status == '4' %}bi-pause-circle-fill text-secondary
                {% else %}bi-x-circle-fill text-dark
                {% endif %}
                ml-1"></i>
            </div>
            <div>

                {% if related.official %}Official{% else %}Fan Made{% endif %}
                {{ related.component }}

                by {{ related.designer.display_name }}
            </div>
        </div>
    </a>
</div>

{% endfor %}
    </div>
</article>
{% endif %}