
<form class="mb-2"
    hx-get="{% url 'search' %}"
    hx-target="#search-results"
    hx-swap="outerHTML"
    hx-trigger="submit, input delay:0.3s">
    <input type="text" name="search" placeholder="Search..." value="{{ search }}">


    <!-- Designer Search Dropdown -->
    <select name="designer" id="designer-select" class="form-select" aria-label="Select Designer">
        <option value="">Select Designer</option>
        {% for designer in designers %}
            <option value="{{ designer.id }}" {% if designer.id == search_type %}selected{% endif %}>
                {{ designer }}  <!-- Assuming 'name' is the field you want to display -->
            </option>
        {% endfor %}
    </select>


    <select name="search_type" value="{{ search_type }}">
        <option value="">All</option>  <!-- Optional default option -->
        <option value="faction" {% if search_type == 'faction' %}selected{% endif %}>Faction</option>
        <option value="vagabond" {% if search_type == 'vagabond' %}selected{% endif %}>Vagabond</option>
        <option value="map" {% if search_type == 'map' %}selected{% endif %}>Map</option>
        <option value="deck" {% if search_type == 'deck' %}selected{% endif %}>Deck</option>
        <option value="landmark" {% if search_type == 'landmark' %}selected{% endif %}>Landmark</option>
        <option value="hireling" {% if search_type == 'hireling' %}selected{% endif %}>Hireling</option>
    </select>

</form>