{% load i18n %}
<a href="{% url object.component|lower|add:'-detail' object.slug %}">
<article class="media content-section">
<div class="article-img-container">
<img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
</div>
<div class="media-body">

   <div class="article">
        
        <h2>{{ object.title }}</h2>

        {% if object.official %}
            {% blocktrans %}
                Official {{ object.component }}
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                Fan Made {{ object.component }}
            {% endblocktrans %}
        {% endif %}
        {% trans 'by' %} 
        <span class="mr-2">{{ object.designer.name }}</span>
    </div>
        <small class="text-muted">{{ object.date_posted |date:"F j, Y" }}</small>
</div>
</article>
</a>