{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{ object.picture.url }}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ object.title }}">
<meta property="og:description" content="{% if object.description %}{{ object.description }}{% else %}{% if not object.official %}Fan {% endif %}Rule Change by {{ object.designer.name }}{% endif %}">
<meta name="description" content="{% if object.description %}{{ object.description }}{% else %}{% if not object.official %}Fan {% endif %}Rule Change by {{ object.designer.name }}{% endif %}">
{% endblock meta%}

<article class="media content-section">
    <div class="media-body">
        
    <h2>Tweak Details</h2>

    <p class="article-content">{{ object.card_text }}</p>


    {% if object.card_image %}
        <img class="adset-img" src="{{ object.card_image.url }}">
    {% endif %}

    {% if object.card_2_image %}
        <img class="adset-img" src="{{ object.card_2_image.url }}">
    {% endif %}

    {% if object.board_image %}
        <img class="rounded-corner-img responsive-img" src="{{ object.board_image.url }}">
    {% endif %}

    {% if object.board_2_image %}
        <img class="rounded-corner-img responsive-img" src="{{ object.board_2_image.url }}">
    {% endif %}



    </div>
</article>