{% load i18n %}
{% if top_players or most_players  %}
        <article class="media content-section">
            <div class="media-body">

                {% if top_players or most_players %}

                    <h2 class='root-title'>{% if top_players and most_players %}{% trans 'Leaderboards' %}{% else %}{% trans 'Leaderboard' %}{% endif %}</h2>

                    {% if top_players and most_players %}
                    <ul class="nav nav-tabs" id="leaderboardTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="winrate-leaderboard-tab" data-bs-toggle="tab" href="#winrate-leaderboard" role="tab" aria-controls="winrate-leaderboard" aria-selected="true">{% trans 'By Winrate' %}</a>
                        </li>    
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="game-leaderboard-tab" data-bs-toggle="tab" href="#game-leaderboard" role="tab" aria-controls="game-leaderboard" aria-selected="false">{% trans 'By Games Won' %}</a>
                        </li>        
                        
                    </ul>
                    {% endif %}



                    {% if top_players %}
                        {% if top_players and most_players %}
                        <div class="tab-content" id="tab-contents">
                            <div class="tab-pane active" id="winrate-leaderboard" role="tabpanel" aria-labelledby="winrate-leaderboard-tab">
                        {% else %}
                            <h4>{% trans 'By Winrate' %}</h4>
                        {% endif %}
                        {% with top_players as leaderboard_players %}
                            {% include 'the_gatehouse/partials/leaderboard.html' %}
                        {% endwith %}
                        {% if top_players and most_players %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if top_players and most_players %}
                        <div class="tab-pane" id="game-leaderboard" role="tabpanel" aria-labelledby="game-leaderboard-tab">
                    {% else %}
                        <h4>{% trans 'By Games Won' %}</h4>
                    {% endif %}
                    {% with most_players as leaderboard_players %}
                        {% include 'the_gatehouse/partials/leaderboard.html' %}
                    {% endwith %}
                    {% if top_players and most_players %}
                        </div>
                        </div>
                    {% endif %}

                {% endif %}
                {% if leaderboard_threshold > 0 %}
                <small class="mb-2">*{% trans 'Leaderboard Threshold of' %} {{ leaderboard_threshold }}</small>
                {% endif %}
            </div>

        </article>
{% else %}
<article class="media content-section">
    <div class="media-body">
            <h2 class='root-title'>{% trans 'No Leaderboard' %}</h2>
            <small class="mb-2">*{% trans 'Leaderboard Threshold of' %} {{ leaderboard_threshold }}</small>
    </div>
</article>
{% endif %}