
{% for object in posts %}

    {% if forloop.last and posts.has_next %}
        {% if bookmark_page %}
            <div hx-trigger="revealed" 
            hx-get="{% url 'post-bookmarks' player.slug %}?page={{ posts.number|add:1 }}"
            hx-swap="afterend">
            <!-- hx-include="#gamefilterform"> -->
        {% elif artist_page %}
            <div hx-trigger="revealed" 
            hx-get="{% url 'artist-components' player.slug %}?page={{ posts.number|add:1 }}"
            hx-swap="afterend">
        {% else %}
            <div hx-trigger="revealed" 
            hx-get="{% url 'designer-components' player.slug %}?page={{ posts.number|add:1 }}"
            hx-swap="afterend">
            <!-- hx-include="#gamefilterform"> -->
        {% endif %}
    {% else %}
        <div>
    {% endif %}



        {% include 'the_keep/partials/post.html' %}


    </div>
{% empty %}
    No posts.
{% endfor %}