<tbody id="players-table" class="effort-rows">
    {% for obj in objects %}
    <tr data-href="{{ obj.get_absolute_url }}">
        <td>{% if user.profile.admin %}<img class="faction-icon image1 mr-1" src="{{ obj.image.url }}" alt="{{ obj.name }} Picture">{% endif %}{{ obj.name }}</td>
        <td>{{obj.active_posts_count}}</td>
        <td>{{obj.complete_games_count}}</td>
        {% if user.profile.admin %}
        <td>
            {% if obj.group == "O" %}
            Unregistered
            {% elif obj.group == "P" %}
            User
            {% elif obj.group == "B" %}
            Banned
            {% elif obj.group == "D" %}
            Designer
            {% elif obj.group == "E" %}
            Editor
            {% elif obj.group == "A" %}
            Moderator
            {% endif %}

        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="{% if user.profile.admin %}4{% else %}3{% endif %}">No users found.</td>
    </tr>
    {% endfor %}
</tbody>
