body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Baskerville', serif; /* Use Baskerville for body text */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-family: 'Luminari', serif; 
    /* Use Luminari for titles */
  }
  
/* Italic body text */
em, i {
  font-family: 'Baskerville', serif; /* Italicized text */
  font-style: italic; /* Ensure italic style is applied */
}

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .faction-icon {
    width: 20px;       /* Fixed width */
    height: auto;      /* Scales the height proportionally */
    margin-right: 2px;
    margin-bottom: 2px;
}

.lg-faction-icon {
  width: 40px;       /* Fixed width */
  height: auto;      /* Scales the height proportionally */
  margin-right: 2px;
  margin-bottom: 2px;
}

a {
  color: black;
  text-decoration: none; /* Removes underline */
}

a:hover {
  text-decoration: none; /* Ensures no underline on hover */
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Space below the table */
}

th, td {
  padding: 12px; /* More padding for spacing */
  text-align: left;
  vertical-align: middle; /* Center align vertically */
}

.effort-rows {
  border-top: 1px solid #000; /* Line before the tbody */
}

.effort-rows tr {
  border-bottom: 1px solid #ddd; /* Optional: line between rows */
}

.effort-rows td {
  padding-left: 15px; /* Space between columns */
  padding-right: 15px; /* Space between columns */
}


/* @font-face {
  font-family: 'Baskerville';
  src: url('fonts/Baskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('fonts/Baskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */
