{% extends 'the_keep/base.html' %}
{% load static %}
{% block content %}

<h1>Link a Scorecard</h1>


{% with effort_link.game as game %}
{% include 'the_warroom/partials/scorecard_game_summary.html' %}
{% endwith %}


<h2>{{ form.scorecard.field.queryset.count }} Available Scorecard{% if form.scorecard.field.queryset.count != 1 %}s{% endif %}</h2>
<h3>for {{ effort_link.faction.title }} Game</h3>



<form class="hidden" method="POST" id="link-game-form">
    {% csrf_token %}
    {{ form }}
    <!-- <button type="submit" class="btn btn-primary mb-2">Link</button> -->
</form>



{% for scorecard in form.scorecard.field.queryset %}
<div class="game-option my-2 d-flex" data-scorecard-id="{{ scorecard.id }}">
    <div>
        {% with scorecard as object %}
        {% include 'the_warroom/partials/scorecard.html' %}
        {% endwith %}
        <button class="btn btn-warning link-button" id="link-scorecard" onclick=link(this) data-scorecard-id="{{ scorecard.id }}"><i class="bi bi-link"></i> Link</button>
    </div>
</div>
{% endfor %}




{% endblock content %}

{% block scripts %}

<script>
    // Add event listeners to each game option
    
        function link(element) {

            var scorecardId = element.getAttribute('data-scorecard-id');
            var scorecardField = document.querySelector('[name="scorecard"]');
            // console.log('ID', scorecardId)
            
            // Set the value of the scorecard field to the clicked scorecard's id
            scorecardField.value = scorecardId;

            // Submit the form
            document.getElementById('link-game-form').submit();
        };
</script>
{% endblock %}