{% extends 'the_keep/base.html' %}
{% block title %} - Games{% endblock %}

{% block content %}
<article class="media content-section">
    <div class="media-body">

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Games</h1>

        <a href="{% url 'record-game' %}" class="btn btn-success mb-3" id="recordgame">
            New Game +
        </a>

</div>






    <form hx-get="{% url 'games-home' %}" 
            hx-target="#games-container"
            hx-swap="outerHTML"
            id="gamefilterform">
        <div class="mb-1">
            Map:
            {{ form.map }}
        </div>    
        <div class="mb-1">
        Deck:
        {{ form.deck }}
        </div>
        <div class="mb-1">
        Factions:
        {{ form.faction }}
        Vagabonds:
        {{ form.vagabond }}
        </div>
        <div class="mb-1">
        Players:
        {{ form.player }}
        </div>

        <button class="btn btn-primary mb-3">Filter</button>
    </form>


    </div>
</article>
    
        {% include 'the_warroom/partials/game_list_home.html' %}
    
    

    
{% endblock content %} 


{% block scripts %}
    <script>
        const selectIds = ['#id_faction', '#id_player', '#id_vagabond', '#id_map', '#id_deck'];

        // Apply select2 to all select elements in the list
        selectIds.forEach(id => {
            $(id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        });
    </script>
{% endblock %}