{% extends 'the_keep/base.html' %}
{% block content %}

{% if game %}
<form method="POST" action=".">
    {% csrf_token %}
    <h1>Delete Game?</h1>
    <p>Are you sure you want to delete the selected game? This cannot be undone.</p>
    {% with game.get_efforts as efforts %}
    {% include 'the_warroom/partials/game_detail.html' %}
    {% endwith %}
    <button class="btn btn-danger" type="submit">Yes, delete</button>
    <a class="btn btn-outline-secondary" href="{% url 'game-detail' game.id %}">Cancel</a>
</form>
{% endif %}

{% endblock content %}