{% extends 'the_keep/base.html' %}
{% block content %}


{% include 'the_warroom/partials/game_detail.html' %}

<article class="media content-section">
    <div class="media-body">
        <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>{% if game.test_match %}Multihanded Playtest{% else %}Game{% endif %} Details</h2>

        {% include 'the_warroom/partials/bookmarks.html' %}
        </div>
        {% if game.tournament %}
        <div>
            {{ game.type }} {{ game.platform }}{% if game.league %} League{% endif %} Game
        </div>
        {% endif %}


        {% if game.undrafted_faction %}
        <div>
            Undrafted Faction: 
            <a href="{% url 'faction-detail' game.undrafted_faction.slug %}">
                <img class="faction-icon" src="{{ game.undrafted_faction.small_icon.url }}">
            </a>
            <a href="{% url 'faction-detail' game.undrafted_faction.slug %}">{{ game.undrafted_faction }}</a>
            {% if game.undrafted_vagabond %}
                (<a href="{% url 'vagabond-detail' game.undrafted_vagabond.slug %}">{{ game.undrafted_vagabond }}</a>)
            {% endif %}
        </div>
        {% endif %}

        {% if game.random_clearing %}
        <div>
            Random Clearings
        </div>
        {% endif %}

        {% if game.notes %}
        <div>
            Notes: {{ game.notes }}
        </div>
        {% endif %}

        {% if game.link %}
        <div>
            <a href="{{ game.link }}">Link to Game Thread</a>
        </div>
        {% endif %}
        {% if game.recorder %}
        <div>
            Recorded by: {{ game.recorder.name }}
        </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if user.profile in participants or user.profile == game.recorder %}
                {% include 'the_tavern/game_comment_form.html' %}
            {% endif %}
        {% endif %}
        {% if user.profile.player %}
            <h3>Notes</h3>
            <span id="commentscount">({{ game.comments.count }})</span>
            <div id="game-notes">
            {% for comment in game.comments.all %}
                {% include 'the_tavern/comment.html' %}
            {% endfor %}
            </div>
        {% endif %}


    </div>
</article>



{% if user.profile.admin %}
<article class="media content-section">
    <div class="media-body">
    <h2>Admin Options</h2>
    <div>
        Admin users can edit and delete game data.<br>
        This cannot be undone and should be handled with care.
    </div>
<small>
    <a class="btn btn-outline-secondary" href="{{ game.get_edit_url }}">Edit Game</a>
    <a class="btn btn-outline-danger" href="{{ game.get_delete_url }}">Delete Game</a>
</small>
</div>
</article>
{% endif %}

{% endblock content %}