<!-- {% extends 'the_keep/base.html' %} -->
{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Games</h1>
    {% if user.profile.player %}
        <a href="{% url 'record-game' %}" class="btn btn-success mb-3" id="recordgame">
            New Game +
        </a>
    {% endif %}
</div>






    <form hx-get="{% url 'games-home' %}" 
            hx-target="#games-container"
            hx-swap="outerHTML"
            id="gamefilterform">
        Map:
        {{ form.map }}
        Deck:
        {{ form.deck }}<br>
        Factions:
        {{ form.faction }}
        Vagabonds:
        {{ form.vagabond }}<br>
        Players:
        {{ form.player }}

        <button class="btn btn-primary mb-3">Filter</button>
    </form>


    
    
        {% include 'the_warroom/partials/game_list_home.html' %}
    
    

    
{% endblock content %} 


{% block scripts %}
    <script>
        const selectIds = ['#id_faction', '#id_player', '#id_vagabond', '#id_map', '#id_deck'];

        // Apply select2 to all select elements in the list
        selectIds.forEach(id => {
            $(id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        });
    </script>
{% endblock %}