{% extends 'the_keep/base.html' %}
{% block title %} - Update Game{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Game</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Save</button>
                <a class="btn btn-secondary" href="{% url 'game-detail' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}