{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %}Leaderboards | {% endblock %}
{% block main_width_class %}col-md-12{% endblock %}
{% block meta %}
    <!-- Open Graph tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'images/battlefield-icon.png' %}">
    <meta property="og:site_name" content="{{ site_title }}">

    {% trans "The Leaderboard" as leaderboard_title %}
    {% trans "Record and view games of Root to track Faction and Player stats" as leaderboard_description %}

    <meta property="og:title" content="{{ leaderboard_title }}">
    <meta property="og:description" content="{{ leaderboard_description }}">
    <meta name="description" content="{{ leaderboard_description }}">
{% endblock meta %}



{% block content %}
<article class="content-section mt-2">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
        </div>
        <div class='d-flex'>
            <h1 class='root-title'>{% trans 'Leaderboards' %}</h1>
        </div>
        <div class='d-flex flex-wrap justify-content-end'>
            <button id="games-btn" class="btn btn-secondary mb-1">
                View Games
            </button>
        </div>
    </div>
</article>

{% include 'the_warroom/partials/leaderboard_list_home.html' %}

<article class="d-flex content-section">
    <div class="w-100">


    <h3>{% trans 'Filters' %}</h3>

    <form hx-get="{% url 'leaderboard-view' %}" 
            hx-target="#games-container"
            hx-swap="outerHTML"
            hx-include="#limit, #threshold"
            id="gamefilterform">

        <div class="row">
            <div class="col-md-6 mb-1">
                {{ form.map }}
            </div>
            <div class="col-md-6 mb-1">
                {{ form.deck }}
            </div>
        </div>
        <div class="mb-1">
        {% comment %} {% trans 'Factions' %}: {% endcomment %}
        {{ form.faction }}
        </div>
        <div class="mb-1">
        {% comment %} {% trans 'Vagabonds' %}: {% endcomment %}
        {{ form.vagabond }}
        </div>
        <div class="mb-1">
        {% comment %} {% trans 'Players' %}: {% endcomment %}
        {{ form.player }}
        </div>

        {% if user.is_authenticated and not user.profile.weird %}
            <div class='mb-1'>
                *Displaying Official Content Only
            </div>
        {% else %}
            <div class='mb-1'>
                {{ form.official }}
            </div>
        {% endif %}

        <button class="btn btn-primary mb-1">{% trans 'Filter' %}</button>
    </form>


<div class="row">
    <div class="col-md-6 mb-1">
        <label for="limit">Leaderboard Places</label>
        <input type="number"
               id="limit"
               name="limit"
               min="1"
               max="25"
               class="form-control"
               value="{{ leaderboard_places }}">
    </div>

    <div class="col-md-6 mb-1">
        <label for="threshold">Leaderboard Threshold</label>
        <input type="number"
               id="threshold"
               name="threshold"
               min="1"
               max="1000"
               class="form-control"
               value="{{ leaderboard_threshold }}">
    </div>
</div>



    </div>
</article>
    
        
    
    

    
{% endblock content %} 


{% block scripts %}
    <script>
        const selectPlaceholders = {
            '#id_faction': "{% trans 'Select Factions' %}",
            '#id_player': "{% trans 'Select Players' %}",
            '#id_vagabond': "{% trans 'Select Vagabonds' %}",
            '#id_map': "{% trans 'Select a Map' %}",
            '#id_deck': "{% trans 'Select a Deck' %}"
        };


        Object.keys(selectPlaceholders).forEach(id => {
            $(id).select2({
                placeholder: selectPlaceholders[id],
                allowClear: true,
                width: '100%'
            });
        });
        $('#id_official').select2({
            width: '100%'
        });


        // Get the collapse element and button
        const collapseElement = document.getElementById('collapseRegister');
        const collapseToggleButton = document.getElementById('collapseToggleButton');
        if (collapseElement && collapseToggleButton) {
            // Add event listeners to the collapse element
            collapseElement.addEventListener('show.bs.collapse', function () {
                // Change button text to "Hide" when collapse is shown
                collapseToggleButton.innerHTML = 'Hide';
            });

            collapseElement.addEventListener('hide.bs.collapse', function () {
                // Change button text to "View" when collapse is hidden
                collapseToggleButton.innerHTML = 'View';
            });

        }
        document.getElementById('games-btn').addEventListener('click', function () {
            const form = document.getElementById('gamefilterform');
            form.removeAttribute('hx-get');      // disable htmx for this submission
            form.action = "{% url 'games-home' %}";
            form.submit();                       // normal browser submit
        });
    </script>
{% endblock %}