{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        
        <legend>{% if object.id %}Update Game Data{% else %}Record New Game{% endif %}</legend>

        <style>
                .effort-form {
                        border-bottom: 1px solid black;
                }

        </style>
        {% if form.errors or form.non_field_errors or non_field_errors.errors or message %}
        <div class="alert alert-warning" role="alert">
                <ul>
                {% for field in form %}
                {% for error in field.errors %}
                        <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                {% endfor %}
                {% if message %}
                        <li>{{ message }}</li>
                {% endif %}
        </ul>
        </div>
        {% endif %}


        <div style="margin-top: 30px;">
                {% include 'the_warroom/partials/forms.html' %}
        </div>


        

{% endblock content %}

{% block scripts %}
<script>

document.addEventListener('DOMContentLoaded', function() {
    const platformSelect = document.getElementById('id_platform');
    const tournamentSelect = document.getElementById('id_round');
    const deckSelect = document.getElementById('id_deck');
    const mapSelect = document.getElementById('id_map');
    const landmarksSelect = document.getElementById('id_landmarks');
    const hirelingsSelect = document.getElementById('id_hirelings');
    const undraftedFactionSelect = document.getElementById('id_undrafted_faction');
    const undraftedVagabondSelect = document.getElementById('id_undrafted_vagabond');
    
    // Function to update all select options based on the platform
    function updateOptions(platformValue) {
        const tournamentValue = tournamentSelect.value;
        let tournamentCount = tournamentSelect.options.length;
        var tournamentBlock = document.getElementById("game-tournament-field");
        // console.log(tournamentCount)
        // Remove blank tournament field
        if (tournamentCount < 2) {
                tournamentBlock.style.display = "none";
                $('#id_round').val(null).trigger('change');
        }

        // Build the URL to fetch data for all fields
        
                const url = getAllOptionsUrlForPlatform(platformValue);
                
                // Return the promise from fetch so that it can be chained with .then()
                return fetch(url)
                        .then(response => {
                        // Check if the response is ok (status code 2xx)
                        if (!response.ok) {
                                throw new Error(`Network response was not ok: ${response.statusText}`);
                        }
                        return response.json();  // Parse the response as JSON
                        })
                        .then(data => {
                                
                        if (!tournamentValue){
                              
                        // Update each select field with the data from the API
                        updateSelectOptions(deckSelect, data.decks, 'Choose a deck');
                        updateSelectOptions(mapSelect, data.maps, 'Choose a map');
                        updateSelectOptions(landmarksSelect, data.landmarks);
                        updateSelectOptions(hirelingsSelect, data.hirelings);
                        updateSelectOptions(undraftedFactionSelect, data.factions, '----------');
                        updateSelectOptions(undraftedVagabondSelect, data.vagabonds, '----------');
                        
                        // Update player field to include all players
                        updatePlayerFields(data.players);
                        
                        // Update faction and vagabond fields with the same data
                        updateFactionFields(data.factions);
                        // updateCoalitionFields(data.factions);
                        updateCoalitionList()
                        updateVagabondsFields(data.vagabonds);
                        updateCaptainsFields(data.vagabonds);
                        }
                        })
                        .catch(error => {
                        console.error('Error fetching options:', error);
                        // Optionally, handle errors more gracefully (e.g., show a user-friendly message)
                        });
                
        }

          // Function to update all select options based on the platform
    function updateTournamentOptions(tournamentValue) {
        // Build the URL to fetch data for all fields
        const url = getAllOptionsUrlForTournament(tournamentValue);
        
        // Return the promise from fetch so that it can be chained with .then()
        return fetch(url)
                .then(response => {
                // Check if the response is ok (status code 2xx)
                if (!response.ok) {
                        throw new Error(`Network response was not ok: ${response.statusText}`);
                }
                return response.json();  // Parse the response as JSON
                })
                .then(data => {
                        
                // Update each select field with the data from the API
                updateSelectOptions(deckSelect, data.decks, 'Choose a deck');
                updateSelectOptions(mapSelect, data.maps, 'Choose a map');
                updateSelectOptions(landmarksSelect, data.landmarks);
                updateSelectOptions(hirelingsSelect, data.hirelings);
                updateSelectOptions(undraftedFactionSelect, data.factions, '----------');
                updateSelectOptions(undraftedVagabondSelect, data.vagabonds, '----------');
                
                updatePlayerFields(data.players);
                // Update faction and vagabond fields with the same data
                updateFactionFields(data.factions);
                // updateCoalitionFields(data.factions);
                updateCoalitionList()
                updateVagabondsFields(data.vagabonds);
                updateCaptainsFields(data.vagabonds);
                updatePlatformField(data.platform);
               
                })
                .catch(error => {
                console.error('Error fetching options:', error);
                // Optionally, handle errors more gracefully (e.g., show a user-friendly message)
                });
        }



    // Helper function to get the URL for the combined API call based on platform
    function getAllOptionsUrlForPlatform(platformValue) {
        const urls = {
            'Tabletop Simulator': '/api/platform/tabletop_simulator/',
            'Root Digital': '/api/platform/root_digital/',
            'In Person': '/api/platform/in_person/'
        };
        return urls[platformValue] || '';
    }

    function getAllOptionsUrlForTournament(tournamentValue) {
        const url = `/api/tournament/${tournamentValue}/`;  // Template literal with interpolation
        return url || '';
    }

    // Function to update all player select fields
    function updatePlayerFields(playersData) {
        // Find all select elements with the format '*-player'
        const playerFields = document.querySelectorAll('[id$="-player"]');
        
        playerFields.forEach(playerField => {
            // For each player field, update options
            updateSelectOptions(playerField, playersData, '----------');
        });
    }

    // Function to update all faction select fields (with id_form-*faction)
    function updateFactionFields(factionsData) {
        // Find all select elements with the format 'id_form-X-faction'
        const factionFields = document.querySelectorAll('[id$="-faction"]');

        factionFields.forEach(factionField => {
            // For each faction field, update options
            updateSelectOptions(factionField, factionsData, '----------');
        });
    }

    function updateCoalitionFields(factionsData) {
        // Find all select elements with the format 'id_form-X-faction'
        const coalitionFields = document.querySelectorAll('[id$="-coalition_with"]');

        coalitionFields.forEach(coalitionField => {
            // For each faction field, update options
            updateSelectOptions(coalitionField, factionsData, '----------');
        });
        
    }

    // Function to update all vagabond select fields (with id_form-*vagabond)
    function updateVagabondsFields(vagabondsData) {
        // Find all select elements with the format 'id_form-X-vagabond'
        const vagabondFields = document.querySelectorAll('[id$="-vagabond"]');

        vagabondFields.forEach(vagabondField => {
            // For each vagabond field, update options
            updateSelectOptions(vagabondField, vagabondsData, '----------');
        });
    }

    // Function to update all vagabond select fields (with id_form-*vagabond)
    function updateCaptainsFields(vagabondsData) {
        // Find all select elements with the format 'id_form-X-vagabond'
        const vagabondFields = document.querySelectorAll('[id$="-captains"]');

        vagabondFields.forEach(vagabondField => {
            // For each vagabond field, update options
            updateSelectOptions(vagabondField, vagabondsData);
        });
    }

        // On deck change set special Dominance options
        $('#id_deck').on('change', function (e){
                const deckValue = $(this).find('option:selected').text(); 
                const dominanceFields = document.querySelectorAll('[id$="-dominance"]');
                dominanceFields.forEach(dominanceField => {                      
                        // Add or remove the 'Dark' option based on the deckValue
                        if (deckValue === 'Dark') {
                                // Check if 'Dark' option already exists
                                if (!$(dominanceField).find('option[value="Dark"]').length) {
                                        const darkOption = new Option('Dark', 'Dark');
                                        $(dominanceField).append(darkOption);
                                }
                        } else {
                                // Remove the 'Dark' option if it exists
                                $(dominanceField).find('option[value="Dark"]').remove();
                        }
                });
        });

    
    // Set up the event listener on the platform select element
    platformSelect.addEventListener('change', function() {
        console.log('Platform Changed')
        const platformValue = platformSelect.value;
        const tournamentValue = tournamentSelect.value;

                // Update all fields with one API call, but wait for the API response
                updateOptions(platformValue).then(() => {
                        // Now, the options are updated. Check the number of options
                        let hirelingsCount = hirelingsSelect.options.length;
                        let landmarksCount = landmarksSelect.options.length;
                        

                        var timingBlock = document.getElementById("timing-field");
                        var hirelingsBlock = document.getElementById("hireling-field");
                        var landmarksBlock = document.getElementById("game-landmarks-field");

                        if (platformValue == "Root Digital") {
                                var asyn = document.getElementById("id_type_0");
                                asyn.checked = true;
                                var live = document.getElementById("id_type_1");
                                live.checked = false;
                                timingBlock.style = "display:block;";
                        } else {
                                var asyn = document.getElementById("id_type_0");
                                asyn.checked = false;
                                var live = document.getElementById("id_type_1");
                                live.checked = true;
                                timingBlock.style = "display:none;";
                        }
                        if (hirelingsCount < 1) {
                                hirelingsBlock.style.display = "none";
                                $('#id_hirelings').val(null).trigger('change');
                        }else{
                                hirelingsBlock.style = "display:block;";
                                $('#id_hirelings').select2();
                        }
                        if (landmarksCount < 1) {
                                landmarksBlock.style.display = "none";
                                $('#id_landmarks').val(null).trigger('change');
                        }else{
                                landmarksBlock.style = "display:block;";
                                $('#id_landmarks').select2();
                        }


                        $('#id_deck').trigger('change');
                });
        });














        // Set up the event listener on the Tournament Select Field
        tournamentSelect.addEventListener('change', function() {
        const tournamentValue = tournamentSelect.value;
        const platformValue = platformSelect.value;
        if (tournamentValue){
                // Filter by tournament
                // Update all fields with one API call, but wait for the API response
                updateTournamentOptions(tournamentValue).then(() => {
                        // Now, the options are updated. Check the number of options
                        let hirelingsCount = hirelingsSelect.options.length;
                        let landmarksCount = landmarksSelect.options.length;
                        

                        var hirelingsBlock = document.getElementById("hireling-field");
                        var landmarksBlock = document.getElementById("game-landmarks-field");

                        if (hirelingsCount < 1) {
                                hirelingsBlock.style.display = "none";
                                $('#id_hirelings').val(null).trigger('change');
                        }else{
                                hirelingsBlock.style = "display:block;";
                                $('#id_hirelings').select2();
                        }
                        if (landmarksCount < 1) {
                                landmarksBlock.style.display = "none";
                                $('#id_landmarks').val(null).trigger('change');
                        }else{
                                landmarksBlock.style = "display:block;";
                                $('#id_landmarks').select2();
                        }


                        $('#id_deck').trigger('change');
                });
        }else{
                // Filter by platform
                updateOptions(platformSelect.value);
                updatePlatformField()
        }
        });

























    // Initial call to populate options when the page loads
    if (tournamentSelect.value === ""){
//         updateOptions(platformSelect.value);
           document.getElementById('id_platform').dispatchEvent(new Event('change'));
        }else{
//         updateTournamentOptions(tournamentSelect.value);
           document.getElementById('id_round').dispatchEvent(new Event('change'));
        }
           
    $('#id_undrafted_faction').trigger('change');
    $('#id_deck').trigger('change');
    
    const initialFactionFields = document.querySelectorAll('[id$="-faction"]');

        initialFactionFields.forEach(factionField => {
        // For each faction field, update options
        $(factionField).trigger('change');
        });


});



function updateSelectOptions(selectElement, optionsData, placeholderText = '') {
    const currentSelection = String(selectElement.value || '');  // Convert value to string to handle type mismatch

    selectElement.innerHTML = '';  // Clear current options

    // Add placeholder if provided
    if (placeholderText) {
        const placeholderOption = document.createElement('option');
        placeholderOption.value = '';
        placeholderOption.text = placeholderText;
        selectElement.appendChild(placeholderOption);
    }

    let found = false;

    // Add new options
    optionsData.forEach(item => {
        const option = document.createElement('option');
        option.value = item.id;  // Set option value
        option.text = item.name;  // Set option text
        selectElement.appendChild(option);

        // Check if the previously selected value is available
        if (String(item.id) === currentSelection) {
            found = true;
        }
    });

    // If the previously selected value exists, reselect it
    if (found) {
        selectElement.value = currentSelection;  // Set value directly
    } else {
        selectElement.value = '';  // Reset if not found
    }
}




        $('#id_hirelings').select2();
        $('#id_landmarks').select2();
        $('#id_undrafted_faction').select2();
        $('#id_undrafted_vagabond').select2();
        $('#id_map').select2();
        $('#id_deck').select2();
        //document.onload(hideBlock())

        var undrafted_vagabondBlock = document.getElementById("undrafted-vagabond-field")

        $('#id_undrafted_faction').on('change', function (e) {
                // Get the selected text
                var selectedText = $('#id_undrafted_faction option:selected').text();

                if (selectedText == 'Vagabond') {
                undrafted_vagabondBlock.style = "display:block;"
                $('#id_undrafted_vagabond').select2();
                } else {
                undrafted_vagabondBlock.style = "display:none;"
                $('#id_undrafted_vagabond').val(null).trigger('change');
                }
        });
        $('.effort-form').each((index, element) => {
                setupSelector(index, element);

                // Initialize Select2 for other fields
                $("#id_form-" + index.toString() + "-faction").select2();
                $("#id_form-" + index.toString() + "-player").select2();

                });




       





document.addEventListener('htmx:afterRequest', function(event) {
    // Clear all previous error or success messages before handling the response
    const errorContainer = document.getElementById('player-form-errors');
    errorContainer.innerHTML = '';  // Clear all content in the error container

    // Remove all error messages for each field before processing the new response
    const existingErrorDivs = document.querySelectorAll('.error-message');
    existingErrorDivs.forEach(div => div.remove());  // Remove any previous error messages

    // Handle error response (400)
    if (event.detail.xhr.status === 400) {
        const response = JSON.parse(event.detail.xhr.responseText);  // Parse the response text into a JSON object
        const errors = JSON.parse(response.error);  // Parse the 'error' string to JSON

        if (errors) {
            // Iterate through each error for the fields
            for (const fieldName in errors) {
                if (errors.hasOwnProperty(fieldName)) {
                    const fieldErrors = errors[fieldName];
                    const field = document.querySelector(`[name="${fieldName}"]`);
                    
                    if (field) {
                        const errorDiv = document.createElement('div');
                        errorDiv.classList.add('error-message', 'alert', 'alert-warning');

                        // Display all error messages for this field
                        errorDiv.innerHTML = fieldErrors.map(error => `<p>${error.message}</p>`).join('');
                        field.parentElement.appendChild(errorDiv);  // Add errors below the field
                    }
                }
            }
        }
    }
    // Handle success response (200)
    if (event.detail.xhr.status === 200) {
        const response = JSON.parse(event.detail.xhr.responseText);  // Parse the JSON response


        if (response.id && response.discord) {
            // Clear the form fields
            const form = document.querySelector('[id="register-form"]');
            form.reset();  // This will reset all form fields to their default values

            // Optionally, show a success message in the 'player-form-errors' div
            const successMessage = response.message || "Player registered successfully!";
            
            // Create a success message div
            const successDiv = document.createElement('div');
            successDiv.classList.add('success-message', 'alert', 'alert-success');  // Add classes for styling
            successDiv.innerHTML = `<p>${successMessage}</p>`;
            
            // Append the success message to the player-form-errors div
            errorContainer.appendChild(successDiv);

            const tournamentSelect = document.getElementById('id_round');
            const tournamentValue = tournamentSelect.value;
            // Add players to list only if tournament not selected
            if (!tournamentValue){
                // Find all fields whose ID ends with '-player' and update their options
                const playerFields = document.querySelectorAll('[id$="-player"]');
                playerFields.forEach(playerField => {
                        const newPlayerOption = document.createElement('option');
                                newPlayerOption.value = response.id;
                                newPlayerOption.text = response.discord + " (New)";
                                playerField.appendChild(newPlayerOption);

                        // Trigger a change event to update the select field
                        $(playerField).trigger('change');
                        
                });
            }
        }
    }
});










        function updatePlatformField(platform=null){
                const platformSelectField = document.getElementById('id_platform');
                let availablePlatforms = [];
                if (platform){
                        // console.log(platform)
                        availablePlatforms.push({
                                        id: platform,
                                        name: platform
                                });
                }else{
                        // console.log("All Platforms")
                        availablePlatforms = [
                        { id: "Tabletop Simulator", name: "Tabletop Simulator" },
                        { id: "Root Digital", name: "Root Digital" },
                        { id: "In Person", name: "In Person" }
                        ];
                }
                // Update the platform field with the limited list
                updateSelectOptions(platformSelectField, availablePlatforms, '')
                // If no value select the first value
                if (!platformSelectField.value){
                        platformSelectField.selectedIndex = 0;
                        // console.log(platformSelectField.value)
                }
        }





        function updateCoalitionList() {
                let coalitionObjectList = [];
                let vbFound = false
                $('.effort-form').each((index, element) => {
                        var selector = "#id_form-" + index.toString() + "-faction";  // Dynamically generate the selector
                        var selectedOption = $(selector + ' option:selected');  // Get the selected option
                        
                        var selectedText = selectedOption.text();  // Get the text of the selected option
                        var selectedValue = selectedOption.val();  // Get the value of the selected option
                        if (selectedText != 'Vagabond' || vbFound){
                        // Add the selected faction to the coalitionObjectList if it's valid and unique
                        if (selectedText != '----------' && selectedText != '') {
                                // Check if the id is already in the list (to ensure uniqueness)
                                if (!coalitionObjectList.some(option => option.id === selectedValue)) {
                                // Store the id and name as a dictionary/object
                                coalitionObjectList.push({
                                        id: selectedValue,
                                        name: selectedText
                                });
                                }
                        }
                }
                        if (selectedText === 'Vagabond'){vbFound = true}
                        });
                const coalitionFields = document.querySelectorAll('[id$="-coalition_with"]');
                coalitionFields.forEach(coalitionField => {
                        updateSelectOptions(coalitionField, coalitionObjectList, '----------')
                        $(coalitionField).select2();
                        });
                        
        }

        function setupSelector(index, element){
                var selector = "#id_form-"+ index.toString() +"-faction"
                var VBselector = "#id_form-"+ index.toString() +"-vagabond"
                var captainsSelector = "#id_form-"+ index.toString() +"-captains"
                var dominanceSelector = "#id_form-"+ index.toString() +"-dominance"
                var coalitionSelector = "#id_form-"+ index.toString() +"-coalition_with"
                var innerSelect = element.querySelector(selector)
                
                $(selector).on('change', function (e) {
                // Get the selected text
                        var selectedText = $(selector+' option:selected').text();
                        // console.log(selector, selectedText)
                        var vagabondBlock = document.querySelector(VBselector)?.closest('.vagabond-field');
                        var captainsBlock = document.querySelector(captainsSelector)?.closest('.captains-field');
                        var dominanceBlock = document.querySelector(dominanceSelector)?.closest('.dominance-field');
                        var coalitionBlock = document.querySelector(coalitionSelector)?.closest('.coalition-field');
                        updateCoalitionList()
                        if (selectedText == 'Vagabond') {
                                vagabondBlock.style = "display:block;"
                                coalitionBlock.style = "display:block;"
                                dominanceBlock.style = "display:none;"
                                $(dominanceSelector).val(null).trigger('change');
                                $(VBselector).select2();
                                $(coalitionSelector).select2();
                        } else {
                                vagabondBlock.style = "display:none;"
                                coalitionBlock.style = "display:none;"
                                dominanceBlock.style = "display:block;"
                                $(VBselector).val(null).trigger('change');
                                $(coalitionSelector).val(null).trigger('change');
                        }
                        if (selectedText == 'Knaves of the Deepwood') {
                                captainsBlock.style = "display:block;"
                                $(captainsSelector).select2();
                        } else {
                                captainsBlock.style = "display:none;"
                                $(captainsSelector).val(null).trigger('change');
                        }
                });

        }


        let nextFormIndex = document.querySelectorAll('.effort-form').length;
                // console.log(nextFormIndex)
        document.addEventListener('click', (event)=>{
                if (event.target.id == 'add-more'){
                        add_new_form(event)
                }
        })

        function add_new_form(event) {
                
                if (event) {
                        event.preventDefault()
                }
                const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
                // const currentEffortForms = document.getElementsByClassName('effort-form')
                // const currentFormCount = currentEffortForms.length
                const formCopyTarget = document.getElementById("effort-form-list")
                
                const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
                copyEmptyFormEl.setAttribute('class', 'effort-form form-control')
                copyEmptyFormEl.setAttribute('id', `form-${nextFormIndex}`)
                const regex = new RegExp('__prefix__', 'g')
                copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, nextFormIndex)
                totalNewForms.setAttribute('value', nextFormIndex + 1)

                formCopyTarget.append(copyEmptyFormEl)
                setupSelector(nextFormIndex, formCopyTarget)
                // console.log('#id_form-'+nextFormIndex+'-player')
                $('#id_form-'+nextFormIndex+'-player').select2();
                $('#id_form-'+nextFormIndex+'-faction').select2();
                $('#id_form-'+nextFormIndex+'-vagabond').select2();
                $('#id_form-'+nextFormIndex+'-captains').select2();
                $('#id_form-'+nextFormIndex+'-coalition_with').select2();

                nextFormIndex++;
                // console.log(nextFormIndex)
                
        }

        function clearForm(button) {
                var formDiv = button.closest('.effort-form'); // Find the parent form div
                formDiv.remove(); // Remove the form from the DOM
        }
</script>
{% endblock %}