{% extends 'the_keep/base.html' %}
{% load i18n %}

{% block title %}{{ round.name }} - {{ stage.name }} | {% endblock %}

{% block content %}
<div class="container-fluid py-3">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tournaments-home' %}">{% trans 'Series' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tournament-detail' slug=tournament.slug %}">{{ tournament.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'stage-overview' tournament_slug=tournament.slug stage_slug=stage.slug %}">{{ stage.name }}</a></li>
            <li class="breadcrumb-item active">{{ round.name }}</li>
        </ol>
    </nav>

    <!-- Header -->
    {% include 'the_warroom/partials/tournament_title_header.html' with page_name=round.name %}


    <!-- Nav Header -->
    {% include 'the_warroom/partials/round_nav_header.html' with active_page='overview' %}

    <!-- Round info -->
    {% include 'the_warroom/partials/overview_summary_card.html' with item=round %}

</div>
{% endblock %}
