{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %}{{ round.name }} - {% trans 'Games' %} | {% endblock %}

{% block meta %}
{% trans "Games" as meta_page_suffix %}
{% include 'the_warroom/partials/meta_tags.html' with meta_page_suffix=meta_page_suffix %}
{% endblock meta %}

{% block content %}
<div class="container-fluid py-3">

    <!-- Breadcrumb -->
    {% trans "Games" as bc_page %}
    {% include 'the_warroom/partials/breadcrumb.html' with breadcrumb_page=bc_page %}

    <!-- Header -->
    {% include 'the_warroom/partials/tournament_title_header.html' with page_name=round.name %}

    <!-- Nav Header -->
    {% include 'the_warroom/partials/round_nav_header.html' with active_page='games' %}

    {% url 'round-games-page' tournament.slug stage.slug round.slug as filter_url %}
    {% include 'the_warroom/partials/universal_game_filter.html' with form=form filter_url=filter_url %}

    {% include 'the_warroom/partials/tournament_game_list.html' %}

</div>
{% endblock content %}

{% block scripts %}
<script>
    const selectPlaceholders = {
        '#id_faction': "{% trans 'Select Factions' %}",
        '#id_factions': "{% trans 'Select Factions' %}",
        '#id_player': "{% trans 'Select Players' %}",
        '#id_players': "{% trans 'Select Players' %}",
        '#id_vagabond': "{% trans 'Select Vagabonds' %}",
        '#id_vagabonds': "{% trans 'Select Vagabonds' %}",
        '#id_map': "{% trans 'Select a Map' %}",
        '#id_deck': "{% trans 'Select a Deck' %}"
    };

    Object.keys(selectPlaceholders).forEach(id => {
        if ($(id).length) {
            $(id).select2({
                placeholder: selectPlaceholders[id],
                allowClear: true,
                width: '100%'
            });
        }
    });
</script>
{% endblock %}
