{% extends 'the_keep/base.html' %}
{% block content %}

<a class="btn btn-success ml-1 ms-1 mb-1" href="{% url 'record-scorecard' %}">New Scorecard</a>
{% if unassigned_scorecards %}
<h1>Unassigned Scorecards ({{ unassigned_scorecards|length }})</h1>
These scorecards have not been linked to any game:


<table>
    <thead>
        <tr>
            <th>Faction</th>
            <th>Points</th>
            <th>Turns</th>
            <th>Note</th>
            <th>Actions</th> <!-- Added an Actions column for the buttons -->
            <th>Info</th>
        </tr>
    </thead>
    <tbody class="scorecard-rows">
        {% for object in unassigned_scorecards %}
        <tr>
            <td>
                <a href="{% url 'faction-detail' object.faction.slug %}">{{  object.faction }}</a>
            </td>
            <td>
                {{ object.total_points }}
            </td>
            <td>
                {{ object.turns.count }}
            </td>

            <td>
                {% if object.description %}
                    {% if object.description|length > 30 %}
                        {{ object.description|slice:":30" }}...
                    {% else %}
                        {{ object.description }}
                    {% endif %}
                {% else %}
                    None
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-danger btn-sm ml-1 ms-1 mb-1" href="{% url 'delete-scorecard' object.id %}">
                    <i class="bi bi-trash3"></i>
                </a>
                <a class="btn btn-outline-primary btn-sm ml-1 ms-1 mb-1" href="{% url 'update-scorecard' object.id %}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                {% if object.matching_efforts %}
                    <button class="btn btn-outline-warning btn-sm ml-1 ms-1 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-game-{{ object.id }}" aria-expanded="false" aria-controls="collapse-game-{{ object.id }}">
                        <i class="bi bi-link"></i>
                    </button>
                {% endif %}
            </td>
            <td>
                <!-- Button to toggle the visibility of the hidden row -->
                <button class="btn btn-outline-info btn-sm ml-1 ms-1 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ object.id }}" aria-expanded="false" aria-controls="collapse-{{ object.id }}">
                    <i class="bi bi-info-circle"></i>
                </button>
            </td>
        </tr>
        <!-- Hidden row that will be shown when the button is clicked -->
        <tr id="collapse-{{ object.id }}" class="collapse">
            <td colspan="5"> <!-- Make sure the hidden row spans across all columns -->
                <div class="card card-body">
                    <!-- Hidden content -->
                    {% include 'the_warroom/partials/scorecard.html' %}
                </div>
            </td>
        </tr>
        {% if object.matching_efforts %}
        <tr id="collapse-game-{{ object.id }}" class="collapse">
            <td colspan="6"><strong>Matching Games</strong></td>
        </tr>
        {% for effort in object.matching_efforts %}
        <tr id="collapse-game-{{ object.id }}" class="collapse">
            <td colspan="5">
                {% if effort.game %}
                    {% with effort.game as game %}
                    {% with game.get_efforts as efforts %}
                    {% include 'the_warroom/partials/game_detail.html' %}
                    {% endwith %}
                    {% endwith %}
                {% else %}
                    <p>No game associated with this effort.</p>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-success btn-sm ml-1 ms-1 mb-1" href="{% url 'assign-scorecard' id=effort.id %}?scorecard={{ object.id }}">
                    <i class="bi bi-link"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

        {% endfor %}
    </tbody>
</table>

{% endif %}





{% if complete_scorecards %}
<h1>Your Scorecards</h1>
<table>
    <thead>
        <tr>
            <th>Faction</th>
            <th>Points</th>
            <th>Turns</th>

            <th>Player</th>
            <th>Actions</th> <!-- Added an Actions column for the buttons -->
            <th>Info</th>
        </tr>
    </thead>
    <tbody class="scorecard-rows">


{% for object in complete_scorecards %}
<tr>
        <td>
            <a href="{% url 'faction-detail' object.faction.slug %}">{{  object.faction }}</a>
        </td>
        <td>
            {{ object.total_points }}
        </td>
        <td>
            {{ object.turns.count }}
        </td>

        <td>
            {% if object.effort.player %}
                <a href="{% url 'player-detail' object.effort.player.slug %}">{{  object.effort.player.name }}</a>
            {% else %}
                No Player
            {% endif %}
        </td>

        <td>

            <a class="btn btn-outline-primary btn-sm ml-1 ms-1 mb-1" href="{% url 'update-scorecard' object.id %}">
                <i class="bi bi-pencil-square"></i>
            </a>

        </td>
        <td>
            <button class="btn btn-outline-info btn-sm ml-1 ms-1 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ object.id }}" aria-expanded="false" aria-controls="collapse-{{ object.id }}">
                <i class="bi bi-info-circle"></i>
            </button>
        </td>
</tr>


<!-- Hidden row that will be shown when the button is clicked -->
<tr id="collapse-{{ object.id }}" class="collapse">
    <td colspan="6"> <!-- Make sure the hidden row spans across all columns -->
        <div class="card card-body">
            <!-- Hidden content -->
            {% with object.effort.game as game %}
            {% with game.get_efforts as efforts %}
            {% include 'the_warroom/partials/game_detail.html' %}
            {% endwith %}
            {% endwith %}
        </div>
    </td>
</tr>
<tr id="collapse-{{ object.id }}" class="collapse">
    <td colspan="6"> <!-- Make sure the hidden row spans across all columns -->
        <div class="card card-body">
            <!-- Hidden content -->
            {% include 'the_warroom/partials/scorecard.html' %}
        </div>
    </td>
</tr>

{% endfor %}
</tbody>
</table>
{% endif %}







{% endblock content %}