{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %}{{ tournament.name }} - {% trans 'Leaderboard' %} | {% endblock %}


{% block meta %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if tournament.picture %}{{ tournament.picture.url }}{% else %}{% static 'images/battlefield-icon.png' %}{% endif %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ meta_title }} - {% trans 'Leaderboard' %}">
<meta property="og:description" content="{{ meta_description }}">
<meta name="description" content="{{ meta_description }}">
{% endblock meta %}

{% block content %}
<div class="container-fluid py-3">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tournaments-home' %}">{% trans 'Series' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tournament-detail' tournament.slug %}">{{ tournament.name }}</a></li>
        </ol>
    </nav>

    <!-- Header -->
    {% include 'the_warroom/partials/tournament_title_header.html' with page_name=tournament.name %}


    {% if tournament.description %}
    <p class="sub-data mb-3"><small>{{ tournament.description }}</small></p>
    {% endif %}

    <!-- Nav Header -->
    {% include 'the_warroom/partials/tournament_nav_header.html' with active_page='leaderboard' %}

    {% include 'the_warroom/partials/leaderboard_list_home.html' %}

    {% url 'tournament-leaderboard-page' tournament.slug as filter_url %}
    {% include 'the_warroom/partials/universal_game_filter.html' with form=form filter_url=filter_url include_limit_threshold=True leaderboard_places=leaderboard_places leaderboard_threshold=leaderboard_threshold %}

</div>
{% endblock content %}

{% block scripts %}
<script>
    const selectPlaceholders = {
        '#id_faction': "{% trans 'Select Factions' %}",
        '#id_factions': "{% trans 'Select Factions' %}",
        '#id_player': "{% trans 'Select Players' %}",
        '#id_players': "{% trans 'Select Players' %}",
        '#id_vagabond': "{% trans 'Select Vagabonds' %}",
        '#id_vagabonds': "{% trans 'Select Vagabonds' %}",
        '#id_map': "{% trans 'Select a Map' %}",
        '#id_deck': "{% trans 'Select a Deck' %}"
    };

    Object.keys(selectPlaceholders).forEach(id => {
        if ($(id).length) {
            $(id).select2({
                placeholder: selectPlaceholders[id],
                allowClear: true,
                width: '100%'
            });
        }
    });
</script>
{% endblock %}
