{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %}{{ object.name }} | {% endblock %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if tournament.picture %}{{ tournament.picture.url }}{% else %}{% static 'images/battlefield-icon.png' %}{% endif %}">
<meta property="og:site_name" content="Root Database">

<meta property="og:title" content="{{meta_title}}">
<meta property="og:description" content="{{meta_description}}">
<meta name="description" content="{{meta_description}}">
{% endblock meta%}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap">
    <div class="d-flex align-items-center flex-wrap gap-2">
        <a href="{% url 'tournaments-home' %}">Series</a>
        <i class="bi bi-chevron-right"></i>
        {% if object.type == 'Round' %}
        <a href="{{ object.tournament.get_absolute_url }}">{{ object.tournament.name }}</a>
        <i class="bi bi-chevron-right"></i>
        {% endif %}

        {{ object.name }}

    </div>
    {% if playable_round %}
        <div>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'record-game' %}?series={{ playable_round.id }}">New Game +</a>
        </div>
    {% endif %}
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>{{object.name}}</h1>
    {% if user.is_authenticated %}
        {% if user.profile.admin or user.profile == object.tournament.designer %}
            <a class="btn btn-warning btn-sm ms-2 mt-1 mb-1" href="{{ object.get_update_url }}"><i class="bi bi-pencil-square"></i></a>
        {% elif user.profile == object.designer and object.type == "Tournament" %}
            <a class="btn btn-warning btn-sm ms-2 mt-1 mb-1" href="{% url 'tournament-designer-update' slug=object.slug %}"><i class="bi bi-pencil-square"></i></a>
        {% endif %}
    {% endif %}
</div>



{% if object.type == 'Round' %}
    {% if object.tournament.designer %}
    <div>
    Hosted by {{ object.tournament.designer.name }}
    </div>
    {% endif %}
{% else %}
    {% if object.designer %}
    <div>
    Hosted by {{ object.designer.name }}
    </div>
    {% endif %}
{% endif %}

{% if object.description %}
<div class='sub-data'>
<small>
    {{ object.description }}
</small>
</div>
{% endif %}
<div>

            {% include 'the_warroom/partials/tournament_round_detail.html' %}
        
</div>

{% endblock %}