{% extends 'the_keep/base.html' %}
{% load i18n warroom_tags %}
{% block title %}{{ tournament.name }} - {% trans 'Bracket' %} | {% endblock %}

{% block meta %}
{% trans "Bracket" as meta_page_suffix %}
{% include 'the_warroom/partials/meta_tags.html' with meta_page_suffix=meta_page_suffix %}
{% endblock meta %}

{% block main_width_class %}col-md-12{% endblock %}

{% block content %}
<div class="py-3">

    <!-- Breadcrumb -->
    {% trans "Bracket" as bc_page %}
    {% include 'the_warroom/partials/breadcrumb.html' with breadcrumb_page=bc_page %}

    <!-- Header -->
    {% include 'the_warroom/partials/tournament_title_header.html' with page_name=tournament.name %}

    <!-- Nav Header -->
    {% include 'the_warroom/partials/tournament_nav_header.html' %}

    {% if not has_bracket %}
    <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>{% trans 'No bracket matches have been generated yet. Finalize grouping for a round to generate matches.' %}
    </div>
    {% endif %}

    {% for stage in stages %}
        {% if tournament.use_stages %}
            <div class="card mb-4">
                <a href="{% url 'stage-bracket-page' tournament_slug=tournament.slug stage_slug=stage.slug %}">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 root-title">
                            {{ stage.name }}
                        </h5>
                    </div>
                </a>
                <div class="card-body p-0">
                    {% include 'the_warroom/partials/stage_bracket.html' with rounds=stage.rounds.all stage=stage %}
                </div>
            </div>
        {% else %}
            {% include 'the_warroom/partials/stage_bracket.html' with rounds=stage.rounds.all stage=stage %}
        {% endif %}
    {% endfor %}

</div>
{% endblock content %}
