{% extends 'the_keep/base.html' %}
{% block title %}New Series | {% endblock %}
{% load crispy_forms_tags i18n %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">{% if object.id %}Update {% if object.type == "Round" %}{{ object.tournament.name }} {% endif %}{{ object.name }}{% else %}New Series{% endif %}</legend>
                {% if not object.id %}
                A Series can be an ongoing or limited series of games. Once created you can schedule and create new Rounds for the Series.
                A League, Tournament or Playtest are examples of a Series and can have multiple Rounds.
                Each Series has an overall Leaderboard as well as Season/Round Leaderboards.
                {% endif %}
                {{ form | crispy }}
            </fieldset>
            <div class="mb-3">
                <button class="btn btn-info" type="submit">{% trans 'Save' %}</button>
                {% if not object.id %}
                <a class="btn btn-secondary" href="{% url 'tournaments-home' %}">{% trans 'Cancel' %}</a>
                {% else %}
                <a class="btn btn-secondary" href="{% url 'tournament-detail' object.slug %}">{% trans 'Cancel' %}</a>
                <a class="btn btn-danger" href="{% url 'tournament-delete' object.slug %}">{% trans 'Delete' %}</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
        <script>

            if ($('#id_designer').length) {
                $('#id_designer').select2();
            }
            $(document).ready(function(){
                // Apply the jQuery UI datepicker to the 'end_date' field
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd",  // Format the date (you can adjust this as needed)
                    changeMonth: true,        // Allow month change via dropdown
                    changeYear: true,         // Allow year change via dropdown
                    yearRange: "c-100:c+10"  // Year range (from 100 years ago to 10 years in the future)
                });
            });
        </script>
{% endblock %}
