{% extends 'the_keep/base.html' %}
{% block title %} - Series{% endblock %}
{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <div class='d-flex'>
        <h1>Series</h1>

    </div>  
    <div class='d-flex'>
        {% if user.profile.player %}
        <a href="{% url 'scorecard-home' %}" class="btn btn-sm btn-primary ml-1 mb-3" id="scorecards">
            Scorecards
        </a>
        {% endif %}


        <a href="{% url 'games-home' %}" class="btn btn-sm btn-primary ml-1 mb-3" id="games">
            Games
        </a>

        {% if user.profile.admin %}
            <a class="btn btn-sm btn-success mb-3 ml-1" href="{% url 'tournament-create' %}">New Series +</a>
        {% endif %}
    </div>
</div>

{% if scheduled.count > 0 or future.count > 0 %}

    <div class="container mt-4">
        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="tournamentTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="concluded-tab" data-bs-toggle="tab" href="#concluded" role="tab" aria-controls="concluded" aria-selected="false">Concluded</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ongoing-tab" data-bs-toggle="tab" href="#ongoing" role="tab" aria-controls="ongoing" aria-selected="false">Ongoing</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="scheduled-tab" data-bs-toggle="tab" href="#scheduled" role="tab" aria-controls="scheduled" aria-selected="true">Scheduled</a>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="tournamentTabsContent">
            <!-- Scheduled Tournaments -->
            <div class="tab-pane fade" id="scheduled" role="tabpanel" aria-labelledby="scheduled-tab">
                <h3>Scheduled Series</h3>
                {% with scheduled as tournaments %}
                    {% include 'the_warroom/partials/tournament_list.html' %}
                {% endwith %}
            </div>

            <!-- Ongoing Tournaments -->
            <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
                <h3>Ongoing Series</h3>

                {% with ongoing as tournaments %}
                    {% include 'the_warroom/partials/tournament_list.html' %}
                {% endwith %}
            </div>

            <!-- Concluded Tournaments -->
            <div class="tab-pane fade" id="concluded" role="tabpanel" aria-labelledby="concluded-tab">
                <h3>Concluded Series</h3>
                {% with concluded as tournaments %}
                    {% include 'the_warroom/partials/tournament_list.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
{% else %}
    
    <article class="media content-section">
        <div class="media-body">
        <h3>Ongoing Series</h3>
        {% with ongoing as tournaments %}
            {% include 'the_warroom/partials/tournament_list.html' %}
        {% endwith %}
        </div>
    </article>
{% endif %}

{% endblock%}
