{% load static %}
<tr {% if effort.win %} style="font-weight: bold;" {% endif %}>
    <td>

        {% if effort.player %}
            {% if user.profile.player %}
                {{ effort.player.name }}
            {% else %}
                {{ effort.player.name }}
            {% endif %}
        {% else %}
            {% if effort.faction.type == "C" %}
            Clockwork
            {% else %}
            ---
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if effort.faction %}
                <img class="faction-icon" src="{{ effort.faction.small_icon.url }}">
            {{ effort.faction }}
            {% if effort.vagabond %}
                ({{ effort.vagabond }})
            {% endif %}
        {% else %}
            Faction N/A
        {% endif %}
    </td>
    <td>
        {% if effort.dominance %}
            <img class="faction-icon"  
                src="{% static 'images/dominance/' %}{{ effort.dominance }}_Icon.png" 
                alt="{{ effort.dominance }} Dominance">
        {% elif effort.coalition_with %}
            <img class="faction-icon" 
                src="{{ effort.coalition_with.small_icon.url }}"
                alt="{{ effort.coalition_with.title }} Icon">
        {% else %}
            {% if effort.score %}
                {{ effort.score }}
            {% endif %}
        {% endif %}
        {% if effort.win %}
            <img class="faction-icon"  src="{% static 'images/winner.png' %}" alt="Win">
        {% endif %}

    </td>
</tr>


