{% load static %}
<tr {% if effort.win %} style="font-weight: bold;" {% endif %}>
    {% if user.profile.player %}
    <td>

    {% if effort.player %}
        {% if user.profile.player %}
            <a href="{% url 'player-detail' effort.player.slug %}">{{ effort.player.name }}</a>
        {% else %}
            {{ effort.player.name }}
        {% endif %}
    {% else %}
        {% if effort.faction.type == "C" %}
        Clockwork
        {% else %}
        Player {{ effort.seat }}
        {% endif %}
    {% endif %}
</td>
{% endif %}
<td>
    {% if effort.faction %}
        <span class='root-title'>
        <a href="{% url 'faction-detail' effort.faction.slug %}">
            <div class="parent mr-2 mb-1">
                <!-- The first image -->
                <img class="faction-icon image1" src="{{ effort.faction.small_icon.url }}" alt="Faction Icon">

                {% if effort.win %}
                    <!-- The second image (overlay) -->
                    <img class="lg-faction-icon image2" src="{% static 'images/winner.png' %}" alt="Win">
                {% endif %}
            </div>

            {{ effort.faction }}
        </a>
        {% if effort.vagabond %}
            (<a href="{% url 'vagabond-detail' effort.vagabond.slug %}">{{ effort.vagabond }}</a>)
        {% endif %}
        {% if effort.captains %}
            (<a href="{% url 'vagabond-detail' effort.captains.slug %}">{{ effort.captains }}</a>)
        {% endif %}
    </span>
    {% else %}
        Faction N/A
    {% endif %}
</td>
<td>
    {% if effort.dominance %}
        <img class="faction-icon"  
            src="{% static 'images/dominance/' %}{{ effort.dominance }}_Icon.png" 
            alt="{{ effort.dominance }} Dominance">
        {% if effort.score %}
            ({{ effort.score }})
        {% endif %}
    {% elif effort.coalition_with %}
        <a href="{% url 'faction-detail' effort.coalition_with.slug %}">
            <div class="parent mr-2">
                <!-- The first image -->
                <img class="faction-icon image1" 
                src="{{ effort.coalition_with.small_icon.url }}"
                alt="{{ effort.coalition_with.title }} Icon">

                {% if effort.win %}
                    <!-- The second image (overlay) -->
                    <img class="lg-faction-icon image2" src="{% static 'images/winner.png' %}" alt="Win">
                {% endif %}
            </div>
        </a>
    {% else %}
        {% if effort.score %}
            {{ effort.score }}
        {% else %}
            0
        {% endif %}
    {% endif %}


</td>
{% if show_detail %}
<td>   
    {% if effort.scorecard %}
        <a class="btn btn-primary btn-sm" href="{{ effort.scorecard.get_absolute_url }}"><i class="bi bi-zoom-in"></i></a>
    {% elif effort.available_scorecard %}
        {% if user.is_authenticated %}
            {% if user.profile in participants %}
                <a class="btn btn-warning btn-sm" href="{% url 'assign-scorecard' id=effort.id %}"><i class="bi bi-link"></i></a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if user.is_authenticated %}
            {% if user.profile in participants or user.profile == game.recorder  %}
                <a class="btn btn-success btn-sm" href="{% url 'record-scorecard' %}?faction={{ effort.faction.id }}&effort={{ effort.id }}"><i class="bi bi-plus"></i></a>
            {% endif %}
        {% endif %}
    {% endif %}
</td>
{% endif %}

{% if user.profile.admin and game.efforts.count > 1 %}
<td>   
    {% if game.efforts.count > 1 %}
        <a class="btn btn-danger btn-sm"
        hx-delete="{% url 'effort-hx-delete' effort.id %}"
        hx-confirm="Are you sure you want to delete this player data? This cannot be undone. If you need to edit the player data use the Edit button below instead."
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#game-{{ game.id }}" 
        hx-swap="outerHTML">
        <i class="bi bi-trash3"></i>
    </a>
    {% else %}
        <a class="btn btn-danger btn-sm" href="{{ game.get_delete_url }}">Delete Game</a>
    {% endif %}
</td>
{% endif %}
</tr>


