<form action="." method="POST" hx-swap="outerHTML">
    {% csrf_token %}

    
    <h3>Game Details</h3>
    {% for field in form %}
            <div class="{% if field.field.required %}{{ form.required_css_class }}{% endif %}">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                    <p class="help">{{ field.help_text | safe }}</p>
            {% endif %}
            </div>
    {% endfor %}

    {% if formset %}
            <h3>Players</h3>
            {{ formset.management_form }}
            <div id="effort-form-list">
                    {% for form in formset %}
                            <div class="effort-form">
                                {% for field in form %}
                                        <div class="{% if field.field.required %}{{ form.required_css_class }}{% endif %}">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                                <p class="help">{{ field.help_text | safe }}</p>
                                        {% endif %}
                                        </div>
                                {% endfor %}
                            </div>
                    {% endfor %}
            </div>

            <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
            <button class="btn btn-outline-info" style="margin-top: 10px;"  id="add-more" type="button">Add Player +</button>
    {% endif %}
    <div class="htmx-indicator" style="margin-top: 10px;" >Loading...</div>
    <button class="btn btn-outline-success htmx-inverted-indicator" style="margin-top: 10px;" type="submit">Save</button>
    <a class="btn btn-outline-danger" style="margin-top: 10px;"  href="{{ object.get_delete_url }}">Delete</a>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    
    </form>