
<article class="media content-section">
<div class="media-body">

    <div class="article-metadata">
        <small class="text-muted">
            <a href="{% url 'game-detail' game.id %}">{{ game.type }} {{ game.platform }}{% if game.league %} League{% endif %} Game</a> |
            {{ game.date_posted | date:"Y-m-d" }} |
            <a href="{% url 'deck-detail' game.deck.slug %}">{{ game.deck }} Deck</a> -
            <a href="{% url 'map-detail' game.map.slug %}">{{ game.map }} Map</a>
        </small>
    </div>




    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody class="effort-rows">


        {% for effort in game.get_efforts %}

        <tr>
            <td>

            {% if effort.player %}
                {{ effort.player }}
            {% else %}
                Anonymous Player
            {% endif %}
        </td>
        <td>
            {% if effort.faction %}
                <a href="{% url 'faction-detail' effort.faction.slug %}">
                    <img class="rounded-square faction-icon" src="{{ effort.faction.faction_icon.url }}">
                </a>
                <a href="{% url 'faction-detail' effort.faction.slug %}">{{ effort.faction }}</a>
                {% if effort.vagabond %}
                    (<a href="{% url 'vagabond-detail' effort.vagabond.slug %}">{{ effort.vagabond }}</a>)
                {% endif %}
            {% else %}
                Faction N/A
            {% endif %}
        </td>
        <td>
            {% if effort.dominance %}
                Dominance
            {% elif effort.coalition_with %}
                Coalition with {{ effort.coalition_with.title }}
            {% else %}
                {% if effort.score %}
                    {{ effort.score }}
                {% endif %}
            {% endif %}
            {% if effort.win %}
                 (Winner)
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>




</div>
</article>