


<article class="media content-section" id="game-{{ game.id }}">
<div class="media-body">
    <div class="article-metadata">
        <small class="text-muted">
            {% if request.resolver_match.view_name == 'game-detail' or request.resolver_match.view_name == 'effort-hx-delete' or user.profile.outcast %}
                {% if game.tournament %}
                    {{ game.tournament.name }} Tournament Game |
                {% else %}
                    {{ game.type }} {{ game.platform }}{% if game.league %} League{% endif %} {% if game.test_match %}Playtest{% else %}Game{% endif %} |
                {% endif %}
            {% else %}
                {% if game.tournament %}
                    <a href="{% url 'game-detail' game.id %}">{{ game.tournament.name }} Tournament Game</a> |
                {% else %}
                    <a href="{% url 'game-detail' game.id %}">{{ game.type }} {{ game.platform }}{% if game.league %} League{% endif %} {% if game.test_match %}Playtest{% else %}Game{% endif %}</a> |
                {% endif %}
            {% endif %}
            {{ game.date_posted | date:"Y-m-d" }} |
            <a href="{% url 'deck-detail' game.deck.slug %}">{{ game.deck }} Deck</a> -
            <a href="{% url 'map-detail' game.map.slug %}">{{ game.map }} Map</a>
        </small>
    </div>

    {% if game.landmarks.count > 0 or game.hirelings.count > 0 %}
        <div class="article-metadata">
            <small class="text-muted">
                {% if game.landmarks.count > 0 %}
                    Landmarks:
                    {% for landmark in game.landmarks.all %}
                    <a href="{% url 'landmark-detail' landmark.slug %}">{{ landmark.title }}</a>{% if not forloop.last %} | {% endif %}
                    {% endfor %}
                {% endif %}
                {% if game.hirelings.count > 0 %}
                    Hirelings:
                    {% for hireling in game.hirelings.all %}
                    <a href="{% url 'hireling-detail' hireling.slug %}">{{ hireling.title }}</a>{% if not forloop.last %} | {% endif %}
                    {% endfor %}
                {% endif %}
            </small>
        </div>
    {% endif %}


    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Score</th>
                {% if user.profile.designer %}
                {% if request.resolver_match.view_name == 'game-detail' or request.resolver_match.view_name == 'effort-hx-delete' %}
                    <th>Detail</th>
                {% endif %}
                {% endif %}
                {% if user.profile.admin  %}
                {% if request.resolver_match.view_name == 'game-detail' or request.resolver_match.view_name == 'effort-hx-delete' %}
                    <th>Admin</th>
                {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody class="effort-rows">

{% if request.resolver_match.view_name == 'game-detail' or request.resolver_match.view_name == 'effort-hx-delete' %}
    {% for effort in efforts %}
            {% include 'the_warroom/partials/effort_detail.html' %}
    {% endfor %}
{% else %}
    {% for effort in game.get_efforts %}
        {% include 'the_warroom/partials/effort_detail.html' %}
    {% endfor %}
{% endif %}

</tbody>
</table>

</div>
</article>
