{% load i18n %}


<article class="media content-section post-card" id="game-{{ game.id }}">
    
    <div class="media-body">
        <a href="{{ game.get_absolute_url }}">
            {% if game.nickname %}
                <h5>{{game.nickname}}</h5>
            {% endif %}
        <div class="article-metadata">
            <small class="text-muted">
                    {% if not game.final %}
                        {% trans 'In Progress' %} 
                    {% endif  %}
                    {% if game.round %}
                        {% if game.platform == "Root Digital" %}{{ game.type }}{% endif %}
                         {{ game.round.tournament.name }} |
                    {% else %}
                        {% if game.platform == "Root Digital" %}{{ game.type }}{% endif %}
                        {% if game.solo %}
                            {% trans 'Solo' %} 
                        {% endif %}
                        {% if game.coop %}
                            {% trans 'Co-op' %} 
                        {% endif %}
                        {{ game.platform }}
                        {% if game.test_match %}
                            {% trans 'Playtest' %}
                        {% else %}
                            {% trans 'Game' %}
                        {% endif %} |
                    {% endif %}
                  
                {{ game.date_posted|date:"F j, Y" }} |
                {% if game.deck %}
                {{ game.deck }} {% trans 'Deck' %}
                {% endif %}
                {% if game.deck and game.map %}
                -
                {% endif %}
                {% if game.map %}
                {{ game.map }} {% trans 'Map' %}
                {% endif %}
            </small>
        </div>
        {% comment %}     
        {% if game.landmarks.all|length > 0 or game.hirelings.all|length > 0 or game.tweaks.all|length > 0 %}

            <div class="article-metadata">
                <small class="text-muted">
                    {% if game.landmarks.count > 0 %}
                        {% trans 'Landmarks:' %}
                        {% for landmark in game.landmarks.all %}
                            {{ landmark.title }}{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if game.landmarks.count > 0 and game.hirelings.count > 0 %}
                    | 
                    {% endif %}
                    {% if game.hirelings.count > 0 %}
                        {% trans 'Hirelings:' %}
                        {% for hireling in game.hirelings.all %}
                            {{ hireling.title }}{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if game.tweaks.count > 0 %}
                        {% trans 'House Rules:' %}
                        {% for tweak in game.tweaks.all %}
                            {{ tweak.title }}{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    {% endif %}
                </small>
            </div>
        {% endif %}
     {% endcomment %}
    
        <table>
            <thead>
                <tr>
                    
                    <th>{% trans 'Player' %}</th>
                    
                    <th>{% trans 'Faction' %}</th>
                    <th>{% trans 'Score' %}</th>
                </tr>
            </thead>
            <tbody class="effort-rows">
    
    
        {% for effort in game.get_efforts %}
                {% include 'the_warroom/partials/effort_detail_button.html' %}
        {% endfor %}
    
    
        </tbody>
    </table>
</a>
    </div>
   
    </article>
    