
<article id="games-stats" class="media content-section">
    
    <div class="media-body">

        <h2>Recorded Games ({{ games_total }})</h2>
        <p class="article-content">{{ object.plays }} Recorded Plays</p>
        {% if object.component == 'Faction' or object.component == 'Vagabond' %}
            <p class="article-content">{{ object.wins }} Recorded Wins</p>
            <p class="article-content">{{ object.winrate|floatformat:2 }}% Winrate</p>
        {% endif %}
    </div>
</article>