{% for game in games %}
    {% if forloop.last and games.has_next %}
        <div hx-trigger="revealed" 
        hx-get="{% url 'round-games-pagination' object.id %}?page={{ games.number|add:1 }}"
        hx-swap="afterend">
    {% else %}
        <div>
    {% endif %}


    
    {% include 'the_warroom/partials/game_detail_button.html' %}
    

    </div>
{% empty %}
<article class="d-flex content-section">
    <div class="w-100">
    <small>No games recorded{% if object %} for {{ object }}{% endif %}.</small>
    </div>
</article>
{% endfor %}