{% load static i18n %}


<article class="media content-section" id="game-{{ game.id }}">
    
    <div class="media-body">
        <a href="{{ game.get_absolute_url }}">
            {% if game.nickname %}
                <h5>{{game.nickname}}</h5>
            {% endif %}
        <div class="article-metadata">
            <small class="text-muted">
                    {% if game.round %}
                        {{ game.type }} {{ game.round.tournament.name }} Game |
                    {% else %}
                        {{ game.type }} 
                        {% if game.solo %}Solo {% endif %}
                        {% if game.coop %}Co-op {% endif %}
                        {{ game.platform }} 
                         {% if game.test_match %}Playtest{% else %}Game{% endif %} |
                    {% endif %}
                {{ game.date_posted|date:"F j, Y" }} |
                {{ game.deck }} Deck -
                {{ game.map }} Map
            </small>
        </div>
    
        {% if game.landmarks.count > 0 or game.hirelings.count > 0 %}
            <div class="article-metadata">
                <small class="text-muted">
                    {% if game.landmarks.count > 0 %}
                        Landmarks:
                        {% for landmark in game.landmarks.all %}
                            {{ landmark.title }}{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if game.hirelings.count > 0 %}
                        Hirelings:
                        {% for hireling in game.hirelings.all %}
                            {{ hireling.title }}{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    {% endif %}
                </small>
            </div>
        {% endif %}
    
    
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Player' %}</th>
                    <th>{% trans 'Faction' %}</th>
                    <th>{% trans 'Score' %}</th>
                </tr>
            </thead>
            <tbody class="effort-rows">
    
    
        {% for effort in game.get_efforts %}
        <tr {% if effort == effort_link %} class="alert alert-success" style="font-weight: bold;" {% endif %}>
            <td>
        
                {% if effort.player %}
                    {% if user.profile.player %}
                        {{ effort.player.name }}
                    {% else %}
                        {{ effort.player.name }}
                    {% endif %}
                {% else %}
                    {% if effort.faction.type == "C" %}
                    Clockwork
                    {% else %}
                    Player {{ effort.seat }}
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if effort.faction %}
                    <div class="parent mr-2 mb-1">
                        <!-- The first image -->
                        <img class="faction-icon image1" src="{{ effort.faction.small_icon.url }}" alt="Faction Icon">
        
                        {% if effort.win %}
                            <!-- The second image (overlay) -->
                            <img class="lg-faction-icon image2" src="{% static 'images/winner.png' %}" alt="Win">
                        {% endif %}
                    </div>
                    {{ effort.faction }}
                    {% if effort.vagabond %}
                        ({{ effort.vagabond }})
                    {% endif %}
                    {% if effort.captains %}
                        ({{ effort.captains }})
                    {% endif %}
                {% else %}
                    Faction N/A
                {% endif %}
            </td>
            <td>
                {% if effort.dominance %}
                    <img class="faction-icon"  
                        src="{% static 'images/dominance/' %}{{ effort.dominance }}_Icon.png" 
                        alt="{{ effort.dominance }} Dominance">
                {% elif effort.coalition_with %}
                    <img class="faction-icon" 
                        src="{{ effort.coalition_with.small_icon.url }}"
                        alt="{{ effort.coalition_with.title }} Icon">
                {% else %}
                    {% if effort.score %}
                        {{ effort.score }}
                    {% else %}
                        0
                    {% endif %}
                {% endif %}

        
            </td>
        </tr>
        {% endfor %}
    
    
        </tbody>
    </table>
</a>
    </div>
   
    </article>
    