{% load static %}

<table>
    <thead>
        <tr>
            <th>Turn</th>
            <th>Faction Points</th>
            <th>Crafting Points</th>
            <th>Battle Points</th>
            <th>Other Points</th>
            <th>Turn Total</th>
            {% if object.dominance %}
                <th>Dom</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="effort-rows">

        

    {% for turn in object.turns.all %}

    <tr>
    <td>
        {{ turn.turn_number }}
    </td>
        
    <td>
        {{ turn.faction_points }}
    </td>
    <td>
        {{ turn.crafting_points }}
    </td>
    <td>
        {{ turn.battle_points }}
    </td>
    <td>
        {{ turn.other_points }}
    </td>
    <td>
        {{ turn.total_points }}
    </td>
    {% if object.dominance %}
        <td>
            {% if turn.dominance %}

                {% if object.effort %}
                    <img class="faction-icon"  
                    src="{% static 'images/dominance/' %}{{ object.effort.dominance }}_Icon.png" 
                    alt="{{ object.effort.dominance }} Dominance">
                {% else %}
                    Dom
                {% endif %}
            {% endif %}
        </td>
    {% endif %}
</tr>




{% endfor %}
</tbody>

<tfoot>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong>{{ object.total_faction_points }}</strong></td>
        <td><strong>{{ object.total_crafting_points }}</strong></td>
        <td><strong>{{ object.total_battle_points }}</strong></td>
        <td><strong>{{ object.total_other_points }}</strong></td>
        <td><strong>{{ object.total_points }}</strong></td>
    </tr>
</tfoot>

</table>
<div>
<div>Recorded on: {{ object.date_posted|date:"F j, Y" }}</div>


{% if object.description %}
<div>{{ object.description }}</div>
{% endif %}
</div>