


{% block content %}


{% with True as main_line %}
{% with object.type as type %}
{% include 'the_warroom/partials/tournament_list_header.html' %}
{% endwith %}
{% with object as tournament %}
    {% include 'the_warroom/partials/tournament_line.html' %}
{% endwith %}
{% include 'the_warroom/partials/tournament_list_footer.html' %}
{% endwith %}
<div class="container mt-4">
    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="tournamentTabs" role="tablist">


        {% if object.type == "Tournament" %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="rounds-tab" data-bs-toggle="tab" href="#rounds" role="tab" aria-controls="rounds" aria-selected="false">Rounds</a>
        </li>
        {% else %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="games-tab" data-bs-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">Games</a>
        </li>
        {% endif %}

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="leaderboards-tab" data-bs-toggle="tab" href="#leaderboards" role="tab" aria-controls="leaderboards" aria-selected="false">Leaderboards</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="players-tab" data-bs-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="false">Players</a>
        </li>


        {% if object.type == "Tournament" %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="assets-tab" data-bs-toggle="tab" href="#assets" role="tab" aria-controls="assets" aria-selected="false">{{ object.type }} Assets</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="tournamentTabsContent">



        {% if object.type == "Tournament" %}
        <!-- Rounds -->
        <div class="tab-pane fade" id="rounds" role="tabpanel" aria-labelledby="rounds-tab">
            <article class="media content-section">
                <div class="media-body">
            {% if user.profile.admin %}
            <div style="display: flex; justify-content: flex-end;">
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'round-create' object.slug %}">Add Round +</a>
            </div>
            {% endif %}
            
            {% with 'Round' as type %}
                {% include 'the_warroom/partials/tournament_list_header.html' %}
            {% endwith %}


            {% if future.count > 0 %}
                {% if user.profile.admin %}
                    {% with 'Future' as title %}
                        {% include 'the_warroom/partials/tournament_line_divide.html' %}
                    {% endwith %}
                    {% for tournament in future %}
                        {% include 'the_warroom/partials/tournament_link.html' %}
                    {% endfor %}
                {% endif %}
            {% endif %}


            {% if active.count > 0 %}
                {% with 'Current' as title %}
                    {% include 'the_warroom/partials/tournament_line_divide.html' %}
                {% endwith %}
                {% for tournament in active %}
                    {% include 'the_warroom/partials/tournament_link.html' %}
                {% endfor %}
            {% endif %}





            {% if past.count > 0 %}
                {% with 'Past' as title %}
                    {% include 'the_warroom/partials/tournament_line_divide.html' %}
                {% endwith %}
                {% for tournament in past %}
                    {% include 'the_warroom/partials/tournament_link.html' %}
                {% endfor %}
            {% endif %}


            {% if past.count == 0 and active.count == 0 %}
                {% with 'Current' as title %}
                    {% include 'the_warroom/partials/tournament_line_empty.html' %}
                {% endwith %}
            {% endif %}

            {% include 'the_warroom/partials/tournament_list_footer.html' %}
                </div>
            </article>
        </div>

        {% else %}

        <!-- Games -->
        <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
            
            
                
            <div hx-trigger="revealed" 
            hx-get="{% url 'round-games-pagination' object.id %}?page="
            hx-swap="outerHTML"></div>
                
           
        </div>
        {% endif %}



        <!-- Leaderboards -->
        <div class="tab-pane fade" id="leaderboards" role="tabpanel" aria-labelledby="leaderboards-tab">
           
        {% if top_players or most_players %}
        <article class="media content-section">
            <div class="media-body">

            <h2>Player Leaderboard{% if top_players and most_players %}s{% endif %}</h2>
            {% if top_players %}
                <h4>By Winrate</h4>
                {% with top_players as leaderboard_players %}
                    {% include 'the_gatehouse/partials/leaderboard.html' %}
                {% endwith %}
            {% endif %}
            <h4>By Games Won</h4>
            {% with most_players as leaderboard_players %}
                {% include 'the_gatehouse/partials/leaderboard.html' %}
            {% endwith %}
            {% if object.game_threshold > 0 %}
            <small class="mb-2">*Leaderboard Threshold of {{ object.game_threshold }}</small>
            {% endif %}
            </div>

  
    
        </article>
        {% else %}
        <article class="media content-section">
            <div class="media-body">
            <div>No Players above Leaderboard Threshold</div>
            {% if object.game_threshold > 0 %}
            <small class="mb-2">*Leaderboard Threshold of {{ object.game_threshold }}</small>
            {% endif %}
        </div>
        </article>
        {% endif %}


        {% if top_factions or most_factions %}
        <article class="media content-section">
            <div class="media-body">

            <h2>Faction Leaderboard{% if top_factions and most_factions %}s{% endif %}</h2>
            {% if top_factions %}
                <h4>By Winrate</h4>
                {% with top_factions as leaderboard_factions %}
                    {% include 'the_keep/partials/leaderboard.html' %}
                {% endwith %}
            {% endif %}
            <h4>By Games Won</h4>
            {% with most_factions as leaderboard_factions %}
                {% include 'the_keep/partials/leaderboard.html' %}
            {% endwith %}
            {% if object.game_threshold > 0 %}
            <small class="mb-2">*Leaderboard Threshold of {{ object.game_threshold }}</small>
            {% endif %}
            </div>

        </article>
        {% else %}
        <article class="media content-section">
            <div class="media-body">
            <div>No Factions above Leaderboard Threshold</div>
            {% if object.game_threshold > 0 %}
            <small class="mb-2">*Leaderboard Threshold of {{ object.game_threshold }}</small>
            {% endif %}
        </div>
        </article>
        {% endif %}


        </div>

        
        <!-- Active Players -->
        <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="players-tab">
            <article class="media content-section">
                <div class="media-body">
            {% if user.profile.admin %}
            <div style="display: flex; justify-content: flex-end;">
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ object.get_players_url }}">Manage Players</a>
            </div>
            {% endif %}
          


            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Games</th>
                        <th>Points</th>
                        <th>Winrate</th>
                    </tr>
                </thead>
                <tbody class="effort-rows">

            
                {% if object.type == "Tournament" %}
                    <tr
                    hx-trigger="revealed" 
                    hx-get="{% url 'tournament-players-pagination' object.id %}?page={{ players.number|add:1 }}"
                    hx-swap="outerHTML">
                {% else %}
                    <tr
                    hx-trigger="revealed"
                    hx-get="{% url 'round-players-pagination' object.id %}?page={{ players.number|add:1 }}"
                    hx-swap="outerHTML">
                {% endif %}
                    <td>
                        Player Name
                    </td>
                    <td>
                        Games Played by Player
                    </td>
                    <td>
                       Points Earned
                    </td>
                    <td>
                        Total Win Rate
                    </td>
                </tr>


                </tbody>

            </table>


                </div>
            </article>
        </div>
        
        {% if object.type == "Tournament" %}
        <!-- Tournament Specifications -->
        <div class="tab-pane fade" id="assets" role="tabpanel" aria-labelledby="assets-tab">
            <article class="media content-section">
                <div class="media-body">
            {% if user.profile.admin %}
            <div style="display: flex; justify-content: flex-end;">
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ object.get_assets_url }}">Manage Assets</a>
            </div>
            {% endif %}
                
            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseFactions" aria-expanded="false" aria-controls="collapseFactions">
                <h2>Factions ({{ object.factions.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseFactions">
                <div class="card card-body">
                    {% for faction in object.factions.all %}
                    <a href="{% url 'faction-detail' faction.slug %}">
                        <div>
                        <img class="faction-icon" src="{{ faction.small_icon.url }}" alt="Faction Icon">
                        {{ faction }}
                        </div>
                    </a>

                    
                    {% endfor %}             
                </div>
            </div>


            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseDecks" aria-expanded="false" aria-controls="collapseDecks">
                <h2>Decks ({{ object.decks.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseDecks">
                <div class="card card-body">
                    {% for deck in object.decks.all %}
                    <a href="{% url 'deck-detail' deck.slug %}">
                        <div>
                        {% if deck.card_image %}
                        <img class="faction-icon" src="{{ deck.card_image.url }}" alt="Deck Image">
                        {% endif %}
                        {{ deck }}
                        </div>
                    </a>
                    {% endfor %}             
                </div>
            </div>


            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseMaps" aria-expanded="false" aria-controls="collapseMaps">
                <h2>Maps ({{ object.maps.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseMaps">
                <div class="card card-body">
                    {% for map in object.maps.all %}
                    <a href="{% url 'map-detail' map.slug %}">
                        <div>
                        {% if map.board_image %}
                        <img class="faction-icon" src="{{ map.board_image.url }}" alt="Map Image">
                        {% endif %}
                        {{ map }}
                        </div>
                    </a>
                    {% endfor %}             
                </div>
            </div>

            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseVagabonds" aria-expanded="false" aria-controls="collapseVagabonds">
                <h2>Vagabonds ({{ object.vagabonds.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseVagabonds">
                <div class="card card-body">
                    {% for vagabond in object.vagabonds.all %}
                    <div>{{ vagabond.title }}</div>
                    {% endfor %}             
                </div>
            </div>

            {% if object.landmarks.count %}
            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseLandmarks" aria-expanded="false" aria-controls="collapseLandmarks">
                <h2>Landmarks ({{ object.landmarks.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseLandmarks">
                <div class="card card-body">
                    {% for landmark in object.landmarks.all %}
                    <div>{{ landmark.title }}</div>
                    {% endfor %}             
                </div>
            </div>
            {% endif %}

            {% if object.hirelings.count %}
            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseHirelings" aria-expanded="false" aria-controls="collapseHirelings">
                <h2>Hirelings ({{ object.hirelings.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseHirelings">
                <div class="card card-body">
                    {% for hireling in object.hirelings.all %}
                    <div>{{ hireling.title }}</div>
                    {% endfor %}             
                </div>
            </div>
            {% endif %}
            {% if object.tweaks.count %}
            <div style="display: flex; align-items: center;" data-bs-toggle="collapse" data-bs-target="#collapseTweaks" aria-expanded="false" aria-controls="collapseTweaks">
                <h2>Tweaks ({{ object.tweaks.count }})</h2>
                <i class="bi bi-chevron-down ml-2"></i>
            </div>
            <div class="collapse" id="collapseTweaks">
                <div class="card card-body">
                    {% for tweak in object.tweaks.all %}
                    <div>{{ tweak.title }}</div>
                    {% endfor %}             
                </div>
            </div>
            {% endif %}
                </div>
            </article>

        </div>
        {% endif %}

    </div>
</div>










{% endblock %}

{% block scripts %}
<script>
    


    // Function to update the hx-trigger of elements in all tabs
    function updateHxTriggers() {
        // Find all tab panes (both active and inactive)
        var tabPanes = document.querySelectorAll('.tab-pane');

        // Iterate through each tab pane
        tabPanes.forEach(function (tabPane) {
            // Find all elements with hx-trigger inside the current tab
            var hxElements = tabPane.querySelectorAll('[hx-trigger]');

            // Check if this tab is active
            if (tabPane.classList.contains('active')) {
                // If the tab is active, set 'hx-trigger' to 'revealed'
                hxElements.forEach(function (el) {
                    el.setAttribute('hx-trigger', 'revealed');
                });
            } else {
                // If the tab is inactive, set 'hx-trigger' to 'click'
                hxElements.forEach(function (el) {
                    el.setAttribute('hx-trigger', 'click');
                });
            }
        });
    }
    
    // // Listen for Bootstrap's shown.bs.tab event
    // $('#tournamentTabs a').on('shown.bs.tab', function (e) {
    //     // Call the function to update hx-trigger for elements in the active tab
    //     updateHxTriggers();
    // });


    var tabLinks = document.querySelectorAll('#tournamentTabs a');
    tabLinks.forEach(function (link) {
        link.addEventListener('shown.bs.tab', function (e) {
            console.log("Tab is shown!");
            updateHxTriggers();
        });
    });




    // Wait until the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Check if there's a fragment identifier in the URL (after #)
        var currentTab = window.location.hash;

        updateHxTriggers();
        console.log("Update Triggers")

        // If a hash exists in the URL, activate the corresponding tab
        if (currentTab) {
            // Find the tab link matching the hash
            var tabTrigger = document.querySelector(`a[href="${currentTab}"]`);

            // If a matching tab is found, show it and set it as active
            if (tabTrigger) {
                // Activate the tab
                new bootstrap.Tab(tabTrigger).show();
            }
        } else {
            // If no hash, set the first tab as active by default
            var firstTab = document.querySelector('#tournamentTabs a');
            if (firstTab) {
                new bootstrap.Tab(firstTab).show();
            }
        }

    //    // Update the URL hash when a tab is changed without causing a scroll jump
    //     var tabList = document.querySelectorAll('#tournamentTabs a');
    //     tabList.forEach(function (tab) {
    //         tab.addEventListener('shown.bs.tab', function (event) {
    //             // Update the browser's URL fragment to reflect the active tab
    //             var newHash = event.target.getAttribute('href');
                
    //             // Use history.pushState to update the URL without jumping
    //             history.pushState(null, null, newHash);
    //         });
    //     });
    });
</script>


{% endblock %}