<div class='table-responsive'>
    {% with 'Tournament' as type %}
        {% include 'the_warroom/partials/tournament_list_header.html' %}
    {% endwith %}

    {% for tournament in tournaments %}
        {% include 'the_warroom/partials/tournament_link.html' %}
    {% empty %}
        <tr>    
            <td>
                No Series
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
    </tr>
    {% endfor %}

    {% include 'the_warroom/partials/tournament_list_footer.html' %}

</div>