{% load i18n %}


{% block content %}


{% with True as main_line %}
{% with object.type as type %}
{% include 'the_warroom/partials/tournament_list_header.html' %}
{% endwith %}
{% with object as tournament %}
    {% include 'the_warroom/partials/tournament_line.html' %}
{% endwith %}
{% include 'the_warroom/partials/tournament_list_footer.html' %}
{% endwith %}
<div class="container mt-4">
    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="tournamentTabs" role="tablist">


        {% if object.type == "Tournament" %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="rounds-tab" data-bs-toggle="tab" href="#rounds" role="tab" aria-controls="rounds" aria-selected="false">{% trans 'Rounds' %}</a>
        </li>
        {% else %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="games-tab" data-bs-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">{% trans 'Games' %}</a>
        </li>
        {% endif %}

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="leaderboards-tab" data-bs-toggle="tab" href="#leaderboards" role="tab" aria-controls="leaderboards" aria-selected="false">{% trans 'Leaderboards' %}</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="players-tab" data-bs-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="false">{% trans 'Players' %}</a>
        </li>


        {% if not object.open_assets %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="assets-tab" data-bs-toggle="tab" href="#assets" role="tab" aria-controls="assets" aria-selected="false">{{ object.type }} {% trans 'Assets' %}</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="tournamentTabsContent">



        {% if object.type == "Tournament" %}
        <!-- Rounds -->
        <div class="tab-pane fade" id="rounds" role="tabpanel" aria-labelledby="rounds-tab">
            <article class="media content-section">
                <div class="media-body">
            {% if user.is_authenticated %}
                {% if user.profile.admin or user.profile == object.designer %}
                <div style="display: flex; justify-content: flex-end;">
                <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'round-create' object.slug %}">{% trans 'Add Round' %} +</a>
                </div>
                {% endif %}
            {% endif %}
            
            {% with 'Round' as type %}
                {% include 'the_warroom/partials/tournament_list_header.html' %}
            {% endwith %}


            {% if future.count > 0 %}
                {% if user.profile.admin or user.profile == object.designer %}
                    {% with 'Future' as title %}
                        {% include 'the_warroom/partials/tournament_line_divide.html' %}
                    {% endwith %}
                    {% for tournament in future %}
                        {% include 'the_warroom/partials/tournament_link.html' %}
                    {% endfor %}
                {% endif %}
            {% endif %}


            {% if active.count > 0 %}
                {% with 'Current' as title %}
                    {% include 'the_warroom/partials/tournament_line_divide.html' %}
                {% endwith %}
                {% for tournament in active %}
                    {% include 'the_warroom/partials/tournament_link.html' %}
                {% endfor %}
            {% endif %}





            {% if past.count > 0 %}
                {% with 'Past' as title %}
                    {% include 'the_warroom/partials/tournament_line_divide.html' %}
                {% endwith %}
                {% for tournament in past %}
                    {% include 'the_warroom/partials/tournament_link.html' %}
                {% endfor %}
            {% endif %}


            {% if past.count == 0 and active.count == 0 %}
                {% with 'Current' as title %}
                    {% include 'the_warroom/partials/tournament_line_empty.html' %}
                {% endwith %}
            {% endif %}

            {% include 'the_warroom/partials/tournament_list_footer.html' %}
                </div>
            </article>
        </div>

        {% else %}

        <!-- Games -->
        <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
            
            
                
            <div hx-trigger="revealed" 
            hx-get="{% url 'round-games-pagination' object.id %}?page="
            hx-swap="outerHTML"></div>
                
           
        </div>
        {% endif %}



        <!-- Leaderboards -->
        <div class="tab-pane fade" id="leaderboards" role="tabpanel" aria-labelledby="leaderboards-tab">


   
    {% if top_players or most_players %}
        <article class="media content-section">
            <div class="media-body">
            
                <h2>{% if top_players and most_players %}
                        {% trans 'Player Leaderboards' %}
                    {% else %}
                        {% trans 'Player Leaderboard' %}'
                    {% endif %}</h2>
        
                {% if top_players and most_players %}
                <ul class="nav nav-tabs" id="playerLeaderboardTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="player-winrate-tab" data-bs-toggle="tab" href="#player-winrate" role="tab" aria-controls="player-winrate" aria-selected="true">{% trans 'By Winrate' %}</a>
                    </li>      
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="player-gameswon-tab" data-bs-toggle="tab" href="#player-gameswon" role="tab" aria-controls="player-gameswon" aria-selected="false">{% trans 'By Games Won' %}</a>
                    </li>        
        
                </ul>
                {% endif %}
        
                {% if top_players %}
                    {% if top_players and most_players %}
                    <div class="tab-content" id="tab-contents">
        
                        <div class="tab-pane active" id="player-winrate" role="tabpanel" aria-labelledby="player-winrate-tab">
                    {% else %}
                        <h4>{% trans 'By Winrate' %}</h4>
                    {% endif %}

                    {% with top_players as leaderboard_players %}
                        {% include 'the_gatehouse/partials/leaderboard.html' %}
                    {% endwith %}
        
                    {% if top_players and most_players %}
                        </div>
                    {% endif %}
                {% endif %}
        
                {% if most_players %}
                    {% if top_players and most_players %}
                        <div class="tab-pane" id="player-gameswon" role="tabpanel" aria-labelledby="player-gameswon-tab">
                    {% else %}
                    <h4>{% trans 'By Games Won' %}</h4>
                    {% endif %}
                    {% with most_players as leaderboard_players %}
                        {% include 'the_gatehouse/partials/leaderboard.html' %}
                    {% endwith %}
        
                    {% if top_players and most_players %}
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if leaderboard_threshold > 0 %}
                <small class="mb-2">*{% trans 'Leaderboard Threshold of' %} {{ leaderboard_threshold }}</small>
                {% endif %}
            </div>
        </article>
    {% else %}
        <article class="media content-section">
            <div class="media-body">
                <h2>{% trans 'Player Leaderboard' %}</h2>
                {% if leaderboard_threshold > 0 %}
                    {% trans 'No Players have reached the Game Threshold of' %} {{ leaderboard_threshold }}
                {% else %}
                    {% trans 'No Games have been Recorded' %}
                {% endif %}
            </div>
        </article>
    {% endif %}




    {% if top_factions or most_factions %}
    <article class="media content-section">
        <div class="media-body">
            
            <h2>{% if top_factions and most_factions %}
                    {% trans 'Faction Leaderboards' %}
                {% else %}
                    {% trans 'Faction Leaderboard' %}
                {% endif %}</h2>
    
            {% if top_factions and most_factions %}
            <ul class="nav nav-tabs" id="factionLeaderboardTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="faction-winrate-tab" data-bs-toggle="tab" href="#faction-winrate" role="tab" aria-controls="faction-winrate" aria-selected="true">{% trans 'By Winrate' %}</a>
                </li>  
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="faction-gameswon-tab" data-bs-toggle="tab" href="#faction-gameswon" role="tab" aria-controls="faction-gameswon" aria-selected="false">{% trans 'By Games Won' %}</a>
                </li>        
          
            </ul>
            {% endif %}
    
            {% if top_factions %}
                {% if top_factions and most_factions %}
                <div class="tab-content" id="tab-contents">
    
                    <div class="tab-pane active" id="faction-winrate" role="tabpanel" aria-labelledby="faction-winrate-tab">
                {% else %}
                <h4>{% trans 'By Winrate' %}</h4>
                {% endif %}
                {% with top_factions as leaderboard_factions %}
                    {% include 'the_keep/partials/leaderboard.html' %}
                {% endwith %}
    
            {% if top_factions and most_factions %}
                </div>
            {% endif %}
            {% endif %}
    
            {% if most_factions %}
                {% if top_factions and most_factions %}
                    <div class="tab-pane" id="faction-gameswon" role="tabpanel" aria-labelledby="faction-gameswon-tab">
                {% else %}
                <h4>{% trans 'By Games Won' %}</h4>
                {% endif %}
                {% with most_factions as leaderboard_factions %}
                    {% include 'the_keep/partials/leaderboard.html' %}
                {% endwith %}
    
                {% if top_factions and most_factions %}
                    </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if leaderboard_threshold > 0 %}
            <small class="mb-2">*{% trans 'Leaderboard Threshold of' %} {{ leaderboard_threshold }}</small>
            {% endif %}
        </div>
    </article>
    {% else %}
    <article class="media content-section">
        <div class="media-body">
            <h2>{% trans 'Faction Leaderboard' %}</h2>
            {% if leaderboard_threshold > 0 %}
                {% trans 'No Factions have reached the Game Threshold of' %} {{ leaderboard_threshold }}
            {% else %}
                {% trans 'No Games have been Recorded' %}
            {% endif %}
        </div>
    </article>
    {% endif %}


        </div>

        
        <!-- Active Players -->
        <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="players-tab">
            <article class="media content-section">
                <div class="media-body">
            {% if user.is_authenticated %}
                {% if user.profile.admin or user.profile == object.designer %}
                <div style="display: flex; justify-content: flex-end;">
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ object.get_players_url }}">{% trans 'Manage Players' %}</a>
                </div>
                {% endif %}
            {% endif %}
          


            <table>
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Games' %}</th>
                        <th>{% trans 'Points' %}</th>
                        <th>{% trans 'Winrate' %}</th>
                    </tr>
                </thead>
                <tbody class="effort-rows">

            
                {% if object.type == "Tournament" %}
                    <tr
                    hx-trigger="revealed" 
                    hx-get="{% url 'tournament-players-pagination' object.id %}?page={{ players.number|add:1 }}"
                    hx-swap="outerHTML">
                {% else %}
                    <tr
                    hx-trigger="revealed"
                    hx-get="{% url 'round-players-pagination' object.id %}?page={{ players.number|add:1 }}"
                    hx-swap="outerHTML">
                {% endif %}
                    <td>
                        {% trans 'Player Name' %}
                    </td>
                    <td>
                        {% trans 'Games Played by Player' %}
                    </td>
                    <td>
                       {% trans 'Points Earned' %}
                    </td>
                    <td>
                        {% trans 'Total Win Rate' %}
                    </td>
                </tr>


                </tbody>

            </table>


                </div>
            </article>
        </div>
        
        
        {% if not object.open_assets %}
            {% if object.type == "Tournament" %}
                {% with object as tournament_round %}
                    {% include 'the_warroom/partials/tournament_assets.html' %}
                {% endwith %}
            {% else %}
                {% with object.tournament as tournament_round %}
                    {% include 'the_warroom/partials/tournament_assets.html' %}
                {% endwith %}
            {% endif %}
        {% endif %}

    </div>
</div>










{% endblock %}

{% block scripts %}
<script>
    


    // Function to update the hx-trigger of elements in all tabs
    function updateHxTriggers() {
        // Find all tab panes (both active and inactive)
        var tabPanes = document.querySelectorAll('.tab-pane');

        // Iterate through each tab pane
        tabPanes.forEach(function (tabPane) {
            // Find all elements with hx-trigger inside the current tab
            var hxElements = tabPane.querySelectorAll('[hx-trigger]');

            // Check if this tab is active
            if (tabPane.classList.contains('active')) {
                // If the tab is active, set 'hx-trigger' to 'revealed'
                hxElements.forEach(function (el) {
                    el.setAttribute('hx-trigger', 'revealed');
                });
            } else {
                // If the tab is inactive, set 'hx-trigger' to 'click'
                hxElements.forEach(function (el) {
                    el.setAttribute('hx-trigger', 'click');
                });
            }
        });
    }
    
    // // Listen for Bootstrap's shown.bs.tab event
    // $('#tournamentTabs a').on('shown.bs.tab', function (e) {
    //     // Call the function to update hx-trigger for elements in the active tab
    //     updateHxTriggers();
    // });


    var tabLinks = document.querySelectorAll('#tournamentTabs a');
    tabLinks.forEach(function (link) {
        link.addEventListener('shown.bs.tab', function (e) {
            console.log("Tab is shown!");
            updateHxTriggers();
        });
    });




    // Wait until the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Check if there's a fragment identifier in the URL (after #)
        var currentTab = window.location.hash;

        updateHxTriggers();
        console.log("Update Triggers")

        // If a hash exists in the URL, activate the corresponding tab
        if (currentTab) {
            // Find the tab link matching the hash
            var tabTrigger = document.querySelector(`a[href="${currentTab}"]`);

            // If a matching tab is found, show it and set it as active
            if (tabTrigger) {
                // Activate the tab
                new bootstrap.Tab(tabTrigger).show();
            }
        } else {
            // If no hash, set the first tab as active by default
            var firstTab = document.querySelector('#tournamentTabs a');
            if (firstTab) {
                new bootstrap.Tab(firstTab).show();
            }
        }

    //    // Update the URL hash when a tab is changed without causing a scroll jump
    //     var tabList = document.querySelectorAll('#tournamentTabs a');
    //     tabList.forEach(function (tab) {
    //         tab.addEventListener('shown.bs.tab', function (event) {
    //             // Update the browser's URL fragment to reflect the active tab
    //             var newHash = event.target.getAttribute('href');
                
    //             // Use history.pushState to update the URL without jumping
    //             history.pushState(null, null, newHash);
    //         });
    //     });
    });
</script>


{% endblock %}