{% extends 'blog/base.html' %}
{% block content %}
     <h1>About Page</h1>

         <form method="POST">
          {% csrf_token %}
          <div id="effort-forms">
               {% include 'the_warroom/partials/effort_partial.html' %}
          </div>
             <div>
               <button type="button" class="btn btn-success me-2"
               id="add-player-button"
               hx-get="{% url 'create-effort' %}"
               hx-target="#effort-forms"
               hx-swap="beforeend">+ Add Player</button>


              <button class="btn btn-success" type="submit">Submit</button>
             </div>
         </form>
     


{% endblock content %}
