{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags i18n %}


{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
{% comment %} <meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" /> {% endcomment %}
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="Feedback - The {{site_title}}">
<meta property="og:description" content="Is something missing or incorrect? Do you have suggestions to improve the site? This is the place to do it.">
<meta name="description" content="Is something missing or incorrect? Do you have suggestions to improve the site? This is the place to do it.">
{% endblock meta%}


{% block content %}
<h1 class='root-title'>{{ title }}</h1>
<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary mb-1" type="submit">{% trans 'Submit' %}</button>
</form>

{% endblock content %}