{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}
{% block title %} - Log In{% endblock %}


{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
{% comment %} <meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" /> {% endcomment %}
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="Log In - The {{site_title}}">
<meta property="og:description" content="Log in to the {{site_title}} to record games and update your profile.">
<meta name="description" content="Log in to the {{site_title}} to record games and update your profile.">
{% endblock meta%}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>
                <small class="text-muted">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}