{% extends 'the_keep/base.html' %}
{% load static %}
{% block title %} - Logout{% endblock %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
{% comment %} <meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" /> {% endcomment %}
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="Log Out - The Root Database">
<meta property="og:description" content="Log out of the Root Database. Come back soon.">
<meta name="description" content="Log out of the Root Database. Come back soon.">
{% endblock meta%}

{% block content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
{% endblock content %}
 