
{% extends "the_keep/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    <div class="media">
    <div class="article-img-container">
    <img class="article-img" src="{{ user_to_edit.image.url }}">
    </div>
        <div class="media-body">
            
            {% if user_to_edit.player %}
                <h2 class="account-heading root-title"><a href="{% url 'player-detail' user_to_edit.slug %}">{{ user_to_edit.name }}</a></h2>
            {% else %}
                <h2 class="account-heading root-title">{{ user_to_edit.name }}</h2>
            {% endif %}
            {% if user_to_edit.discord %}
                <span class="text-secondary">Discord: {{ user_to_edit.discord }}</span><br>
            {% endif %}
            {% if user_to_edit.dwd %}
                {% if user_to_edit.league %}
                    <span class="text-secondary">Digital League: {{ user_to_edit.dwd }}</span><br>
                {% else %}
                    <span class="text-secondary">DWD: {{ user_to_edit.dwd }}</span><br>
                {% endif %}
            {% endif %}
            
        </div>
    </div>
    <legend class="border-bottom mb-4 mt-2">
        User Status: 
        {% if user_to_edit.group == "O" %}
            Unregistered
        {% elif user_to_edit.group == "P" %}
            Registered
        {% elif user_to_edit.group == "D" %}
            Designer
        {% elif user_to_edit.group == "B" %}
            Banned
        {% elif user_to_edit.group == "A" %}
            Moderator
        {% else %}
            Unknown
        {% endif %}
    </legend>



    {% if user_to_edit == user.profile %}
    You cannot edit your own profile.
    <div>
    <a class="btn btn-outline-secondary mb-2 mt-2"  href="{{ user_to_edit.get_absolute_url }}">Cancel</a>
    </div>
    {% elif user_to_edit.group != "O" %}
    <!-- User management form -->
    <form method="post">
    {% csrf_token %}

    <!-- Render the form fields -->
    <div class="form-group">
    {{ form | crispy }}
    </div>

    <!-- Submit button -->
    <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Save</button>
    <a class="btn btn-outline-secondary mb-2 mt-2"  href="{{ user_to_edit.get_absolute_url }}">Cancel</a>
    </div>
    </form>
    {% else %}
    This account is not yet registered or the user is not a member of Woodland Warriors and cannot be edited.
    <div>
        <a class="btn btn-outline-secondary mb-2 mt-2"  href="{{ user_to_edit.get_absolute_url }}">Cancel</a>
    </div>
    {% endif %}
</div>
{% endblock %}




