{% extends 'the_keep/base.html' %}
{% block title %} - Onboard{% endblock %}
{% block content %}

<h1>Welcome</h1>
<article class="media content-section">
<div class="media-body">
{% if user_type == 'admin' and active_user.admin %}
    <div>Thank you for your interest in helping moderate the site.</div>
    <div>By accepting you agree to not abuse Admin actions.</div>
    <div>You will be able to organize tournaments, edit and delete games and demote or promote users.</div>
    <div>Thank you for your help!</div>
    {% include 'the_gatehouse/partials/onboard_buttons.html' %}

{% elif user_type == 'designer' and active_user.designer %}
    <div>Thank you for your interest in posting fan made Root content.</div>
    <div>By accepting you agree to post only content that you have playtested at least once.</div>
    <div>By accepting you agree to not over-post or post offensive material.</div>
    <div>Have fun creating and enjoy!</div>
    {% include 'the_gatehouse/partials/onboard_buttons.html' %}

{% elif user_type == 'tester' and active_user.tester %}
    <div>Thank you for your interest in recording detailed game data.</div> 
    <div>These stats are optional but might help give insite into a faction's scoring mechanisms.</div>
    <div>By accepting you agree to only submit accurate game data to the best of your knowledge.</div>
    <div>Have fun and enjoy!</div>
    {% include 'the_gatehouse/partials/onboard_buttons.html' %}

{% elif user_type == 'player' and active_user.player %}
    <div>Thank you for logging in.</div> 
    <div>By accepting you agree to post only games that are accurate to the best of your knoledge.</div>
    <div>Please be respectful and enjoy!</div>
    {% include 'the_gatehouse/partials/onboard_buttons.html' %}

{% else %}
    <div>You are all up to date. Enjoy the database.</div>
{% endif %}
</div>
</article>

{% endblock %}