{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %} - Profile{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                
                <h2 class="account-heading"><a href="{% url 'player-detail' user.profile.slug %}">{{ user.profile.display_name }}</a></h2>
                {% if user.profile.discord %}
                    <span class="text-secondary">Discord: {{ user.profile.discord }}</span><br>
                {% endif %}
                {% if user.profile.dwd %}
                    {% if user.profile.league %}
                        <span class="text-secondary">Digital League: {{ user.profile.dwd }}</span><br>
                    {% else %}
                        <span class="text-secondary">DWD: {{ user.profile.dwd }}</span><br>
                    {% endif %}
                {% endif %}
                {% if user.email %}
                    <span class="text-secondary">{{ user.email }}</span><br>
                {% endif %}
            </div>
            <!-- Winrate -->
            <div class="media-body">
                {{ user.profile.winrate|floatformat:2 }}% Winrate
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ p_form | crispy }}
                {{ u_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}