{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}
{% block title %} - Profile{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                
                {% if user.profile.player %}
                    <h2 class="account-heading"><a href="{% url 'player-detail' user.profile.slug %}">{{ user.profile.name }}</a></h2>
                {% else %}
                    <h2 class="account-heading">{{ user.profile.name }}</h2>
                {% endif %}
                {% if user.profile.discord %}
                    <span class="text-secondary">Discord: {{ user.profile.discord }}</span><br>
                {% endif %}
                {% if user.profile.dwd %}
                    {% if user.profile.league %}
                        <span class="text-secondary">Digital League: {{ user.profile.dwd }}</span><br>
                    {% else %}
                        <span class="text-secondary">DWD: {{ user.profile.dwd }}</span><br>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {% if user.profile.player %}
                    {{ p_form | crispy }}
                {% else %}
                    {% if user.profile.banned %}
                    <div class="alert alert-warning">Your account has been banned. Please contact an Administrator to reinstate your account.</div>
                    {% else %}
                    <div class="alert alert-secondary">Your account has not yet been verified. Join the Root Discord to enable additional features.</div>
                    {% endif %}
                    {% for field in p_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.type }}" name="{{ field.name }}" value="{{ field.value }}" {% if field.label != 'Display name' or user.profile.banned %}readonly{% endif %} class="form-control">
                        </div>
                    {% endfor %}
                {% endif %}
            
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}