{% extends 'the_keep/base.html' %}

{% block title %} - {{ player.discord }}{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="article-img" src="{{ player.image.url }}">
            <div class="media-body">
                <h1 class="account-heading">{{ player.name }}</h1>
                {% if player.discord %}
                    <span class="text-secondary">Discord: {{ player.discord }}</span><br>
                {% endif %}
                {% if player.dwd %}
                    {% if player.league %}
                        <span class="text-secondary">Digital League: {{ player.dwd }}</span><br>
                    {% else %}
                        <span class="text-secondary">DWD: {{ player.dwd }}</span><br>
                    {% endif %}
                {% endif %}
                
                    {% if quantity_faction %}
                    <div>Most played Faction: {{ quantity_faction }}: {{ quantity_count }} Games</div>
                    {% endif %}
                    {% if quality_faction %}
                    <div>Highest winrate with: {{ quality_faction }}: {{ quality_winrate|floatformat:2 }}%</div>
                    {% endif %}
                
            </div>
 
            <!-- Winrate -->
            {% if player.efforts.count > 0 %}
            <div class="media-body">
                <div>{{ player.winrate|floatformat:2 }}% Winrate</div>
                <div>{{ player.games_played }} Games Played</div>
            </div>
            {% endif %}
            
            {% if player == user.profile %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile' %}">Edit Profile</a>
            {% else %}
                <!-- Bookmarks -->
                {% include 'the_gatehouse/partials/bookmarks.html' %}
            {% endif %}

            

        </div>
    </div>
    

    <div class="container mt-4">

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="games-tab" data-bs-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true" 
                hx-get="{% url 'player-games' player.slug %}" 
                hx-target="#tab-contents" 
                hx-push-url="false">Games</a>
            </li>
            {% if player == user.profile %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="game-bookmarks-tab" data-bs-toggle="tab" href="#game-bookmarks" role="tab" aria-controls="game-bookmarks" aria-selected="false" 
                hx-get="{% url 'game-bookmarks' user.profile.slug %}" 
                hx-target="#tab-contents" 
                hx-push-url="false"><i class="bi bi-bookmark-check-fill"></i> Saved Games</i></a>
            </li>
            {% endif %}
            {% if user.profile.weird and player.posts.count > 0 %}
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if player.efforts.count == 0 %} active{% endif %}" id="components-tab" data-bs-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="false" 
                hx-get="{% url 'designer-components' player.slug %}" 
                hx-target="#tab-contents" 
                hx-push-url="false">Components</a>
            </li>
            {% endif %}
            {% if player == user.profile %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="post-bookmarks-tab" data-bs-toggle="tab" href="#post-bookmarks" role="tab" aria-controls="post-bookmarks" aria-selected="false" 
                hx-get="{% url 'post-bookmarks' user.profile.slug %}" 
                hx-target="#tab-contents" 
                hx-push-url="false"><i class="bi bi-bookmark-check-fill"></i> Bookmarks</a>
            </li>
            {% endif %}

        </ul>
    </div>


<div id="tab-contents">


            {% include 'the_warroom/partials/hx_game_list.html' %}

    
</div>

{% endblock content %}