{% extends 'the_keep/base.html' %}

{% block title %} - {{ player.discord }}{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="article-img" src="{{ player.image.url }}">
            <div class="media-body">
                <h1 class="account-heading">{{ player.display_name }}</h1>
                {% if player.discord %}
                    <span class="text-secondary">Discord: {{ player.discord }}</span><br>
                {% endif %}
                {% if player.dwd %}
                    {% if player.league %}
                        <span class="text-secondary">Digital League: {{ player.dwd }}</span><br>
                    {% else %}
                        <span class="text-secondary">DWD: {{ player.dwd }}</span><br>
                    {% endif %}
                {% endif %}
            </div>
 
            <!-- Winrate -->
            <div class="media-body">
                {{ player.winrate|floatformat:2 }}% Winrate
            </div>
            {% if player == user.profile %}
            <div class="media-body">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile' %}">Edit Profile</a>
            </div>
            {% endif %}
        </div>
    </div>
    
    <h2>{{ player }}'s Games</h2>


        {% for game in games %}
            {% include 'the_warroom/partials/game_detail.html' %}
        {% empty %}
            No games found for this player.
        {% endfor %}

    

{% endblock content %}