{% extends 'the_keep/base.html' %}
{% load static i18n %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/archive-icon.png' %}">
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="{{meta_title}}">
<meta property="og:description" content="{{meta_description}}">
<meta name="description" content="{{meta_description}}">
{% endblock meta%}

{% block content %}
<h1 class='root-title'>Advanced Search</h1>

 <ul class="nav nav-tabs mb-3">
    {% for tab in tabs %}
        <li class="nav-item">
          {% if component_type == tab %}
            <a class="nav-link {% if component_type == tab %}active{% endif %}">
                {% if tab == "Tweak" %}
                    House Rule
                {% else %}
                {{ tab }}
                {% endif %}
            </a>
          {% else %}
            <a class="nav-link {% if component_type == tab %}active{% endif %}"
                href="{% url 'advanced-search' component_type=tab|lower %}?search={{search}}&status={{status}}&designer={{selected_designer}}&artist={{selected_artist}}&language_code={{selected_language}}&expansion={{selected_expansion}}&animal={{animal}}&color={{color|urlencode}}">
                {% if tab == "Tweak" %}
                    House Rule
                {% else %}
                {{ tab }}
                {% endif %}
            </a>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
  

<article class="media content-section mt-2">
    <div class="media-body">
        <form id='advanced-search-form' class="mb-2" method="get" action="">

            {% comment %} <input type="text" name="search" placeholder="Search name or animal..." value="{{ search }}"> {% endcomment %}
            <input type="text" name="search" id="search" placeholder="Search by Name..." value="{{ search }}" class="form-control mb-1">
            {% if component_type == "Faction" or component_type == "Hireling" or component_type == "Vagabond" or component_type == "Clockwork" %}
                <input type="text" name="animal" id="animal" placeholder="Search by Animal..." value="{{ animal }}" class="form-control mb-1">
            {% endif %}


            {% if color_choices %}
            <label for="color">{% trans 'Color' %}:</label>            
            <select id="color" name="color" class="form-select">
                <option value="">{% trans 'All' %}</option>
                {% for color_option in color_choices %}
                    <option value="{{ color_option.value }}" {% if color_option.value == color %}selected{% endif %}>
                        {{ color_option.label }}
                    </option>
                {% endfor %}
            </select>
            
            {% endif %}


            <div>
            <!-- Designer Search Dropdown -->
            <select name="designer" id="designer-select" class="form-select" aria-label="Select Designer">
                <option value="">{% trans 'Select Designer' %}</option>
                {% for designer in designers %}
                    <option value="{{ designer.id }}" {% if selected_designer == designer.id|stringformat:"s" %}selected{% endif %}>
                        {{ designer }}
                    </option>
                {% endfor %}
            </select>
            {% if artists %}
            <select name="artist" id="artist-select" class="form-select" aria-label="Select Artist">
                <option value="">{% trans 'Select Artist' %}</option>
                {% for artist in artists %}
                    <option value="{{ artist.id }}" {% if selected_artist == artist.id|stringformat:"s" %}selected{% endif %}>
                        {{ artist }}
                    </option>
                {% endfor %}
            </select>
            {% endif %}

            <select id="status" name="status" value="{{ status }}">
                <option value="">{% trans 'Status (All)' %}</option>
                {% if has_status.stable %}  
                <option value="1" {% if status == '1' %}selected{% endif %}>{% trans 'Stable' %}</option>
                {% endif %}
                {% if has_status.testing %}  
                <option value="2" {% if status == '2' %}selected{% endif %}>{% trans 'Testing' %}</option>
                {% endif %}
                {% if has_status.development %}  
                <option value="3" {% if status == '3' %}selected{% endif %}>{% trans 'Development' %}</option>
                {% endif %}
                {% if has_status.inactive %}  
                <option value="4" {% if status == '4' %}selected{% endif %}>{% trans 'Inactive' %}</option>
                {% endif %}
            </select>

            <div>
            <select name="language_code" id="language-select" class="form-select" aria-label="Select Language">
                <option value="">{% trans 'Select Language' %}</option>
                {% for language in used_languages %}
                    <option value="{{ language.code }}" {% if language.code == selected_language %}selected{% endif %}>
                        {{ language }}
                    </option>
                {% endfor %}
            </select>
            {% if expansions %}
            <select name="expansion" id="expansion-select" class="form-select" aria-label="Select Expansion">
                <option value="">{% trans 'Select Expansion' %}</option>
                {% for expansion in expansions %}
                    <option value="{{ expansion.id }}" {% if expansion.id|stringformat:"s" == selected_expansion %}selected{% endif %}>
                        {{ expansion }}
                    </option>
                {% endfor %}
            </select>
            {% endif %}
        </div>

        </div>


        {% if component_type == "Faction" %}
            {% include "the_keep/partials/adv_search_faction.html" %}
        {% endif %}

        {% if component_type == "Map" %}
            {% include "the_keep/partials/adv_search_map.html" %}
        {% endif %}

        {% if component_type == "Vagabond" %}
            {% include "the_keep/partials/adv_search_vb.html" %}
        {% endif %}

        {% if component_type == "Hireling" %}
            {% include "the_keep/partials/adv_search_hireling.html" %}
        {% endif %}

        {% if component_type == "Deck" %}
            {% include "the_keep/partials/adv_search_deck.html" %}
        {% endif %}

        {% if component_type == "Faction" or component_type == "Vagabond" %}
        <h3 class='root-title'>Winrate</h3>
          <div class="d-flex align-items-center gap-3">
            <span class="mr-4" id="winrate_min_display">0%</span>
            
            <div id="winrate-slider" style="flex-grow: 1;"></div>
            
            <span class="ml-4" id="winrate_max_display">100%</span>
          </div>
          
          <!-- Hidden fields for the actual form submission -->
          <input type="hidden" name="winrate_min" id="winrate_min">
          <input type="hidden" name="winrate_max" id="winrate_max">
          
        {% endif %}

        <!-- Games played -->
        {% include "the_keep/partials/adv_quantity_filter.html" with prefix="games" label="Games Played" op=games_op qty=games_qty %}

        {% if has_piece_type.warrior or has_piece_type.building or has_piece_type.token or has_piece_type.card or has_piece_type.other %}
            <h3 class='root-title'>Pieces</h3>
            {% if has_piece_type.warrior %}
                {% include "the_keep/partials/adv_quantity_filter.html" with prefix="warrior" label="Warrior" op=warrior_op qty=warrior_qty %}
            {% endif %}
            {% if has_piece_type.building %}
                {% include "the_keep/partials/adv_quantity_filter.html" with prefix="building" label="Building" op=building_op qty=building_qty %}
            {% endif %}
            {% if has_piece_type.token %}
                {% include "the_keep/partials/adv_quantity_filter.html" with prefix="token" label="Token" op=token_op qty=token_qty %}
            {% endif %}
            {% if has_piece_type.card %}
                {% include "the_keep/partials/adv_quantity_filter.html" with prefix="card" label="Card" op=card_op qty=card_qty %}
            {% endif %}
            {% if has_piece_type.other %}
                {% include "the_keep/partials/adv_quantity_filter.html" with prefix="other" label="Other" op=other_op qty=other_qty %}
            {% endif %}
        {% endif %}
          
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                {% trans "Search" %}
            </button>
            {% if user.is_authenticated and not user.profile.weird %}
                <div>
                    <small>*Displaying Official Content Only</small>
                </div>
            {% endif %}
        </div>
        
        </form>

    </div>
</article>



    {% include 'the_keep/partials/advanced_search_results.html' %}


{% endblock content %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css">

<script>
  const slider = document.getElementById('winrate-slider');
  const minDisplay = document.getElementById('winrate_min_display');
  const maxDisplay = document.getElementById('winrate_max_display');
  const minInput = document.getElementById('winrate_min');
  const maxInput = document.getElementById('winrate_max');

  noUiSlider.create(slider, {
    start: [{{ winrate_min|default:0 }}, {{ winrate_max|default:100 }}],
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100
    },
    format: {
      to: value => Math.round(value),
      from: value => Number(value)
    }
  });

  slider.noUiSlider.on('update', function (values) {
    const [minVal, maxVal] = values;

    minDisplay.textContent = `${minVal}%`;
    maxDisplay.textContent = `${maxVal}%`;

    minInput.value = minVal;
    maxInput.value = maxVal;
  });

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        form.addEventListener("submit", function (e) {
            const inputs = form.querySelectorAll("input, select");
            inputs.forEach(input => {
                if (input.value === "") {
                    input.disabled = true;  // Disabled fields are not submitted
                }
            });
        });
    });
</script>
    
{% endblock scripts %}