{% extends "the_keep/base.html" %}
{% load static i18n %}
{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/workshop-icon.png' %}">
<meta property="og:site_name" content="{{site_title}}">
{% trans 'The Workshop' as workshop_title %}
{% trans 'Find assets and resources for creating Root fan content.' as workshop_description %}
<meta property="og:title" content="{{workshop_title}}">
<meta property="og:description" content="{{workshop_description}}">
<meta name="description" content="{{workshop_description}}">
{% endblock meta%}


{% block content %}
<article class="media content-section mt-2 mb-5">
    <div class="media-body">

        <div class="d-flex justify-content-between align-items-center">
            <div class='d-flex'>
                <h1 class='root-title'>{% trans 'Resources' %}</h1>
            </div>
            <div class='d-flex flex-wrap justify-content-end'>
                
                {% if user.is_authenticated and user.profile.assets.count != 0 %}
                    <a href="{% url 'profile' %}#assets" class="btn btn-sm btn-secondary ml-1 mb-1">{% trans 'My Resources' %}</a>
                {% endif %}

                <a class="btn btn-sm btn-success ml-1 mb-1" href="{% url 'asset-new' %}">{% trans 'New Resource' %} +</a>

                <a href="{% url 'post-request' %}" class="btn btn-sm btn-primary ml-1 mb-1">
                    {% if user.profile.designer %}
                        {% trans 'New Post' %}
                    {% else %}
                        {% trans 'Request Post' %}
                    {% endif %}
                </a>

            </div>
        </div>

    </div>
</article>
        {% comment %} {% if shared_assets %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3>{% trans 'Shared' %} ({{ shared_assets.count }})</h3>
                <button class="btn btn-info btn-sm ml-2 ms-2" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseRegister" 
                aria-expanded="false" 
                aria-controls="collapseRegister" 
                id="collapseToggleButton">
            {% trans 'View' %}
            </button>
         
            </div>   
            
            
            <div class="collapse" id="collapseRegister">
                <article class="media content-section">
                    <div class="media-body" style="overflow: auto;">
                <div style="overflow-x: auto;">
                    <table id="nonsortable-table">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Category' %}</th>
                                <th>{% trans 'File' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'Shared By' %}</th>
                                {% if profile.player %}
                                <th></th>
                                {% endif %}
                            </tr>
                        </thead>
    
                    
                        <tbody id="shared-asset-table" class="effort-rows">
                            {% for obj in shared_assets %}
                            <tr data-href="{{ obj.get_absolute_url }}">
                                <td>{{ obj.title }}</td>
                                <td>{{ obj.category }}</td>
                                <td>{{ obj.file_type }}</td>
                                <td>{{ obj.date_updated|date:"m/d/y" }}</td>
                        
                                <td>
                                    {% if obj.shared_by %}
                                    {{ obj.shared_by.display_name }}
                                    {% else %}
                                    ---
                                    {% endif %}
                                </td>
                                {% if profile.player %}
                                <td>
                                    {% if obj.shared_by == profile and obj.shared_by %}
                                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                                    {% endif %}
                                    {% if profile.admin_onboard %}           
                                    {% if obj.shared_by == None %}
                                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                                    {% endif %}
                                        <!-- Pins -->
                                        {% include 'the_keep/partials/asset_pins.html' %}
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">{% trans 'No results found' %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    
                    </table>

                </div>
    

            </div>
        </article>
            </div>
        
        {% endif %} {% endcomment %}


        <article class="media content-section">
            <div class="media-body" style="overflow: auto;">
                {% comment %} {% if shared_assets %}
                    <h3>{% trans 'Pinned' %}</h3>
                {% endif %} {% endcomment %}
        <!-- Search bar with htmx attributes -->
            <form class="mb-3"
            hx-get="{% url 'asset-list' %}" 
            hx-target="#asset-table" 
            hx-swap="outerHTML"
            hx-trigger="submit, input delay:0.3s">
                        <div class="row">
                            
                            <div class="col-md-6 mb-1">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="search-bar" 
                                    name="search" 
                                    placeholder="Search..." 
                                />
                            </div>

                            <!-- Select Field (Takes 25% of the row) -->
                            <div class="col-md-3 mb-1">
                                <select id="search_type" class="form-control" name="search_type" value="{{ search_type }}">
                                    <option value="">{% trans 'All' %}</option>  
                                    <option value="faction" {% if search_type == 'faction' %}selected{% endif %}>{% trans 'Faction' %}</option>
                                    <option value="vagabond" {% if search_type == 'vagabond' %}selected{% endif %}>{% trans 'Vagabond' %}</option>
                                    <option value="map" {% if search_type == 'map' %}selected{% endif %}>{% trans 'Map' %}</option>
                                    <option value="deck" {% if search_type == 'deck' %}selected{% endif %}>{% trans 'Deck' %}</option>
                                    <option value="landmark" {% if search_type == 'landmark' %}selected{% endif %}>{% trans 'Landmark' %}</option>
                                    <option value="hireling" {% if search_type == 'hireling' %}selected{% endif %}>{% trans 'Hireling' %}</option>
                                    <option value="icons" {% if search_type == 'icons' %}selected{% endif %}>{% trans 'Icons' %}</option>
                                    <option value="guide" {% if search_type == 'guide' %}selected{% endif %}>{% trans 'Guide' %}</option>
                                    <option value="other" {% if search_type == 'other' %}selected{% endif %}>{% trans 'Other' %}</option>
                                </select>
                            </div>

                            <div class="col-md-3 mb-1">
                                <select id="file_type" class="form-control" name="file_type" value="{{ file_type }}">
                                    <option value="">{% trans 'All Files' %}</option>  
                                    <option value="pdf" {% if search_type == 'pdf' %}selected{% endif %}>PDF</option>
                                    <option value="xcf" {% if search_type == 'xcf' %}selected{% endif %}>XCF (Gimp)</option>
                                    <option value="png" {% if search_type == 'png' %}selected{% endif %}>PNG</option>
                                    <option value="jpg" {% if search_type == 'jpg' %}selected{% endif %}>JPG</option>
                                    <option value="doc" {% if search_type == 'doc' %}selected{% endif %}>DOC (Word)</option>
                                    <option value="psd" {% if search_type == 'psd' %}selected{% endif %}>PSD (Photoshop)</option>
                                    <option value="video" {% if search_type == 'video' %}selected{% endif %}>{% trans 'Video' %}</option>
                                    <option value="other" {% if search_type == 'other' %}selected{% endif %}>{% trans 'Other' %}</option>
                                </select>
                            </div>
                </div>


            </form>

        <div style="overflow-x: auto;">
        <table id="sortable-table">
            <thead>
                <tr>
                    <th class="sortable" onclick="sortTable(0)">{% trans 'Name' %}</th>
                    <th class="sortable" onclick="sortTable(1)">{% trans 'Category' %}</th>
                    <th class="sortable" onclick="sortTable(2)">{% trans 'File' %}</th>
                    <th class="sortable" onclick="sortTable(3)">{% trans 'Date' %}</th>
                    {% comment %} <th class="sortable" onclick="sortTable(4)">{% trans 'Shared By' %}</th> {% endcomment %}
                    {% if profile.player %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="asset-table" class="effort-rows">
                {% for obj in objects %}
                <tr data-href="{{ obj.get_absolute_url }}" class="clickable-row">
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.category }}</td>
                    <td>{{ obj.file_type }}</td>
                    <td>{{ obj.date_updated|date:"m/d/y" }}</td>

                    {% comment %} <td>
                        {% if obj.shared_by %}
                        {{ obj.shared_by.display_name }}
                        {% else %}
                        ---
                        {% endif %}
                    </td> {% endcomment %}
                    {% if profile.player %}
                    <td>
                        {% if obj.shared_by == profile and obj.shared_by %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                        {% endif %}
                        {% if profile.admin_onboard %}
                          {% include 'the_keep/partials/asset_pins.html' %}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
</article>
{% endblock %}


{% block scripts %}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sortable-table");
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    // Get the collapse element and button
const collapseElement = document.getElementById('collapseRegister');
const collapseToggleButton = document.getElementById('collapseToggleButton');
if (collapseElement){
// Add event listeners to the collapse element
collapseElement.addEventListener('show.bs.collapse', function () {
    // Change button text to "Hide" when collapse is shown
    collapseToggleButton.innerHTML = 'Hide';
});

collapseElement.addEventListener('hide.bs.collapse', function () {
    // Change button text to "View" when collapse is hidden
    collapseToggleButton.innerHTML = 'View';
});
}


</script>
{% endblock scripts %}
