{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if not object.id %}
     - New
{% else %}
     - Edit
{% endif %}
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% if object.id %}Update{% else %}Post{% endif %} Link to Resource</legend>
                {% if user.profile.admin %}
                    Resources will be publicly posted to your profile and added to the Pinned Resource page
                {% else %}
                    Resources will be publicly posted to your profile
                {% endif %}
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-info" type="submit">Save</button>
                
                
                <a class="btn btn-secondary" href="{% url 'asset-list' %}">Cancel</a>
                {% if object.id %}
                    <a class="btn btn-danger" href="{% url 'asset-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
        <script>
            if ($('#id_shared_by').length) {
                $('#id_shared_by').select2();
            }
        </script>
{% endblock %}
