{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% if not object.id %}{% trans 'New Resource' %} | {% else %}{% trans 'Edit Resource' %} | {% endif %}
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">
                    {% if object.id %}
                        {% trans 'Update Link to Resource' %}
                    {% else %}
                        {% trans 'Post Link to Resource' %}
                    {% endif %} 
                </legend>
                <div class='mb-4'>
                {% if object.id and object.pinned %}
                    {% trans 'If the link is updated, this resource will no longer be pinned. If an update is needed please contact an admin to have the resource repinned.' %}
                {% else %}
                    {% trans 'Resources will be publicly posted to your profile.' %}
                {% endif %}
                </div>
                {{ form | crispy }}
            </fieldset>

            <div class="mb-3">
                <button class="btn btn-info" type="submit">{% trans 'Save' %}</button>
                
                
                <a class="btn btn-secondary" href="{% url 'asset-list' %}">{% trans 'Cancel' %}</a>
                {% if object.id %}
                    <a class="btn btn-danger" href="{% url 'asset-delete' object.id %}">{% trans 'Delete' %}</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
        <script>
            if ($('#id_shared_by').length) {
                $('#id_shared_by').select2();
            }
        </script>
{% endblock %}
