{% extends "the_keep/base.html" %}

{% block content %}

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Resources</h1>
            {% if profile.player %}
            <a class="btn btn-sm btn-success mb-3" href="{% url 'asset-new' %}">New Resource +</a>
            {% endif %}
        </div>

        {% if shared_assets %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3>Shared ({{ shared_assets.count }})</h3>
                <button class="btn btn-info btn-sm ml-2 ms-2" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseRegister" 
                aria-expanded="false" 
                aria-controls="collapseRegister" 
                id="collapseToggleButton">
            View
            </button>
         
            </div>   
            
            
            <div class="collapse" id="collapseRegister">
                <article class="media content-section">
                    <div class="media-body">
                <div style="overflow-x: auto;">
                    <table id="nonsortable-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>File</th>
                                <th>Date</th>
                                <th>Shared By</th>
                                {% if profile.player %}
                                <th></th>
                                {% endif %}
                            </tr>
                        </thead>
    
                    
                        <tbody id="shared-asset-table" class="effort-rows">
                            {% for obj in shared_assets %}
                            <tr>
                                <td><a href="{{ obj.link }}">{{ obj.title }}</a></td>
                                <td>{{ obj.category }}</td>
                                <td><a href="{{ obj.link }}">{{ obj.file_type }}</a></td>
                                <td>{{ obj.date_updated|date:"m/d/y" }}</td>
                        
                                <td>
                                    {% if obj.shared_by %}
                                    {{ obj.shared_by.display_name }}
                                    {% else %}
                                    ---
                                    {% endif %}
                                </td>
                                {% if profile.player %}
                                <td>
                                    {% if obj.shared_by == profile and obj.shared_by %}
                                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                                    {% endif %}
                                    {% if profile.admin_onboard %}           
                                    {% if obj.shared_by == None %}
                                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                                    {% endif %}
                                        <!-- Pins -->
                                        {% include 'the_keep/partials/asset_pins.html' %}
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No assets found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    
                    </table>

                </div>
    

            </div>
        </article>
            </div>
        
        {% endif %}



        <article class="media content-section">
            <div class="media-body" style="overflow: auto;">
                {% if shared_assets %}
                    <h3>Pinned</h3>
                {% endif %}
        <!-- Search bar with htmx attributes -->
        <div class="mb-3">
            <input 
                type="text" 
                class="form-control" 
                id="search-bar" 
                name="search" 
                placeholder="Search..." 
                hx-get="{% url 'asset-list' %}" 
                hx-target="#asset-table" 
                hx-trigger="keyup changed delay:500ms"
                hx-swap="outerHTML"
            />
        </div>
        <div style="overflow-x: auto;">
        <table id="sortable-table">
            <thead>
                <tr>
                    <th class="sortable" onclick="sortTable(0)">Name</th>
                    <th class="sortable" onclick="sortTable(1)">Category</th>
                    <th class="sortable" onclick="sortTable(2)">File</th>
                    <th class="sortable" onclick="sortTable(3)">Date</th>
                    <th class="sortable" onclick="sortTable(4)">Shared By</th>
                    {% if profile.player %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="asset-table" class="effort-rows">
                {% for obj in objects %}
                <tr>
                    <td><a href="{{ obj.link }}">{{ obj.title }}</a></td>
                    <td>{{ obj.category }}</td>
                    <td><a href="{{ obj.link }}">{{ obj.file_type }}</a></td>
                    <td>{{ obj.date_updated|date:"m/d/y" }}</td>

                    <td>
                        {% if obj.shared_by %}
                        {{ obj.shared_by.display_name }}
                        {% else %}
                        ---
                        {% endif %}
                    </td>
                    {% if profile.player %}
                    <td>
                        {% if obj.shared_by == profile and obj.shared_by %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'asset-update' obj.pk %}"><i class="bi bi-pencil-square"></i></a>
                        {% endif %}
                        {% if profile.admin_onboard %}
                          {% include 'the_keep/partials/asset_pins.html' %}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</article>
{% endblock %}


{% block scripts %}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sortable-table");
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    // Get the collapse element and button
const collapseElement = document.getElementById('collapseRegister');
const collapseToggleButton = document.getElementById('collapseToggleButton');

// Add event listeners to the collapse element
collapseElement.addEventListener('show.bs.collapse', function () {
    // Change button text to "Hide" when collapse is shown
    collapseToggleButton.innerHTML = 'Hide';
});

collapseElement.addEventListener('hide.bs.collapse', function () {
    // Change button text to "View" when collapse is hidden
    collapseToggleButton.innerHTML = 'View';
});
</script>
{% endblock scripts %}
