{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block title %}Delete | {% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">Delete {{ object.title }}?</legend>
                <p>Are you sure you want to delete the {{ object.category }} asset link for {{ object.title }}? This cannot be undone.</p>
            </fieldset>
            <div class="mb-3">
                <button class="btn btn-danger" type="submit">{% trans 'Yes, Delete' %}</button>
                <a class="btn btn-secondary" href="{% url 'asset-list' %}">{% trans 'Cancel' %}</a>
            </div>
        </form>
    </div>
{% endblock content %}