{% extends 'the_keep/template.html' %}

{% block template %}
    <main role="main" class="{% block main_class %}container main-content{% endblock %}" id="main-content">
        
      <div class="{% block main_row_class %}row{% endblock %}">
        <div class="{% block main_width_class %}col-md-11{% endblock %}">
            {% if background_image %}
                <div class='background-image-padding' style="{{ background_image.style }}"></div>
            {% endif %}

            {% if global_message %}
                <div class="alert alert-{{ global_message_type }} alert-dismissible fade show" role="alert">
                    {{ global_message }}
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

          
            {% block content %}{% endblock %}
        </div>
      </div>

    </main>
    {% endblock %}