{% extends 'the_keep/template.html' %}

{% block template %}
    <main role="main" id="main-content">
        
        <div style="position: relative;">
            {% if background_image %}
                <div class='background-image-padding' style="{{ background_image.style }}"></div>
            {% endif %}


            {% if messages or global_message %}
            <div class="floating-alert">

                {% if global_message %}
                    <div class="alert alert-{{ global_message_type }} alert-dismissible fade show" role="alert">
                        {{ global_message }}
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

          
            {% block content %}{% endblock %}
        </div>

    </main>
    {% endblock %}