{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block title %} - Testing{% endblock %}
{% block content %}
<article class="content-section">
<h1>{% trans 'Ready for Testing?' %}</h1>
<div>
    {% blocktrans %}
        By marking {{ post_title }} as "Testing" you convey to other users that you are testing and fine tuning this {{ post_component }}, you can always undo this later.
    {% endblocktrans %}
</div>
<div>
    {% trans 'If you have started testing, click "Yes!"' %}
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">{% trans 'Yes!' %}</button>
    <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">{% trans 'Not yet...' %}</a href="{{ post.get_absolute_url }}">
</form>
</article>
{% endblock content %}