{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block title %}Delete | {% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete {{ expansion.title }}?</legend>
                <div>Are you sure you want to delete the expansion: "{{ expansion.title }}"? This cannot be undone.<br>
                The relationship with the following will be cleared:</div>
            </fieldset>
            {% for post in expansion.get_posts %}
                <ul>{{ post.title }}</ul>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-danger" type="submit">{% trans 'Yes, Delete' %}</button>
                <a class="btn btn-secondary" href="{% url 'expansion-detail' expansion.slug %}">{% trans 'Cancel' %}</a>
            </div>
        </form>
    </div>
{% endblock content %}
