{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %} - {{ expansion.title }}{% endblock %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if expansion.picture %}{{ expansion.picture.url }}{% else %}{% static 'images/archive-icon.png' %}{% endif %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ expansion.title }}">
<meta property="og:description" content="{{ expansion.title }}{% if expansion.designer %} by {{ expansion.designer.name }} {% endif %}{% if expansion.lore %} - {{ expansion.lore }}{% elif expansion.description %} - {{expansion.description}}{% endif %}">
<meta name="description" content="{{ expansion.title }}{% if expansion.designer %} by {{ expansion.designer.name }} {% endif %}{% if expansion.lore %} - {{ expansion.lore }}{% elif expansion.description %} - {{expansion.description}}{% endif %}">
{% endblock meta%}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class='root-title'>{{ expansion.title }}</h1>
        {% if expansion.designer == user.profile and user.profile.designer %}
                <div>
                    <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'expansion-update' expansion.slug %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'expansion-delete' expansion.slug %}"><i class="bi bi-trash3"></i></a>
                </div>
        {% endif %}
</div>
        {% if expansion.designer %}
        {% trans 'by' %} 
                {% if user.profile.player %}
                        <a class="mr-2" href="{% url 'player-detail' expansion.designer.slug %}">{{ expansion.designer.name }}</a>
                {% else %}
                        {{ expansion.designer.name }}
                {% endif %}
        {% endif %}
        {% if expansion.picture %}
        <div><img class="rounded-corner-img responsive-img mb-1" src="{{ expansion.picture.url }}"></div>
        {% endif %}
        {% if expansion.lore %}
            <p class="lore-content mt-2">{{ expansion.lore }}</p>
        {% endif %}
        {% if expansion.description %}
        <div>{{ expansion.description }}</div>
        {% endif %}
        
        {% if open_expansion %}
                <div>
                        Open Until {{ expansion.end_date|date:"F j, Y" }}
                </div>
        {% endif %}

        {% if links_count != 0 %}
                {% with expansion as object %}
                {% include 'the_keep/partials/external_links.html' %}
                {% endwith %}
        {% endif %}


        {% if posts %}
            {% if factions %}
            <h2>
                {% if factions.count != 1 %}
                        {% trans 'Factions' %} 
                {% else %}
                        {% trans 'Faction' %} 
                {% endif %}
        </h2>
            {% for object in factions %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if decks %}
            <h2>Deck{% if decks.count != 1 %}s{% endif %}</h2>
            {% for object in decks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if maps %}
            <h2>Map{% if maps.count != 1 %}s{% endif %}</h2>
            {% for object in maps %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if vagabonds %}
            <h2>Vagabond{% if vagabonds.count != 1 %}s{% endif %}</h2>
            {% for object in vagabonds %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if hirelings %}
            <h2>Hireling{% if hirelings.count != 1 %}s{% endif %}</h2>
            {% for object in hirelings %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if landmarks %}
            <h2>Landmark{% if landmarks.count != 1 %}s{% endif %}</h2>
            {% for object in landmarks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if clockworks %}
            <h2>Clockwork Faction{% if clockworks.count != 1 %}s{% endif %}</h2>
            {% for object in clockworks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if tweaks %}
            <h2>House Rule{% if tweaks.count != 1 %}s{% endif %}</h2>
            {% for object in tweaks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
        {% else %}
                <div>
                Looks like nothing has been added to this expansion yet. Please check back later.
                </div>
        {% endif %}
    
{% endblock content %} 