{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}New Expansion | {% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">{{ form.form_type }}</legend>
                An expansion is a way to group what you've created and provide an easy way for others to find things in a related collection.<br>
                An expansion should include several components created at the same time or with a similar theme.<br>
                {{ form | crispy }}
            </fieldset>
            <div class="mb-3">
                <button class="btn btn-info" type="submit">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function(){
        // Apply the jQuery UI datepicker to the 'end_date' field
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",  // Format the date (you can adjust this as needed)
            changeMonth: true,        // Allow month change via dropdown
            changeYear: true,         // Allow year change via dropdown
            yearRange: "c-100:c+10"  // Year range (from 100 years ago to 10 years in the future)
        });

        if ($('#id_designer').length) {
            $('#id_designer').select2();
        }
        $('#id_co_designers').select2();
    });

</script>
{% endblock %}