{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %}{{ expansion.title }} | {% endblock %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% if expansion.picture %}{{ expansion.picture.url }}{% else %}{% static 'images/archive-icon.png' %}{% endif %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="{{ expansion.title }}">
<meta property="og:description" content="{{ expansion.title }}{% if expansion.designer %} by {{ expansion.designer.name }} {% endif %}{% if expansion.lore %} - {{ expansion.lore }}{% elif expansion.description %} - {{expansion.description}}{% endif %}">
<meta name="description" content="{{ expansion.title }}{% if expansion.designer %} by {{ expansion.designer.name }} {% endif %}{% if expansion.lore %} - {{ expansion.lore }}{% elif expansion.description %} - {{expansion.description}}{% endif %}">
{% endblock meta%}

{% block content %}


<article class="content-section d-flex justify-content-between align-items-center">
  <div class='mx-auto text-center'>

        <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class='root-title'>{{ expansion.title }}</h1>

        </div>
        {% if expansion.designers_list %}
                {% trans 'by' %} 
                {% if user.profile.player %}
                        {% for designer in expansion.co_designers.all %}
                            <a href="{% url 'player-detail' designer.slug %}">{{ designer.name }}</a>{% if not forloop.last %}, {% elif expansion.designer %} and {% endif %}
                        {% endfor %}
                        {% if expansion.designer %}
                                <a class="mr-2" href="{% url 'player-detail' expansion.designer.slug %}">{{ expansion.designer.name }}</a>
                        {% endif %}
                {% else %}
                        {{ expansion.designers_list }}
                {% endif %}
        {% endif %}

        </div>

        <div>
 
                {% if can_edit %}
                        <div>
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'expansion-update' expansion.slug %}"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'expansion-delete' expansion.slug %}"><i class="bi bi-trash3"></i></a>
                        </div>
                {% endif %}

          {% if available_languages %}
                
                <div class="dropdown d-inline">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <small><i class="bi bi-translate"></i> {{ selected_language.name }}</small>
                  </button>
                  
                  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    
                            {% for lang in available_languages %}
                              <li>
                                <a class="dropdown-item" href="{% url 'expansion-detail' slug=expansion.slug %}?lang={{lang.code}}"><small>{{ lang.name }}</small></a>
                              </li>
                            {% endfor %}

                  </ul>
                </div>
            
          {% else %}
                  <small>
                      {{ selected_language }}
                  </small>
          {% endif %}
  
        </div>
</article>

{% if expansion.picture or expansion.description or expansion.lore or open_expansion %}

<article class="content-section d-flex justify-content-between align-items-center">
  <div class='mx-auto text-center'>

        {% if expansion.picture %}
        <div><img class="rounded-corner-img responsive-img mb-1" src="{{ expansion.picture.url }}"></div>
        {% endif %}
        {% if expansion.lore %}
            <p class="lore-content article-content mt-2{% if expansion.description %} border-bottom{% endif %}">{{ expansion.lore }}</p>
        {% endif %}
        {% if expansion.description %}
        <div class='article-content'>{{ expansion.description }}</div>
        {% endif %}
        
        {% if open_expansion %}
                <div>
                        Open Until {{ expansion.end_date|date:"F j, Y" }}
                </div>
        {% endif %}

   </div>
</article>

{% endif %}


        {% if links_count != 0 %}
                {% with expansion as object %}
                {% include 'the_keep/partials/external_links.html' %}
                {% endwith %}
        {% endif %}

        <!-- Law and FAQ -->
        {% include 'the_keep/partials/expansion_law_faq.html' %}

        {% if posts %}
            {% if factions %}
                <h2 class='root-title'>Faction{% if factions.count != 1 %}s{% endif %}</h2>
            {% for object in factions %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if decks %}
                <h2 class='root-title'>Deck{% if decks.count != 1 %}s{% endif %}</h2>
            {% for object in decks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if maps %}
                <h2 class='root-title'>Map{% if maps.count != 1 %}s{% endif %}</h2>
            {% for object in maps %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if vagabonds %}
                <h2 class='root-title'>Vagabond{% if vagabonds.count != 1 %}s{% endif %}</h2>
            {% for object in vagabonds %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if hirelings %}
                <h2 class='root-title'>Hireling{% if hirelings.count != 1 %}s{% endif %}</h2>
            {% for object in hirelings %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if landmarks %}
                <h2 class='root-title'>Landmark{% if landmarks.count != 1 %}s{% endif %}</h2>
            {% for object in landmarks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if clockworks %}
                <h2 class='root-title'>Clockwork Faction{% if clockworks.count != 1 %}s{% endif %}</h2>
            {% for object in clockworks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
            {% if tweaks %}
                <h2 class='root-title'>House Rule{% if tweaks.count != 1 %}s{% endif %}</h2>
            {% for object in tweaks %}
                
                    {% include 'the_keep/partials/post.html' %}
                
            {% endfor %}
            {% endif %}
        {% else %}
                <div>
                Looks like nothing has been added to this expansion yet. Please check back later.
                </div>
        {% endif %}
    
{% endblock content %} 