{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ form.form_type }}</legend>
                An expansion is a way to group what you've created and provide an easy way for others to find things in a related collection.<br>
                An expansion should include several components created at the same time or with a specific theme.<br>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
