{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block content %}

{% if post %}
<div class='mb-2 d-flex justify-content-between'>

  <a href="{{ post.get_absolute_url }}?lang={{lang_code}}" class="content-box d-flex align-items-center clickable-segment text-center">
    <div class='d-flex align-items-center mr-1'>
      <i class="bi bi-chevron-left"></i> 
      </div>
      <div class='d-flex mx-auto'>
        {{post.title}}
      </div>
  </a>


</div>
{% endif %}


<article class="content-section">
  <div class="d-flex justify-content-between align-items-center">
    {% if post %}
      <h1 class='root-title'{% if post.color %} style="text-decoration: underline; text-decoration-thickness: 7px; text-decoration-color: {{ post.color }};"{% endif %}>{{ post.title }} FAQ</h1>
    {% else %}
      <h1 class='root-title'>{{ site_title }} FAQ</h1>
    {% endif %}


    <div>
 
      {% if available_languages or edit_authorized %}
            
            <div class="dropdown d-inline">
              <button class="btn btn-sm dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <small><i class="bi bi-translate"></i> {{ selected_language.name }}</small>
              </button>
              <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                {% if post %}
                    {% if available_languages %}
                        {% for lang in available_languages %}
                          <li>
                            <a class="dropdown-item" href="{% url 'faq-view' slug=post.slug lang_code=lang.code %}"><small>{{ lang.name }}</small></a>
                          </li>
                        {% endfor %}
                    {% endif %}
                    {% if edit_authorized %}
                        {% if available_languages %}
                          <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        {% if unavailable_languages %}
                            {% for lang in unavailable_languages %}
                              <li>
                                <a class="dropdown-item" href="{% url 'faq-view' slug=post.slug lang_code=lang.code %}"><small><i class="bi bi-plus"></i> {{ lang.name }}</small></a>
                              </li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% else %}
                        {% for lang in available_languages %}
                          <li>
                            <a class="dropdown-item" href="{% url 'lang-faq' lang_code=lang.code %}"><small>{{ lang.name }}</small></a>
                          </li>
                        {% endfor %}


                        {% if edit_authorized %}
                            {% if available_languages %}
                              <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            {% if unavailable_languages %}
                                {% for lang in unavailable_languages %}
                                  <li>
                                    <a class="dropdown-item" href="{% url 'lang-faq' lang_code=lang.code %}"><small><i class="bi bi-plus"></i> {{ lang.name }}</small></a>
                                  </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}


                {% endif %}
              </ul>
            </div>
        
      {% else %}
              <small>
                  {{ selected_language }}
              </small>
      {% endif %}



    {% if not post and user.is_staff %}
        <div class="d-flex flex-wrap justify-content-end">
            <a class="btn btn-success btn-sm mt-1 mb-1 ml-1" href="{% url 'faq-add' lang_code=lang_code %}">
                {% trans 'FAQ' %} <i class="bi bi-plus"></i>
            </a>
        </div>
    {% elif post and user.profile.admin or user.profile == post.designer and user.profile.editor %}
      <div class="d-flex flex-wrap justify-content-end">
          <a class="btn btn-success btn-sm mt-1 mb-1 ml-1" href="{% url 'post-faq-add' slug=post.slug lang_code=lang_code %}">
              {% trans 'FAQ' %} <i class="bi bi-plus"></i>
          </a>
      </div>
    {% endif %}
  </div>
  </div>


<form id="faq-search-form" 
hx-get="{% if post %}{% url 'faq-view' slug=post.slug lang_code=lang_code %}{% else %}{% url 'lang-faq' lang_code=lang_code  %}{% endif %}" 
hx-target="#faq-results" 
hx-swap="innerHTML"
hx-trigger="submit, input delay:300ms" 
autocomplete="off">
    <input type="text" name="q" placeholder="Search FAQs..." class="form-control">
  </form>
  


  <div id="faq-results">
    {% include 'the_keep/partials/faq_list.html' with faqs=faqs %}
  </div>
</article>
  {% endblock %}

  {% block scripts %}

  <script>
    function toggleAccordion(header) {
      const item = header.parentElement;
      const allItems = document.querySelectorAll('.accordion-item');
      allItems.forEach(i => {
        if (i !== item) i.classList.remove('active');
      });
      item.classList.toggle('active');
    }
  </script>

  {% endblock scripts %}