{% extends 'the_keep/base_b.html' %}

{% load static i18n %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="The {{site_title}}">
<meta property="og:description" content="The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games">
<meta name="description" content="The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games">
{% endblock meta%}


{% block content %}

<div class="homepage-image-container">
    <img src="{% static 'images/homepage/Archive.png' %}" alt="The Archive Image">
    <div class="text-overlay text-overlay-right">
        <div class="root-title title-overlay">
            {% trans "The Archive" %}
        </div>
        <div>
            {% trans 'Discover fan content by status, type, reach value or designer.' %}
        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'archive-home' %}">{% trans 'View' %}</a>
    </div>
</div>

<div class="homepage-image-container">
    <img src="{% static 'images/homepage/Battlefield.png' %}" alt="The Battlefield Image">
    <div class="text-overlay">
        <div class="root-title title-overlay">
            {% trans "The Battlefield" %}
        </div>
        <div>
            {% trans 'Record games and playtests of Root!' %} 
            <br>
            {% trans 'Compare Faction standings and matchups.' %}
        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'games-home' %}">{% trans 'View' %}</a>
    </div>
</div>

<div class="homepage-image-container">
    <img src="{% static 'images/homepage/Workshop.png' %}" alt="The Workshop Image">
    <div class="text-overlay text-overlay-right">
        <div class="root-title title-overlay">
            {% trans "The Workshop" %}
        </div>
        <div>

            {% trans 'Submit your fan content.' %}
            <br>
            {% trans 'Access PNP resources & templates.' %}

        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'asset-list' %}">{% trans 'View' %}</a>
    </div>
</div>


{% endblock content %}


