{% extends 'the_keep/base_b.html' %}

{% load static i18n %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
{% comment %} <meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" /> {% endcomment %}
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="The {{site_title}}">
<meta property="og:description" content="{% trans 'The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games' %}">
<meta name="description" content="{% trans 'The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games' %}">
{% endblock meta%}


{% block content %}

<div class="homepage-image-container">
    {% comment %} <img src="{% static 'images/homepage/Archive.webp' %}" alt="The Archive Image"> {% endcomment %}

    <picture>
        <!-- Load a smaller version on small screens -->
        <source media="(max-width: 500px)" srcset="{% static 'images/homepage/ArchiveSmall.webp' %}">
        <!-- Default image for larger screens -->
        <img src="{% static 'images/homepage/Archive.webp' %}" alt="The Archive Image">
    </picture>


    <div class="text-overlay text-overlay-right">
        <div class="root-title title-overlay">
            {% trans "The Archive" %}
        </div>
        <div>
            {% trans 'Discover more ways to play Root.' %}
            <br>
            {% trans 'Find factions, maps, and more. Made by the Root community.' %}
            <br>
            {% comment %} {% blocktrans %}
            {{ faction_count }} Factions, {{ map_count }} Maps, {{ deck_count }} Decks and more.
            {% endblocktrans %} {% endcomment %}
        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'archive-home' %}">{% trans 'View' %}</a>
    </div>
</div>

<div class="homepage-image-container">
    

    <picture>
        <!-- Load a smaller version on small screens -->
        <source media="(max-width: 500px)" srcset="{% static 'images/homepage/BattlefieldSmall.webp' %}">
        <!-- Default image for larger screens -->
        <img src="{% static 'images/homepage/Battlefield.webp' %}" alt="The Battlefield Image">
    </picture>


    <div class="text-overlay">
        <div class="root-title title-overlay">
            {% trans "The Battlefield" %}
        </div>
        <div>
            {% trans 'Record your games of Root!' %} 
            <br>
            {% trans 'Track stats and compare faction matchups.' %}
        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'games-home' %}">{% trans 'View' %}</a>
    </div>
</div>

<div class="homepage-image-container">
    

    <picture>
        <!-- Load a smaller version on small screens -->
        <source media="(max-width: 500px)" srcset="{% static 'images/homepage/WorkshopSmall.webp' %}">
        <!-- Default image for larger screens -->
        <img src="{% static 'images/homepage/Workshop.webp' %}" alt="The Workshop Image">
    </picture>


    <div class="text-overlay text-overlay-right">
        <div class="root-title title-overlay">
            {% trans "The Workshop" %}
        </div>
        <div>

            {% trans 'Submit your fan content.' %}
            <br>
            {% trans 'Search PNP resources & templates to make your own Factions.' %}

        </div>
        <a class="btn btn-primary mb-2 mt-2"  href="{% url 'asset-list' %}">{% trans 'View' %}</a>
    </div>
</div>


{% endblock content %}


