{% extends 'the_keep/base.html' %}

{% load static %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/RDBFrogLogo.png' %}">
<meta property="og:site_name" content="{{site_title}}">
<meta property="og:title" content="The {{site_title}}">
<meta property="og:description" content="The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games">
<meta name="description" content="The {{site_title}} is a site for posting and discoverting fan-created content for the woodland war game, Root, by Leder Games">
{% endblock meta%}

{% block main_width_class %}col-12{% endblock %}
{% block main_class %}{% endblock %}
{% block content %}

<div class="hero-container">
    <div class="hero-image"></div>
</div>
<div>
    {% comment %} <article class="media content-section"> {% endcomment %}
    <div class='d-flex media-body'>
        <div class='root-menu-title'>
            <h1>The Archive</h1>
            <p>Discover fan content by status, type, reach value or designer.</p>
            <p>
            {{faction_count}} Factions |
            {{map_count}} Maps |
            {{deck_count}} Decks 
            </p>
            <a href='{% url 'archive-home' %}'>View</a>
        </div>
        <div class='root-menu-title'>
            <h1>The Warroom</h1>
            <p>Record games and playtests of Root! Compare Faction standings and matchups.</p>
            <a href='{% url 'games-home' %}'>View</a>
        </div>
        <div class='root-menu-title'>
            <h1>The Workshop</h1>
            <p>Submit your fan tocntent. Access PNP resources & templates.</p>
            <a href='{% url 'asset-list' %}'>View</a>
        </div>

        <div class='root-menu-title'>
            <h1>Quick Search</h1>
            <p>Quickly find what you're looking for.<br>
            Games | Resources | Colors | Pieces | Players</p>
        </div>
    </div>


{% comment %} </article> {% endcomment %}
</div>

{% comment %} <div id="spinner" class="spinner" style="display: none;"> {% endcomment %}
<div id="spinner" class="spinner">
    <div class="image-container">
        <img class="image back-image" src="{% static 'images/backgroundbushes.png'  %}" alt="Bushes">
        <img class="image top-image" src="{% static 'images/smallbush.png'  %}" alt="Bushes">
        <img class="image movement-image" src="{% static 'images/searchingvb.png'  %}" alt="VB">
    </div>
</div>


{% endblock content %}
