{% extends 'the_keep/base.html' %}
{% load static %}
{% block title %} - Home{% endblock %}

{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/DB_Only.png' %}">
<meta property="og:site_name" content="Root Database">
<meta property="og:title" content="Home">
<meta property="og:description" content="Search official and fan made factions for Root">
{% endblock meta%}


{% block content %}
       {% include 'the_keep/partials/search_body.html' %}
{% endblock content %}

{% block scripts %}
       {% include 'the_keep/partials/search_scripts.html' %}
{% endblock %}