{% extends 'the_keep/base.html' %}
{% load static i18n %}
{% block title %} - {% trans 'Archive' %}{% endblock %}
{% block main_width_class %}col-md-9{% endblock %}
{% block meta %}    <!-- Open Graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/archive-icon.png' %}">
<meta property="og:site_name" content="Root Database">
{% trans 'The Archive' as archive_title %}
{% trans 'Search official and fan made Root components.' as archive_description %}
<meta property="og:title" content="{{archive_title}}">
<meta property="og:description" content="{{archive_description}}">
<meta name="description" content="{{archive_description}}">
{% endblock meta%}


{% block content %}
       {% include 'the_keep/partials/search_body.html' %}
{% endblock content %}

{% block scripts %}
       {% include 'the_keep/partials/search_scripts.html' %}
{% endblock %}