{% extends 'the_keep/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete {{ object.component }}?</legend>
                <p>Are you sure you want to delete the {{ object.component }}: "{{ object.title }}"? This cannot be undone.</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-secondary" href="{% url post.component|lower|add:'-detail' object.slug %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
