{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block title %}{{ object.title }} Games | {% endblock %}

{% include 'the_keep/partials/component_meta.html' %}


{% block content %}

<h1 class='root-title'>{{ object.title }} {% trans 'Games' %}</h1>

{% if games %}

    {% include 'the_warroom/partials/game_filter_form.html' %}

    <div id="games-container">
        

        {% include 'the_keep/partials/game_list.html' %}

    </div>

{% endif %}

    <!-- Show option to send Feedback -->
    <div class='mb-2'>
        <a href="{% url 'post-feedback' object.slug %}" class='subtle-link'>
            <small>
                {% trans 'Is something missing or incorrect?' %}
            </small>
        </a>
     </div>

{% endblock content %} 

{% block scripts %}
        <script>
                $('#id_faction').select2({
                    placeholder: "{% trans 'Select an option' %}",
                    allowClear: true
                });
                $('#id_player').select2({
                    placeholder: "{% trans 'Select an option' %}",
                    allowClear: true
                });
                $('#id_vagabond').select2({
                    placeholder: "{% trans 'Select an option' %}",
                    allowClear: true
                });
        </script>
{% endblock %}