{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if not object.id %}
     - New
{% else %}
     - Edit
{% endif %}
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">                
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <legend class="border-bottom mb-4">{{ form.form_type }}</legend>
                    <button class="btn btn-info btn-sm ml-2 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>   
                    
                    
                <div class="collapse" id="collapseRegister">
                    <!-- <div class="card card-body">    -->
                            <div id="form-info" class="mb-2">
                                <small>Post your {{ form.form_type }} here. Required fields are marked with an *. Each {{ form.form_type }} must have a link to a BGG post{% if user.profile.in_weird_root %}or Weird Root{% endif %} or Woodland Warriors Discord Thread.</small>
                            </div>        
                    <!-- </div> -->
                </div>

                
                

                
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-info" type="submit">Save</button>
                {% if not object.id %}
                    <a class="btn btn-secondary" href="{% url 'archive-home' %}">Cancel</a>
                {% else %}
                    <a class="btn btn-secondary" href="{% url object.component|lower|add:'-detail' object.slug %}">Cancel</a>
                    {% if active_user.profile.designer %}
                    <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
        <script>
            $('#id_expansion').select2();
            $('#id_based_on').select2();
            if ($('#id_designer').length) {
                $('#id_designer').select2();
            }
            if ($('#id_other_side').length) {
                $('#id_other_side').select2();
            }
            if ($('#id_artist').length) {
                $('#id_artist').select2();
            }
        </script>
{% endblock %}
