{% extends 'the_keep/base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% if not object.id %}
     - {% trans 'New' %}
{% else %}
     - {% trans 'Edit' %}
{% endif %}
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">                
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <legend class="border-bottom mb-4">
                        {% if form.form_type == 'Tweak' %}
                            {% trans 'House Rule' %}
                        {% else %}
                            {% trans form.form_type %}
                        {% endif %}
                    </legend>
                    <button class="btn btn-info btn-sm ml-2 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>   


            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <ul class="errorlist nonfield">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% comment %} 
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
             {% endcomment %}
                    
                <div class="collapse" id="collapseRegister">
                    <!-- <div class="card card-body">    -->
                            <div id="form-info" class="mb-2">
                                <small>
                                    Post your {{ form.form_type }} here. Required fields are marked with an *. Each {{ form.form_type }} must also have a link to a BGG post{% if user.profile.in_weird_root %}, Weird Root Thread{% endif %} or Woodland Warriors Discord Thread.
                                </small>
                            </div>        
                    <!-- </div> -->
                </div>

                {% comment %} Admin Only {% endcomment %}
                {% if form.official %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">Admin Options</span>
                    {% if form.designer %}
                        {{ form.designer|as_crispy_field }}
                    {% endif %}
                    {% if form.official %}
                        {{ form.official|as_crispy_field }}
                    {% endif %}
                    {% if form.in_root_digital %}
                        {{ form.in_root_digital|as_crispy_field }}
                    {% endif %}
                </div>
                {% endif %}

                <div class='soft-shadow'>
                    <span class="h5 root-title">The Basics</span>
                {{ form.title|as_crispy_field}}
                
                {% if form.expansion %}
                    {{ form.expansion|as_crispy_field }}
                {% endif %}

                {{ form.based_on|as_crispy_field }}
                

                {{ form.status|as_crispy_field}}

                {{ form.version|as_crispy_field}}

                </div>
                <div class='soft-shadow'>
                    <span class="h5 root-title">The Details</span>
                    {% if form.animal %}
                        {{ form.animal|as_crispy_field }}
                    {% endif %}
                    
                    {{ form.lore|as_crispy_field}}
                    {{ form.description|as_crispy_field}}
                    
                    {% if form.card_text %}
                        {{ form.card_text|as_crispy_field }}
                    {% endif %}
                    {% if form.card_total %}
                        {{ form.card_total|as_crispy_field }}
                    {% endif %}
                </div>
  
                {% if form.color %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">Primary Color</span>
                    {% if form.color %}
                        {{ form.color|as_crispy_field }}
                    {% endif %}
                    {% if form.color_group %}
                        {{ form.color_group|as_crispy_field }}
                    {% endif %}
                </div>
                {% endif %}

                {% if form.type %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">
                        {{form.form_type}} Attributes
                    </span>
                    {% if form.type %}
                        {{ form.type|as_crispy_field }}
                    {% endif %}
                    {% if form.reach %}
                        {{ form.reach|as_crispy_field }}
                    {% endif %}
                    {% if form.other_side %}
                        {{ form.other_side|as_crispy_field }}
                    {% endif %}


                    {% comment %} Faction Specific {% endcomment %}
                    {% if form.complexity %}
                        {{ form.complexity|as_crispy_field }}
                    {% endif %}
                    {% if form.card_wealth %}
                        {{ form.card_wealth|as_crispy_field }}
                    {% endif %}
                    {% if form.aggression %}
                        {{ form.aggression|as_crispy_field }}
                    {% endif %}
                    {% if form.crafting_ability %}
                        {{ form.crafting_ability|as_crispy_field }}
                    {% endif %}
                    {% comment %} End Faction Specific {% endcomment %}
                    </div>
                {% endif %}



                {% comment %} Vagabond Fields {% endcomment %}
                {% if form.ability %}
                    <div class='soft-shadow'>
                        <span class="h5 root-title">Ability</span>
                        {% if form.ability_item %}
                            {{ form.ability_item|as_crispy_field }}
                        {% endif %}
                        {% if form.ability %}
                            {{ form.ability|as_crispy_field }}
                        {% endif %}
                        {% if form.ability_description %}
                            {{ form.ability_description|as_crispy_field }}
                        {% endif %}
                    </div>
                    <div class='soft-shadow'>
                        <span class="h5 root-title">Starting Items</span>
                            {% if form.starting_torch %}
                                {{ form.starting_torch|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_coins %}
                                {{ form.starting_coins|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_boots %}
                                {{ form.starting_boots|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_bag %}
                                {{ form.starting_bag|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_tea %}
                                {{ form.starting_tea|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_sword %}
                                {{ form.starting_sword|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_hammer %}
                                {{ form.starting_hammer|as_crispy_field }}
                            {% endif %}
                            {% if form.starting_crossbow %}
                                {{ form.starting_crossbow|as_crispy_field }}
                            {% endif %}
                    </div>
                {% endif %}
                {% comment %} End Vagabond Fields {% endcomment %}

                {% comment %} Map Fields {% endcomment %}
                {% if form.clearings %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">Map Specific Details</span>
                    {{ form.clearings|as_crispy_field }}
                    {{ form.fixed_clearings|as_crispy_field }}
                    {{ form.forests|as_crispy_field }}
                    {{ form.river_clearings|as_crispy_field }}
                    {{ form.building_slots|as_crispy_field }}
                    {{ form.ruins|as_crispy_field }}
                </div>
                {% endif %}
                {% comment %} End Map Fields {% endcomment %}

                {% comment %} Image Fields {% endcomment %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">Images</span>
                    {{ form.artist|as_crispy_field}}
                    {{ form.art_by_kyle_ferrin|as_crispy_field}}
                </div>
                {% if form.picture %}
                    <div class='soft-shadow'>
                        {{ form.picture|as_crispy_field }}
                    </div>
                {% endif %}
                {% if form.small_icon %}
                    <div class='soft-shadow'>
                        {{ form.small_icon|as_crispy_field }}
                    </div>
                {% endif %}
                {% if form.board_image %}
                    <div class='soft-shadow'>
                        {{ form.board_image|as_crispy_field }}
                    </div>
                {% endif %}
                {% if form.card_image %}
                    <div class='soft-shadow'>
                        {{ form.card_image|as_crispy_field }}
                    </div>
                {% endif %}
                {% if form.board_2_image %}
                    <div class='soft-shadow'>
                        {{ form.board_2_image|as_crispy_field }}
                    </div>
                {% endif %}
                {% if form.card_2_image %}
                    <div class='soft-shadow'>
                        {{ form.card_2_image|as_crispy_field }}
                    </div>
                {% endif %}
                {% comment %} End image fields {% endcomment %}




                {% comment %} Links {% endcomment %}
                <div class='soft-shadow'>
                    <span class="h5 root-title">Links</span>
                    {% if form.leder_games_link %}
                        {{ form.leder_games_link|as_crispy_field}}
                    {% endif %}
                    {{ form.bgg_link|as_crispy_field}}
                    {{ form.tts_link|as_crispy_field}}
                    {{ form.ww_link|as_crispy_field}}
                    {% if form.wr_link %}
                        {{ form.wr_link|as_crispy_field}}
                    {% endif %}
                    {% if form.fr_link %}
                        {{ form.fr_link|as_crispy_field}}
                    {% endif %}
                    {{ form.pnp_link|as_crispy_field}}
                    {{ form.stl_link|as_crispy_field}}
                    {{ form.rootjam_link|as_crispy_field}}
                </div>
                {% comment %} End Links {% endcomment %}

                <div class='soft-shadow'>
                {% if form.language %}
                    {{ form.language|as_crispy_field }}
                {% endif %}

                {{ form.co_designers|as_crispy_field }}
                </div>
                {% comment %} END END
                {{ form | crispy }} {% endcomment %}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-info" type="submit">{% trans 'Save' %}</button>
                {% if not object.id %}
                    <a class="btn btn-secondary" href="{% url 'archive-home' %}">{% trans 'Cancel' %}</a>
                {% else %}
                    <a class="btn btn-secondary" href="{% url object.component|lower|add:'-detail' object.slug %}">{% trans 'Cancel' %}</a>
                    {% if active_user.profile.designer %}
                    <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">{% trans 'Delete' %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script>

        function updateRootjamVisibility() {
            const selectedText = $('#id_expansion').find("option:selected").text().toLowerCase();
            const $rootjamField = $('#id_rootjam_link');
            const $rootjamWrapper = $rootjamField.closest('.form-group');
        
            if (selectedText.includes("rootjam 20") || selectedText.includes("rootjam special")) {
                $rootjamWrapper.show(); // Show the field
            } else {
                $rootjamWrapper.hide(); // Hide the field
                $rootjamField.val('');  // Clear the input value
            }
        }
        


        $(document).ready(function () {
            // Initialize Select2 first
            $('#id_expansion').select2();
            $('#id_based_on').select2();
            if ($('#id_designer').length) {
                $('#id_designer').select2();
            }
            if ($('#id_other_side').length) {
                $('#id_other_side').select2();
            }
            if ($('#id_artist').length) {
                $('#id_artist').select2();
            }
            $('#id_co_designers').select2();
            // Initial check on page load
            updateRootjamVisibility();

            // Check on change
            $('#id_expansion').on('change', updateRootjamVisibility);
        });
    </script>

{% endblock scripts %}