{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block title %}{{ object.title }} {% if is_captain %}Captain {% endif %}Games | {% endblock %}

{% block meta %}
    {% include 'the_keep/partials/component_meta.html' %}
{% endblock meta %}

{% block content %}

<h1 class='root-title'>{{ object.title }} {% if is_captain %}{% trans 'Captain Games' %}{% else %}{% trans 'Games' %}{% endif %}</h1>

{% if games %}

    {% include 'the_warroom/partials/universal_game_filter.html' with form=form filter_url=games_url swap_method='innerHTML' %}

    <div id="games-container">


        {% include 'the_keep/partials/game_list.html' %}

    </div>

{% endif %}

    <!-- Show option to send Feedback -->
    <div class='mb-2'>
        <a href="{% url 'post-feedback' object.slug %}" class='subtle-link'>
            <small>
                {% trans 'Is something missing or incorrect?' %}
            </small>
        </a>
     </div>

{% endblock content %} 

{% block scripts %}
    {% include 'the_warroom/partials/select2_init.html' %}
{% endblock %}