{% extends 'the_keep/base.html' %}
{% load i18n %}

{% block meta %}
    {% include 'the_keep/partials/component_meta.html' %}
{% endblock meta %}

{% block content %}
<article class="content-section">
    <h1 class="root-title">{{object_component}} {% trans 'Status' %}</h1>
    <a href='{{ object.get_absolute_url }}'>
        <div class="d-flex">
            <div class="article-img-container">
                <img class="article-img" src="{% if object.picture %}{{ object.picture.url }}{% else %}{{ object.designer.image.url }}{% endif %}">
            </div>
            <div class='d-flex flex-nowrap'>
                <h2 class='root-title' {% if object.color %} style="text-decoration: underline; text-decoration-thickness: 7px; text-decoration-color: {{ object.color }};"{% endif %}>{{ object_title }}</h2>
            </div>
        </div>
    </a>

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="bar-container">
                <div class="bar-label">{% trans 'Progress' %}</div> 
                <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{total_completion}}">
                    <div class="bar-text{% if total_count == 0 %} bar-black-text{% endif %}">{{ total_count }}/{{ total_threshold }}</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'the_keep/partials/status.html' %}

    <div>
    {% if object.status == '5' %}
        {% blocktrans %}
            This {{ object_component }} has been abandoned by the designer and no further development is planned.
        {% endblocktrans %}
    {% elif object.status == '4' %}
        {% blocktrans %}
            This {{ object_component }} is not currently being worked on and is considered inactive.<br>
            The designer, if they choose, can make this {{ object_component }} active again.
        {% endblocktrans %}
    {% elif object.status == '3' %}
        {% blocktrans %}
            This {{ object_component }} is still in the design stage, potentially undergoing major changes before being considered stable.<br>
            Once a game has been recorded the designer can choose the "Testing" status.
        {% endblocktrans %}
    {% elif object.status == '2' %}
        {% blocktrans %}
            This {{ object_component }} is being tested. It has reached a playable state but changes and fine tuning may be necessary before it is stable.<br>
        {% endblocktrans %}
    {% elif object.status == '1' %}
        {% blocktrans %}
            This {{ object_component }} is considered stable and no major changes are expected.
        {% endblocktrans %}
    {% endif %}
    </div>
</article>


{% if play_count != 0 %}
    <article class="content-section">
        <div>
            <h2 class='root-title'>{% trans 'Recorded Stats' %}</h2>

            <div class="row">
                


                <div class="col-12 col-md-6">
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Games Played' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{play_completion}}">
                            <div class="bar-text{% if play_count == 0 %} bar-black-text{% endif %}">{{ play_count }}/{{ play_threshold }}</div>
                        </div>
                    </div>
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Unique Players' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{player_completion}}">
                            <div class="bar-text{% if player_count == 0 %} bar-black-text{% endif %}">{{ player_count }}/{{ player_threshold }}</div>
                        </div>
                    </div>
                </div>

                {% if object_component == 'Faction' or object_component == 'Vagabond' or object_component == 'Clockwork' %}
                <div class="col-12 col-md-6">
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Wins' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{win_completion}}">
                            <div class="bar-text{% if win_count == 0 %} bar-black-text{% endif %}">{{ win_count }}/1</div>
                        </div>
                    </div>
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Losses' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{loss_completion}}">
                            <div class="bar-text{% if loss_count == 0 %} bar-black-text{% endif %}">{{ loss_count }}/1</div>
                        </div>
                    </div>
                </div>
                {% endif %}


                <div class="col-12 col-md-6">

                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Official Factions' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{official_faction_completion}}">
                            <div class="bar-text{% if official_faction_count == 0 %} bar-black-text{% endif %}">{{ official_faction_count }}/{{ official_faction_threshold }}</div>
                        </div>
                        <div class="icon-bar">
                        {% for faction in official_faction_queryset %}
                            <img class="faction-status-icon" src="{{ faction.small_icon.url }}" style="--faction-icon-width:{{ faction_icon_width }}";>
                        {% endfor %}
                        {% for faction in unplayed_faction_queryset %}
                            <img class="faction-status-icon greyed-out" src="{{ faction.small_icon.url }}" style="--faction-icon-width:{{ faction_icon_width }}";>
                        {% endfor %}
                        </div>
                    </div>

                    {% if object_component != 'Map' %}
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Official Maps' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{official_map_completion}}">
                            <div class="bar-text{% if official_map_count == 0 %} bar-black-text{% endif %}">{{ official_map_count }}/{{ official_map_threshold }}</div>
                        </div>
                    </div>
                    {% endif %}
                    {% if object_component != 'Deck' %}
                    <div class="bar-container">
                        <div class="bar-label">{% trans 'Official Decks' %}</div> 
                        <div class="bar-background bar-background-variable" style="--bar-color: {{ object_color }}; --bar-width: {{official_deck_completion}}">
                            <div class="bar-text{% if official_deck_count == 0 %} bar-black-text{% endif %}">{{ official_deck_count }}/{{ official_deck_threshold }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

{% endif %}


{% if object.status != '1' %}
    <article class="content-section">
        <div>
            <h2 class='root-title'>{% trans 'Stability' %}</h2>
            {% blocktrans %}
                There are two ways to mark this {{ object_component }} as Stable:
            {% endblocktrans %}
            <br>
            <li>
                {% blocktrans %}
                    If this {{ object_component }} has a Stable Weird Root thread you can request to have the status changed.
                {% endblocktrans %}
                    <br>
            </li>
            <li>
                {% blocktrans %}
                    The designer can mark this {{ object_component }} as stable once these requirements have been met:
                {% endblocktrans %}
                    <br>
            </li>
            <ol>
                {% if object_component == 'Faction' or object_component == 'Vagabond' or object_component == 'Clockwork' %}
                <li>
                    {% trans 'At Least 1 Win and 1 Loss against other players' %}
                </li>
                {% endif %}
                <li>
                    {% blocktrans %}
                    {{ play_threshold }} Games Recorded
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                    With {{ player_threshold }} Unique Players
                    {% endblocktrans %}
                </li>

                <li>
                    {% if object_component == 'Faction' or object_component == 'Vagabond' %}
                        {% blocktrans %}
                            Against the {{ official_faction_threshold }} Official Factions 
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans %}
                            With the {{ official_faction_threshold }} Official Factions 
                        {% endblocktrans %}
                    {% endif %}
                </li>
                {% if object_component != 'Map' %}
                <li>
                    {% blocktrans %}
                    On the {{ official_map_threshold }} Official Maps
                    {% endblocktrans %}
                </li>
                {% endif %}
                {% if object_component != 'Deck' %}
                <li>
                    {% blocktrans %}
                    With {{ official_deck_threshold }} of the Official Decks
                    {% endblocktrans %}
                </li>
                {% endif %}

            </ol>
            {% blocktrans %}
            Meeting these requirements does not necessarily mean that a {{ object_component }} is considered Stable. For example, a {{ object_component }} might undergo major changes halfway through playtesting, and as a result, more than 10 games may be necessary before the designer is ready to mark the {{ object_component }} as "Stable".
            {% endblocktrans %}
        </div>
    </article>
{% endif %}



{% if play_count != 0 %}
            <article class="content-section post-card">
                <a href="{{ object.get_games_url }}">
                    <div>
                        <h3 class='root-title'>{% trans 'Games' %}</h3>
                    </div>
                    <div>
                        {% if play_count != 1 %}
                        {% blocktrans %}
                        View {{ play_count }} Games
                        {% endblocktrans %}
                        {% else %}
                        {% blocktrans %}
                        View {{ play_count }} Game
                        {% endblocktrans %}
                        {% endif %}
                    </div>
                </a>
            </article>
        
{% else %}
    <article class="content-section">
        <div>
        <h2 class='root-title'>
            {% trans 'No Games Recorded' %}
        </h2>
        </div>
    </article>
{% endif %}



    <!-- Show option to send Feedback -->
    <div class='mb-2'>
        <a href="{% url 'post-feedback' object.slug %}" class='subtle-link'>
            <small>
                {% trans 'Is something missing or incorrect?' %}
            </small>
        </a>
     </div>

{% endblock content %}



{% block scripts %}

 <script>

function hexToRgb(hex) {
    // Remove the hash symbol if it exists
    hex = hex.replace(/^#/, '');

    // Convert 3-character hex to 6-character hex if necessary
    if (hex.length === 3) {
        hex = hex.split('').map(function (char) {
            return char + char;
        }).join('');
    }

    // Parse the hex values and return RGB object
    return {
        r: parseInt(hex.slice(0, 2), 16),
        g: parseInt(hex.slice(2, 4), 16),
        b: parseInt(hex.slice(4, 6), 16)
    };
}

function luminance(r, g, b) {
    // Normalize the RGB values to [0, 1] range and apply gamma correction
    let a = [r, g, b].map(function (value) {
        value = value / 255;
        return value <= 0.03928 ? value / 12.92 : Math.pow((value + 0.055) / 1.055, 2.4);
    });

    // Calculate the luminance based on the formula
    return 0.2126 * a[0] + 0.7152 * a[1] + 0.0722 * a[2];
}

function contrastRatio(colorHex) {
    // Convert hex color to RGB
    const { r, g, b } = hexToRgb(colorHex);

    // Calculate luminance of the background color
    const L2 = luminance(r, g, b);

    // Luminance of white text (always 1)
    const L1 = 1;

    // Calculate the contrast ratio
    return (L1 + 0.05) / (L2 + 0.05);
}

function isWhiteTextLegible(colorHex, isLargeText = true) {
    // Calculate the contrast ratio for white text
    const ratio = contrastRatio(colorHex);
    console.log(ratio)
    // Use 4.5:1 for normal text and 3:1 for large text
    // Using 2 for a little less contrast required
    return ratio >= (isLargeText ? 1.9 : 4.5);
}

// Check if faction color is legible
const color = '{{ object_color }}';
const result = isWhiteTextLegible(color);

// Find all elements with the class 'bar-text'
const barTextElements = document.querySelectorAll('.bar-text');

// If the white text is not legible, change the class to 'bar-black-text'
if (!result) {
    barTextElements.forEach(function (element) {
        {% comment %} element.classList.remove('bar-text'); {% endcomment %}
        element.classList.add('bar-black-text');
    });
    console.log("White text is not legible, changed to black text.");
} else {
    console.log("White text is legible.");
}

</script>

{% endblock scripts %}