{% extends 'the_keep/base.html' %}
{% load i18n %}
{% block content %}

<article class="content-section">
  <div class="d-flex justify-content-between align-items-center">
    <div>
    </div>
      <h1 class='root-title'>{% trans 'Root FAQ' %}</h1>

    <div>
 
      {% if available_languages %}
            
            <div class="dropdown d-inline">
              <button class="btn btn-sm dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <small><i class="bi bi-translate"></i> {{ selected_language.name }}</small>
              </button>
              <ul class="dropdown-menu" aria-labelledby="languageDropdown">

                {% for lang in available_languages %}
                  <li>
                    <a class="dropdown-item" href="{% url 'faq-home-lang' lang_code=lang.code %}"><small>{{ lang.name }}</small></a>
                  </li>
                {% endfor %}
          
              </ul>
            </div>
        
      {% else %}
        <small>
            {{ selected_language }}
        </small>
      {% endif %}

    </div>
  </div>


<form id="faq-search-form" 
hx-get="{% url 'faq-home-lang' lang_code=lang_code  %}" 
hx-target="#faq-results" 
hx-swap="innerHTML"
hx-trigger="submit, input delay:300ms" 
autocomplete="off"
class="w-75 mx-auto">
    <input type="text" name="q" placeholder="Search FAQs..." class="form-control">
  </form>
  


  <div id="faq-results">
    {% include 'the_keep/faq/partials/global_faq_list.html' with faqs=faqs %}
  </div>
</article>
{% endblock %}

{% block scripts %}

  <script>
    function toggleAccordion(header) {
      const item = header.parentElement;
      const allItems = document.querySelectorAll('.accordion-item');
      allItems.forEach(i => {
        if (i !== item) i.classList.remove('active');
      });
      item.classList.toggle('active');
    }
  </script>

{% endblock scripts %}