<style>
    .inline-form {
        display: flex;
        align-items: center;
    }
</style>




<div style="display: flex; align-items: center;">
    <form class="inline-form"
            hx-post="{% url 'post-comment-sent' object.id %}" 
            hx-target="#post-notes"
            hx-swap="beforeend"
            _="on htmx:afterRequest reset() me">
        {% csrf_token %}
        {{ commentform }}
        <button class="btn btn-success btn-sm ml-1" type="submit">Submit</button>
    </form>
</div>